.size-menu,
.radio-menu,
.fabric-module-menu {
  padding: 0 0 0.5rem 0;
}
.size-menu__item,
.radio-menu__item,
.fabric-module-menu__item {
  padding: 0.5rem;
}
.no-touchevents .size-menu__item:hover,
.no-touchevents .radio-menu__item:hover,
.no-touchevents .fabric-module-menu__item:hover {
  background-color: var(--color-henk-black);
}
.no-touchevents .size-menu__item:hover label.radio,
.no-touchevents .radio-menu__item:hover label.radio,
.no-touchevents .fabric-module-menu__item:hover label.radio {
  color: #fff !important;
}
.no-touchevents .size-menu__item:hover label.radio:before,
.no-touchevents .radio-menu__item:hover label.radio:before,
.no-touchevents .fabric-module-menu__item:hover label.radio:before {
  background-color: #fff;
}
.no-touchevents .size-menu__item:hover label.radio:after,
.no-touchevents .radio-menu__item:hover label.radio:after,
.no-touchevents .fabric-module-menu__item:hover label.radio:after {
  border-color: #fff;
}

ul.size-menu,
ul.radio-menu,
ul.fabric-module-menu {
  list-style: none;
  margin: 0;
}

.choose-card__switch-menu {
  padding: 1rem 0 0 0;
}

.size-menu__item:hover label {
  color: #fff !important;
}