::part(button),
.sh-atom-button {
  font-family: var(--font-body, sans-serif), sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  display: inline-flex;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  text-align: center;
  letter-spacing: normal;
  text-decoration: none;
  padding: 0.5em 1.5em;
  cursor: pointer;
  font-feature-settings: "pnum" on, "lnum" on;
  background-color: var(--color-background-button, transparent);
  color: var(--color-text-button, #fff);
  border: 1px solid var(--color-border-button, #fff);
  border-radius: 32px;
  transition: all 0.6s ease;
  gap: 0.5em;
}

::part(button filled),
.sh-atom-button[data-style="filled"] {
  --color-background-button: var(--color-henk-black);
  --color-text-button: var(--color-henk-white);
  --color-border-button: var(--color-henk-black);
}

.sh-atom-button[data-style="outline-dark"] {
  --color-background-button: var(--color-transparent);
  --color-text-button: var(--color-henk-black);
  --color-border-button: var(--color-henk-black);
}

.sh-atom-button:hover {
  --color-background-button: var(--color-henk-black);
  --color-text-button: var(--color-henk-white);
  --color-border-button: var(--color-henk-black);
  opacity: 0.85;
}

.sh-atom-button[data-style="filled"]:hover,
.sh-atom-button[data-style*="outline"]:hover {
  opacity: 0.85;
}

.sh-atom-button[data-style="soft"] {
  --color-background-button: var(--color-henk-white);
  --color-text-button: var(--color-henk-black);
  --color-border-button: var(--color-henk-white);
}

.sh-atom-button[data-style="soft"]:hover {
  --color-background-button: var(--color-henk-black);
  --color-text-button: var(--color-henk-white);
  --color-border-button: var(--color-henk-black);
}

.sh-atom-button[data-style="plain"],
.sh-atom-button[data-style="plain-dark"] {
  --color-background-button: var(--color-transparent);
  --color-text-button: var(--color-henk-black);
  padding: 0;
  border: 0;
  border-radius: 0;
}

.sh-atom-button[data-style="plain-light"] {
  --color-background-button: var(--color-transparent);
  --color-text-button: var(--color-henk-white);
  padding: 0;
  border: 0;
}

.sh-atom-button[data-style="plain"]:hover,
.sh-atom-button[data-style="plain-dark"]:hover,
.sh-atom-button[data-style="plain-light"]:hover {
  text-decoration: underline;
}

/* plain light or dark with animated underline */
.sh-atom-button[data-style*="plain"][data-animated-hover] {
  text-decoration: none;
}

.sh-atom-button[data-animated-hover] {
  position: relative;
}

.sh-atom-button[data-style*="plain"][data-animated-hover]::before {
  content: "";
  position: absolute;
  bottom: 0;
  height: 1px;
  background-color: currentcolor;
  display: block;
  left: 0;
  pointer-events: none;
  width: 100%;
  transition: width 0.075s cubic-bezier(0, 0, 1, 0.06),
    top 0.75s cubic-bezier(0, 0, 1, 0.06);
}

@media (hover: hover) and (pointer: fine) {
  .sh-atom-button[data-style*="plain"][data-animated-hover]::before {
    width: 0;
  }
}

.sh-atom-button[data-style*="plain"][data-animated-hover]:hover::before {
  width: 45%;
  transition: width 0.25s cubic-bezier(0, 0, 0, 1.06);
}

.sh-atom-button[data-size="small"] {
  /* 12px */
  font-size: 0.75rem;
  line-height: 1.5;
}

.sh-atom-button[data-style*="plain"][data-size="small"] {
  /* 12px */
  font-size: 0.75rem;
}

.sh-atom-button[data-text-underline="true"] {
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 0.15em;
  text-decoration-skip-ink: auto;
}

.sh-atom-button:disabled,
.sh-atom-button[data-disabled="true"] {
  opacity: 0.5;
}

.sh-atom-button:disabled:hover,
.sh-atom-button[data-disabled="true"]:hover {
  cursor: not-allowed;
  background-color: transparent;
  color: currentcolor;
  opacity: 0.5;
}

.sh-atom-button[data-expand="true"] {
  width: 100%;
}

/* arrows */
.sh-atom-button::selection {
  background-color: transparent;
  color: currentcolor;
}

/* other icons */

/* TODO: remove */

.sh-atom-button .icon-frame {
  margin-left: 0.4706em;
}

.sh-atom-button[data-icon-arrow-left="true"] .icon-frame,
.sh-atom-button[data-icon-arrow-right="true"] .icon-frame {
  padding: 0;
  width: 20px;
  margin: 0;
}

.sh-atom-button[data-icon-arrow-left="true"] .icon-frame svg,
.sh-atom-button[data-icon-arrow-right="true"] .icon-frame svg,
.sh-atom-button[data-icon-arrow-left="true"] svg,
.sh-atom-button[data-icon-arrow-right="true"] svg {
  top: 1px;
  position: relative;
}

.sh-atom-button[data-icon-arrow-left="true"] path,
.sh-atom-button[data-icon-arrow-right="true"] path {
  transition: all 0.3s ease;
}

.sh-atom-button[data-icon-arrow-right="true"]:hover #arrow-right-line {
  transform: scaleX(1.5);
}

.sh-atom-button[data-icon-arrow-right="true"]:hover #arrow-right-point {
  transform: translateX(7px);
}

.sh-atom-button[data-icon-arrow-left="true"]:hover #arrow-left-line {
  transform: scaleX(1.5) translateX(-7px);
}

.sh-atom-button[data-icon-arrow-left="true"]:hover #arrow-left-point {
  transform: translateX(-7px);
}

/* override plain underline */
.sh-atom-button[data-icon-arrow-left="true"][data-style*="plain"],
.sh-atom-button[data-icon-arrow-right="true"][data-style*="plain"] {
  text-decoration: none;
}

/* anchor-link */
.sh-atom-button.--anchor-link,
.sh-atom-button[data-icon-arrow-down="true"] {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.sh-atom-button.--anchor-link:hover,
.sh-atom-button[data-icon-arrow-down="true"]:hover {
  text-decoration: none;
}

.sh-atom-button-icon[data-state="muted"] .sound-on {
  display: none !important;
}

.sh-atom-button-icon[data-state="unmuted"] .sound-muted {
  display: none !important;
}

/* if in video block */
[data-hasvideo] .sh-atom-button-icon[data-state="muted"],
[data-hasvideo] .sh-atom-button-icon[data-state="unmuted"] {
  position: absolute;
  left: 20px;
  bottom: 20px;
}

/* alignment */
::part(button price-align),
.sh-atom-button[data-alignment*="price"] {
  display: inline-grid;
  grid-template-columns: repeat(2, auto);
  column-gap: 1em;
  justify-content: center;
}

::part(price),
.sh-atom-button .sh-atom-button__price {
  font-weight: 500;
}

.sh-atom-button[data-alignment*="price-around"] {
  justify-content: space-around;
}

.sh-atom-button[data-alignment*="price-between"] {
  justify-content: space-between;
}

.sh-atom-button[data-alignment*="price-evenly"] {
  justify-content: space-evenly;
}

.sh-atom-button[data-alignment*="price-start"] {
  justify-content: flex-start;
}

.sh-atom-button[data-alignment*="price-end"] {
  justify-content: flex-end;
}

.sh-atom-button[data-alignment*="separator"] {
  grid-template-columns: repeat(3, auto);
}

.sh-atom-button[data-shape="circle"] {
  padding: 0.6875em;
}

.sh-atom-button[data-shape="circle"][data-size="small"] {
  padding: 0.5833333333em;
}

/* shapes */
/* toolbar */
.sh-atom-button[data-shape*="toolbar"] {
  border-radius: 0;
}

/* position arrows better */
svg#iconArrowLeft,
svg#iconArrowRight {
  position: relative;
  top: 1px;
}

#icon-arrow-right-animated #line,
#icon-arrow-right-animated #head {
  transition: transform 0.2s ease;
}

.sh-atom-button:hover #icon-arrow-right-animated #line {
  transform: scaleX(1.7);
}

.sh-atom-button:hover #icon-arrow-right-animated #head {
  transform: translateX(10px);
}