@charset "UTF-8";

/*TODO: rewrite to card component type product */
.mdl-shop-product {
  display: inline-flex;
}

.mdl-shop-product > * {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.mdl-shop-product img {
  height: auto;
}

.mdl-shop-product .mdl-shop-product__image,
.mdl-shop-product .mdl-shop-product__image-hover {
  height: auto;
  border-radius: 5px;
  transition: transform 0.3s ease;
}

.mdl-shop-product .mdl-shop-product__image-hover {
  opacity: 0;
  transition: opacity 0.5s ease;
}

.mdl-shop-product:not([data-hover="dissolve"]) .mdl-shop-product__link,
.mdl-shop-product:not([data-hover="dissolve"]) .mdl-shop-product__container {
  display: grid;
}

@media (hover: hover) {
  .mdl-shop-product:not([data-hover="dissolve"])
    .mdl-shop-product__link:hover
    .mdl-shop-product__image,
  .mdl-shop-product:not([data-hover="dissolve"])
    .mdl-shop-product__container:hover
    .mdl-shop-product__image {
    transform: scale(1.01);
  }
}

.mdl-shop-product[data-hover="dissolve"] .mdl-shop-product__link,
.mdl-shop-product[data-hover="dissolve"] .mdl-shop-product__container {
  position: relative;
}

@media (hover: hover) {
  .mdl-shop-product[data-hover="dissolve"]
    .mdl-shop-product__link:hover
    .mdl-shop-product__image-hover,
  .mdl-shop-product[data-hover="dissolve"]
    .mdl-shop-product__container:hover
    .mdl-shop-product__image-hover {
    opacity: 1;
  }
}

.mdl-shop-product .mdl-shop-product__image-mask {
  overflow: hidden;
  border-radius: 5px;
  display: flex;
}

.mdl-shop-product
  .mdl-shop-product__image-mask
  + .mdl-shop-product__image-mask {
  position: absolute;
  left: 0;
  top: 0;
}

.mdl-shop-product .mdl-shop-product__title {
  line-height: 28px;
  margin-top: 4px;
  font-size: 1rem;
  text-transform: none;
  letter-spacing: 0;
  padding-left: 0;
}

@media only screen and (max-width: 767px) {
  .mdl-shop-product .mdl-shop-product__title {
    font-size: 1rem;
    font-weight: 500;
    text-transform: none;
    letter-spacing: 0;
    padding-left: 0;
  }
}

.mdl-shop-product .mdl-shop-product__desc {
  font-size: 13px;
  margin: 0;
  padding-left: 0;
  line-height: 1.5;
}

@media only screen and (max-width: 767px) {
  .mdl-shop-product .mdl-shop-product__desc {
    padding-left: 0;
  }
}

.mdl-shop-product[data-variant="ar-portrait"] {
  height: 100%;
  width: 100%;
  display: block;
}

.mdl-shop-product[data-variant="ar-portrait"] .mdl-shop-product__link {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  color: currentcolor;
  height: 100%;
}

.mdl-shop-product[data-variant="ar-portrait"] .mdl-shop-product__image-mask {
  border-radius: 8px;
  overflow: hidden;
}

.mdl-shop-product[data-variant="ar-portrait"]
  .mdl-shop-product__image-mask:first-child {
  background-color: var(--color-background-card-product, #f9f8f6);
  flex: 1 1 auto;
}

.mdl-shop-product[data-variant="ar-portrait"] .mdl-shop-product__image,
.mdl-shop-product[data-variant="ar-portrait"] .mdl-shop-product__image-hover {
  object-fit: cover;
  height: 100%;
  transition: all 0.3s ease;
  width: auto;
}

@supports (aspect-ratio: 0.8) {
  .mdl-shop-product[data-variant="ar-portrait"] .mdl-shop-product__image,
  .mdl-shop-product[data-variant="ar-portrait"] .mdl-shop-product__image-hover {
    aspect-ratio: 0.8;
  }
}

@supports not (aspect-ratio: 0.8) {
  .mdl-shop-product[data-variant="ar-portrait"] .mdl-shop-product__image,
  .mdl-shop-product[data-variant="ar-portrait"] .mdl-shop-product__image-hover {
    max-height: 62vw;
  }

  @media only screen and (min-width: 992px) {
    .mdl-shop-product[data-variant="ar-portrait"] .mdl-shop-product__image,
    .mdl-shop-product[data-variant="ar-portrait"]
      .mdl-shop-product__image-hover {
      max-height: 31vw;
    }
  }
}

.mdl-shop-product[data-variant="category-setting"] {
  height: 100%;
}

.mdl-shop-product[data-variant="category-setting"] .mdl-shop-product__link,
.mdl-shop-product[data-variant="category-setting"]
  .mdl-shop-product__container {
  position: relative;
}

@media only screen and (max-width: 991px) {
  .mdl-shop-product[data-variant="category-setting"]
    .mdl-shop-product__image-mask {
    border-radius: 0;
  }

  .mdl-shop-product[data-variant="category-setting"]
    .mdl-shop-product__image-mask
    .mdl-shop-product__image {
    border-radius: 0;
  }
}

.mdl-shop-product[data-variant="category-setting"] .mdl-shop-product__image {
  height: 100%;
  aspect-ratio: 0.8;
  object-fit: cover;
}

@media only screen and (min-width: 1920px) {
  .mdl-shop-product[data-variant="category-setting"] .mdl-shop-product__image {
    width: auto;
  }
}

.mdl-shop-product[data-variant="category-setting"] .mdl-shop-product__content {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 0 clamp(32px, 7.24638vw, 48px) 3rem;
}

.mdl-shop-product[data-variant="category-setting"] .mdl-shop-product__title {
  --_min-font-size: 20;
  --_max-font-size: 31;
  
  color: var(--color-white, #f00);
  margin: 0;  
  font-size: max(calc(var(--_min-font-size, 20px) / 16 * 1rem), calc(var(--_max-font-size, 31px) * 100) / var(--size-screen-target) * 1vw);      
  line-height: 1.5;
  font-weight: 500;
  letter-spacing: 0;
  padding-left: 0;
}

.mdl-shop-product[data-variant="category-setting"] .mdl-shop-product__desc {
  font-size: 1rem;
  line-height: 28px;
  color: #fff;
  flex: none;
  padding-left: 0;
}

.mdl-shop-product[data-variant="category-setting"] .sh-atom-button {
  margin-top: 24px;
}

[data-grid="shop-product"] {
  padding: 16px;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  column-gap: 16px;
  row-gap: 1rem;
}

[data-grid="shop-product"]:not(:first-child) {
  padding-top: 8px;
}

@media only screen and (min-width: 768px) {
  [data-grid="shop-product"] {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (min-width: 992px) {
  [data-grid="shop-product"] {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media only screen and (min-width: 1440px) {
  [data-grid="shop-product"] {
    grid-template-columns: repeat(4, 1fr);
  }
}

[data-grid="shop-product"][data-variant~="settingImage"] {
  align-items: stretch;
}

@media only screen and (min-width: 1280px) {
  [data-grid="shop-product"][data-variant~="settingImage"] {
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    align-items: stretch;
  }

  [data-grid="shop-product"][data-variant~="settingImage"]
    .sh-l-grid__item:first-child {
    grid-column: 1/3;
    grid-row: 1/3;
  }
}

@media only screen and (max-width: 767px) {
  [data-grid="shop-product"][data-variant~="settingImage"]
    .sh-l-grid__item:first-child
    .mdl-shop-product__image-mask {
    border-radius: 0;
  }

  [data-grid="shop-product"][data-variant~="settingImage"]
    .sh-l-grid__item:first-child
    .mdl-shop-product__image-mask
    .mdl-shop-product__image {
    border-radius: 0;
  }
}

[data-grid="shop-product"][data-variant~="settingImage"]
  .sh-l-grid__item:first-child
  .mdl-shop-product {
  display: block;
  height: 100%;
  margin: 0 -16px;
}

@media only screen and (min-width: 768px) {
  [data-grid="shop-product"][data-variant~="settingImage"]
    .sh-l-grid__item:first-child
    .mdl-shop-product {
    margin: revert;
  }
}

[data-grid="shop-product"][data-variant~="settingImage"]
  .sh-l-grid__item:first-child
  .mdl-shop-product__link,
[data-grid="shop-product"][data-variant~="settingImage"]
  .sh-l-grid__item:first-child
  .mdl-shop-product__container {
  position: relative;
  height: 100%;
}

[data-grid="shop-product"][data-variant~="settingImage"]
  .sh-l-grid__item:first-child
  .mdl-shop-product__image {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

[data-grid="shop-product"][data-variant~="settingImage"]
  .sh-l-grid__item:first-child
  .mdl-shop-product__container
  .mdl-shop-product__content {
  position: absolute;
  bottom: 14px;
  left: 24px;
}

[data-grid="shop-product"][data-variant~="settingImage"]
  .sh-l-grid__item:first-child
  .mdl-shop-product__container
  .mdl-shop-product__title,
[data-grid="shop-product"][data-variant~="settingImage"]
  .sh-l-grid__item:first-child
  .mdl-shop-product__title {
  color: var(--color-white, #fff);
  margin-top: 0;
  /* font-size: 2.0625rem; */
  font-weight: 500;
  letter-spacing: 0;
  padding-left: 0;
}

@media only screen and (min-width: 1280px) {
  [data-grid="shop-product"][data-variant*="settingImage --flipped"]
    .sh-l-grid__item:first-child {
    grid-column: 3/5;
  }
}

[data-grid="shop-product"][data-variant="square"]
  .mdl-shop-product:not([data-hover="dissolve"])
  .mdl-shop-product__link {
  background: #fff;
  grid-template-rows: 1fr auto auto;
}

[data-grid="shop-product"][data-variant="square"]
  .mdl-shop-product__image-mask {
  background-color: #f9f8f6;
}

[data-grid="shop-product"][data-variant="square"]
  .mdl-shop-product__image-mask
  + .mdl-shop-product__image-mask {
  background-color: transparent;
}

[data-grid="shop-product"][data-variant="square"]
  .mdl-shop-product
  .mdl-shop-product__image,
[data-grid="shop-product"][data-variant="square"]
  .mdl-shop-product
  .mdl-shop-product__image-hover {
  width: 100%;
  aspect-ratio: 340/425;
  object-fit: cover;
  object-position: center center;
}

[data-grid="shop-product"][data-variant="square"][data-orientation="landscape"]
  .mdl-shop-product
  .mdl-shop-product__image,
[data-grid="shop-product"][data-variant="square"][data-orientation="landscape"]
  .mdl-shop-product
  .mdl-shop-product__image-hover {
  aspect-ratio: 425/340;
  object-fit: cover;
}

.sh-molecule-padding-box .sh-l-grid[data-variant~="settingImage"] {
  padding: 0;
}

@media only screen and (max-width: 767px) {
  .sh-molecule-padding-box
    .sh-l-grid[data-variant~="settingImage"]
    > .sh-l-grid__item:first-child {
    --spacing-margin-right-setting-image: calc(
      var(--size-spacing-units-right) * var(--size-spacing-unit-base) * -1
    );
    --spacing-margin-left-setting-image: calc(
      var(--size-spacing-units-left) * var(--size-spacing-unit-base) * -1
    );
    margin: 0 var(--spacing-margin-right-setting-image, -16px) 0
      var(--spacing-margin-left-setting-image, -16px);
  }

  .sh-molecule-padding-box
    .sh-l-grid[data-variant~="settingImage"]
    .sh-l-grid__item:first-child
    .mdl-shop-product {
    margin: 0;
  }
}

[data-variant~="settingImage"]
  .sh-l-grid__item:first-child
  .mdl-shop-product[data-variant="ar-portrait"]
  .mdl-shop-product__link
  .mdl-shop-product__content {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 0 clamp(32px, 7.24638vw, 48px) 3rem;
}

.mdl-shop-product__price {
  margin: 4px 0 0 0; 
  font-size: 13px;
  line-height: 25px;
  font-feature-settings: "pnum" on, "lnum" on;
  padding-right: 12px;
}

.mdl-shop-product > * > .sh-atom-tag {
  margin: 0;
  position: absolute;
  right: 12px;
  top: 20px;
}

.mdl-shop-product .mdl-shop-product__content {
  display: flex;
  flex-direction: column;
}

.mdl-shop-product__image-mask video,
.mdl-shop-product__video {
  width: 100%;
  object-fit: cover;
  aspect-ratio: 0.8;
}

@media only screen and (min-width: 992px) {
  .mdl-shop-product__image-mask video,
  .mdl-shop-product__video {
    border-radius: 5px;
  }
}

.--large .mdl-shop-product {
  width: 100%;
}

.--large .mdl-shop-product .mdl-shop-product__link {
  width: 100%;
}

.mdl-shop-product[data-variant="ar-portrait"] .mdl-shop-product__title {
  margin-bottom: 0;
}

.mdl-shop-product[data-variant="ar-portrait"] .mdl-shop-product__desc {
  min-height: 39px;
}

.org-grid-lister__item.--large .mdl-shop-product__title {
  margin-bottom: 0;
}
