.product-card {
  text-decoration: none;
  position: relative;
  display: block;
  margin: 1.5rem 0;
}
.product-card__title {
  position: relative;
  display: inline-block;
  margin: 0.5rem 0 0 0 !important;
  font-size: 0.75rem;
  text-transform: uppercase;
  letter-spacing: 1.8px;
  font-weight: 400;
}
.product-card__title:before {
  bottom: 0;
}
.product-card__subtitle {
  display: block;
  margin: 0 !important;
}
.product-card:hover,
.product-card:focus {
  text-decoration: none;
}