.ui-datepicker.ui-widget {
  font-family: var(--font-body, sans-serif), sans-serif; }

.ui-widget-header {
  background: white;
  border-color: #eee; }

.ui-datepicker td span,
.ui-datepicker td a {
  text-align: center; }

td[data-handler="selectDay"] .ui-state-default {
  background: #fff;
  color: #000; }

.ui-datepicker-current-day .ui-state-default.ui-state-active {
  background: black;
  color: white; }

.ui-datepicker .ui-datepicker-title,
.ui-datepicker th {
  font-weight: 400; }

.ui-datepicker .ui-datepicker-week-col {
  text-align: center; }

#datepicker + .basic-input {
  margin-top: 1rem; }

.ui-datepicker .ui-datepicker-unselectable.ui-state-disabled {
  background: #eee;
  opacity: .2; }

.ui-datepicker-prev > .ui-icon {
  background-image: url("/static/std/assets/toolkit/images/icons1/chevron_left-24px.svg") !important;
  background-position: 50% 50%; }

.ui-datepicker-next > .ui-icon {
  background-image: url("/static/std/assets/toolkit/images/icons1/chevron_right-24px.svg") !important;
  background-position: 50% 50%; }

.ui-datepicker .ui-datepicker-prev-hover,
.ui-datepicker .ui-datepicker-next-hover {
  background-color: #fff;
  background-image: none;
  border-color: #000;
  border-radius: 100%; }

.ui-datepicker .ui-datepicker-prev-hover > .ui-icon,
.ui-datepicker .ui-datepicker-next-hover > .ui-icon {
  background-color: transparent; }
