.quick-cart {
  transform: scaleY(0);
  max-height: 1px;
  opacity: 0;
  z-index: 4567890;
  position: fixed;
  right: -2rem;
  background-color: #fff;
  padding: 0.75rem 2rem 1.5rem 2rem;
  height: auto;
  border-left: 1px solid rgba(0, 0, 0, 0.36);
  border-bottom: 1px solid rgba(0, 0, 0, 0.36);
  transform-origin: top center;
  width: 100%;
}
@media (min-width: 768px) {
  .quick-cart {
    width: auto;
  }
}
.quick-cart.quick-cart__open {
  transition-duration: 0.4s;
  max-height: 1000px;
  opacity: 1;
  transform: scaleY(1);
}
.quick-cart__title {
  display: block;
  text-align: left;
  margin-bottom: 1.5rem;
}
.quick-cart__list {
  list-style: none;
  margin-left: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  margin-bottom: 0.75rem;
}
.quick-cart__list--item {
  display: flex;
  align-content: stretch;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 0 0.25rem 0;
  padding: 0.25rem 0 0.5rem;
  line-height: 1;
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
  text-align: left;
}
.quick-cart__list--item span:first-of-type {
  padding-right: 4.5rem;
}
.quick-cart-total {
  text-align: right;
}
.quick-cart-total__list {
  list-style: none;
  display: inline-block;
  margin: 0;
  line-height: 1;
  text-align: right;
}
.quick-cart-total__list--item {
  padding: 0.5rem 0;
}
.quick-cart-total__list--prices {
  padding-left: 1.5rem;
}
.quick-cart__btn-row {
  text-align: right;
  margin-top: 1.5rem;
  position: relative;
}
.quick-cart__btn-row--change {
  margin-bottom: 0.5rem;
  display: block;
  font-weight: normal !important;
}
@media (min-width: 544px) {
  .quick-cart__btn-row--change {
    display: inline-block;
    margin-bottom: 0;
  }
}
.quick-cart__btn-row--order {
  position: relative;
  margin-left: 0.5rem;
}