root = true

[*]
indent_style = space
indent_size = 4
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = false
insert_final_newline = false

# Set indentation size to 2 spaces for JavaScript and CSS files
[*.{js,mjs,ts,tsx,css,yml,md,markdown,mdx,json}]
indent_size = 2