.henk-section-header {
  display: flex;
  flex-direction: column;
  place-items: center;
  background-color: var(--color-background-base);
  color: var(--color-text-base);
  /* padding-block: var(--space-13, 96px); */
}

.henk-section-header .henk-section-header__inner {
  width: min(var(--size-width-content, 1140px), 100% - 3rem);
  margin-inline: auto;
}

.henk-section-header__content {
  display: flex;
  flex-direction: column;
  place-items: center;
  text-align: center;
  text-wrap: balance;
  width: min(540px, 100%);
  margin-inline: auto;
}

.henk-section-header__content > * {
  margin-block: 0;
}

.henk-section-header__caption {
  margin: 0;
  font-weight: 500;
}

.henk-section-header__title {
  text-align: center;
  text-wrap: balance;
  margin-block-start: 0;
  word-break: break-word; /* fallback */
  overflow-wrap: anywhere; /* preferred modern */
  hyphens: auto;
  text-box: trim-end ex alphabetic;
  padding-top: 9px;
}

.henk-section-header--align-left {
  place-items: flex-start;
}

.henk-section-header--align-left .henk-section-header__content {
  align-items: flex-start;
  text-align: left;
  margin-inline: unset;
}

.henk-section-header--align-left .henk-section-header__title {
  text-align: left;
}

.henk-section-header__text {
  :last-child {
    margin-block-end: 0;
  }
}

.henk-section-header__button {
  margin-block-start: 24px;
}
