.henk-newsletter-form__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  gap: 24px;

  .henk-newsletter-form__title {
    margin: 0;
  }

  .henk-newsletter-form__description {
    margin: 0;
    max-width: 45ch;
    text-align: center;
  }

  .henk-form.newsletter-form {
    .henk-labeled-input--required {
      margin-bottom: 0;
    }
  }
}
