.henk-content-divider {
  background-color: var(--color-background-base-invert);
  margin-block: var(--space-13, 96px sg);
  width: min(var(--size-width-content), 100% - 3rem);
  margin-inline: auto;
}

.henk-content-divider hr {
  border: none;
  height: 1px;
  margin: 0;
}

.henk-content-divider--bg-primary {
  background-color: var(--color-background-primary);
}
