.henk-cart-section {
  width: min(var(--size-width-content, 1140px), 100% - 3rem);
  margin-inline: auto;
}

.henk-cart-section__grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 24px;
  margin: 0 auto;
}

.henk-cart-section__list {
  display: grid;
  gap: 24px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.henk-cart-section__list-item {
  display: grid;
  justify-items: start;
  background: hsl(0deg 0% 100%);
  box-shadow: 0 0 8px #ebebeb;
  border-radius: 8px;
  overflow: clip;
}

.henk-cart-section__item-info {
  padding: 1rem 1rem 1rem 0;
}

.henk-cart-section__item-title {
  margin-block-start: 0;
  font-size: 31px;
  font-weight: 500;
}

/* connect to tokens: bgc */
.henk-cart-section__item-image {
  width: 100%;
  height: auto;
  background-color: #fff;
  margin-bottom: 1.5rem;
}

.henk-cart-section__item-image + .henk-tag {
  position: absolute;
  top: 24px;
  left: 24px;
}

.henk-cart-section__item-controls {
  padding: 24px 0;
  gap: 8px;
  display: grid;
  grid-template-columns: 117px 1fr 1fr;
  padding-block: 0;
  align-items: center;
  justify-items: start;
}

@media screen and (min-width: 768px) {
  .henk-cart-section__grid {
    grid-template-columns: repeat(3, 1fr);
  }

  .henk-cart-section__grid .henk-cart-section__grid-item:first-child {
    grid-column: 1 / span 2;
  }

  .henk-cart-section__list-item {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: stretch;
    gap: 24px;
  }

  .henk-cart-section__item-image {
    margin: 0;
  }
}

.henk-cart-section__item-update-button {
  grid-column: 2;
  grid-row: 1;
}

.henk-icon,
::part(henk-icon) {
  align-items: flex-start;
  display: inline-flex;
  place-content: center;
  pointer-events: none;
  transition: transform 0.3s ease;
}

.henk-cart-section__item-quantity {
  width: 116px;
  height: 44px;
  grid-column: 1;
  grid-row: 1;
  text-align: center;
  border: 1px solid var(--color-border-muted);
  border-radius: var(--radius-1);
  position: relative;
  z-index: 0;
  opacity: 1;
  transition: all 0.25s ease;
  transition-behavior: allow-discrete;
}

/*.henk-cart-section__item-quantity {
}*/

henk-quantity-stepper:defined ~ .henk-cart-section__item-quantity {
  opacity: 0;
  visibility: hidden;
  grid-column: 1;
  grid-row: 1;
}

henk-quantity-stepper {
  grid-column: 1;
  grid-row: 1;
  opacity: 0;
  transition: opacity 0.5s ease;
  transform: scale(0.98);
  min-width: 116px;
  position: relative;
  z-index: 1;
}

henk-quantity-stepper:defined {
  opacity: 1;
}

.js-enable blink {
  animation: blink 1s step-start infinite;
}

.js-enabled .henk-cart-section__item-update-button {
  display: none;
}

js-enabled .henk-cart-section__item-remove-button {
  grid-column: 2;
  grid-row: 1;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

.henk-cart-section__summary-wrapper {
  background-color: #fff;
  border: 1px solid var(--color-border-muted, #d1d1d1);
  border-radius: 8px;
  padding: 1.5rem;

  .cart-totals {
    background-color: #fff;
  }
}

@media screen and (min-width: 768px) {
  .henk-cart-section__summary-wrapper {
    position: sticky;
    top: var(--size-height-header, 72px);
  }
}
