.henk-content-divider {
  background-color: #fff;  
}

.henk-content-divider hr {
  border: none;
  height: 1px;
  background-color: var(--color-ui-border-default, #d1d1d1);
}

.henk-content-divider--primary hr {
  background-color: var(--color-ui-border-primary, #1b33cb);
}

.henk-content-divider--transparent hr {
  background-color: var(--color-ui-border-transparent, transparent); 
}