<div class="henk-grid{% if modifier_class != blank %} {{ modifier_class }}{% endif %}">
  <div class="henk-grid__container">
    {% if blocks and blocks.size > 0 %}
      {% for block in blocks %}
        {% if block.type == 'card' %}
          {% render 'henk-card',
            href: block.settings.href,
            image: block.settings.image,
            image_alt: block.settings.image_alt,
            title: block.settings.title,
            subtitle: block.settings.subtitle,
            rounded: block.settings.rounded,
            shadow: block.settings.shadow
          %}
        {% endif %}
      {% endfor %}
    {% elsif items and items.size > 0 %}
      {% for item in items %}
        {% if item.image %}
          {% assign image_url = item.image | image_url: width: 1134 %}
        {% else %}
          {% assign image_url = 'https://placehold.co/1260x1260?text=1260x1260\nno%20image%20assigned'
            | append: item.name.value
            | append: '/1260/1260'
          %}
        {% endif %}

        {% render 'henk-card',
          href: item.system.url,
          image: image_url,
          image_alt: item.name.value,
          title: item.name.value,
          subtitle: '',
          rounded: true,
          shadow: false
        %}
      {% endfor %}
    {% endif %}
  </div>
</div>

{% stylesheet %}
  .henk-grid {
    padding-block: 40px 130px;
    width: min(var(--size-width-content), 100% - 3rem);
    margin-inline: auto;
    container-name: henk-grid;
    container-type: inline-size;

    .henk-grid__container {
      display: grid;
      grid-template-columns: 1fr;
      column-gap: 0;
      row-gap: 130px;
    }
    @container (min-width:600px) {
      .henk-grid__container {
        grid-template-columns: repeat(2, minmax(0, 1fr));

        .henk-card {
          max-width: none;
          margin-left: -0.5px;
          margin-top: -0.5px;
        }
      }
    }
    @container (min-width:900px) {
      .henk-grid__container {
        grid-template-columns: repeat(3, minmax(0, 1fr));
      }
    }
  }
{% endstylesheet %}
