<section class="shopify-section henk-section">
  <div class="henk-section__inner">
    <div class="henk-newsletter-form__container" id="newsletter_form">
      <h2 class="henk-newsletter-form__title">Join our newsletter</h2>
      <p class="henk-newsletter-form__description">
        Enjoy exclusive invites to events, be the first to discover new interior treasures and read our most inspiring
        interior stories.
      </p>
      <form class="henk-form newsletter-form">
        <div class="henk-form-grid">
          <div class="henk-form-grid__item">
            <div
              class="henk-labeled-input henk-labeled-input--dir-vertical henk-labeled-input--floating henk-labeled-input--required"
            >
              <input
                type="email"
                placeholder=" "
                required=""
                id="newsletter-email"
                class="henk-input"
              >
              <label class="henk-label" for="newsletter-email">
                <span class="henk-label-text">
                  Email
                  <span class="required-indicator">*</span>
                </span>
              </label>
              <span class="error-message">This field is required</span>
            </div>
          </div>
          <div class="henk-form-grid__item">
            <div class="henk-button-group henk-button-group--left">
              <button type="submit" class="henk-button henk-button--primary">Subscribe</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>
