.usp-bar {
    display: none;
    --_color-background-usp-bar: var(--color-token-surface-default, #fff);
    --_color-text-usp-bar: var(--color-token-text-primary, #000);
    
    background-color: var(--_color-background-usp-bar);
    color: var(--_color-text-usp-bar, #000);
    padding: 4px 1rem;
    width: 100%;

    --color-text-action: currentcolor;
}

.usp-bar--primary {
  --_color-background-usp-bar: var(--color-token-surface-primary, #009FF5);
  --_color-text-usp-bar: var(--color-primitive-white, #fff);
}

.usp-bar--secondary {
  --_color-background-usp-bar: var(--color-token-surface-secondary, transparent);
}

.usp-bar--tertiary {
  --_color-background-usp-bar: var(--color-token-surface-tertiary, #EAE4D7);
}

.usp-bar--quaternary {
  --_color-background-usp-bar: var(--color-token-surface-quaternary, #CCC7BD);
}

.usp-bar--highlight {
  --_color-background-usp-bar: var(--color-token-surface-highlight, #6B7156);
}

.usp-bar a:hover,
.usp-bar a:focus {
    /* --color-text-action: var(--color-henk-black); */
    color: red;
}

.usp-bar * {
    margin: 0;
    padding: 0;
}

.usp-bar__list {
    list-style: none;
    display: flex;
    gap: 1rem;
    width: 100%;
    justify-content: space-evenly;
}

@media only screen and (min-width: 768px) {
    .usp-bar {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1000;
        display: flex;
        place-content: center;
    }
}