.henk-split-screen {
  background-color: var(--color-background-palette-5, #fff);
  padding-block: 4lh;
}

.henk-split-screen__inner {
  width: min(var(--size-width-content, 1140px), 100% - 3rem);
  margin-inline: auto;
}

.henk-split-screen__grid {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  max-width: none;
  row-gap: 1.5rem;
}

.henk-split-screen__video {
  max-width: 100%;
  border-radius: 8px;
}

.henk-split-screen__picture {
  display: block;
}

.henk-split-screen__img {
  height: auto;
  aspect-ratio: 2/3;
  border-radius: 8px;
  margin-bottom: 0;
}

svg.henk-split-screen__img {
  width: 1152px;
  height: 1728px;
}

.henk-split-screen__content {
  text-wrap: auto;
  display: grid;
  gap: 24px;
  justify-content: start;
  justify-items: start;
  align-items: start;
  padding-block: 1lh;
}

.henk-split-screen__title {
  margin: 0;
}

.henk-split-screen__subtitle {
  margin: 0;
  grid-row: 1;
  font-weight: normal;
}

.henk-split-screen__text {
  max-width: 33em;
}

.henk-split-screen__text>*:first-child {
  margin-top: 0;
}

.henk-split-screen__text>*:last-child {
  margin-bottom: 0;
}

@media screen and (min-width: 640px) {
  .henk-split-screen__grid {
    flex-direction: row;
    column-gap: 1.5rem;
    align-items: center;
  }

  .henk-split-screen__grid-item {
    flex: 1 1 50%;
  }

  .henk-split-screen__inner[data-order="reverse"] .henk-split-screen__grid {
    flex-direction: row-reverse;
  }

  .henk-split-screen__img {
    object-fit: cover;
    width: 100%;
  }
}

@media (min-width: 1140px) {
  .henk-split-screen__grid {
    column-gap: 6rem;
  }
}
