.fw-400,
.fw-roman {
  font-weight: var(--font-weight-regular, 400);
}

.fw-500,
.fw-medium {
  font-weight: var(--font-weight-semibold, 500);
}

.fw-700,
.fw-bold {
  font-weight: var(--font-weight-bold, 700);
}
