.henk-logo {
  --color-text-link: var(--color-text-base, #000);

  background-color: var(--color-background-base);
  display: inline-flex;
  margin-block: 0;
  margin-inline: 0;
  padding-block: 1lh;
  padding-inline: 18px;
}

.henk-logo--default-inverted {
  --color-text-link: var(--color-text-base-invert);
  background-color: var(--color-background-base-invert);
}

.henk-logo--default-inverted {
  --color-text-link-hover: var(--color-text-secondary);
}

.henk-logo--primary {
  --color-text-link: var(--color-primary);
  background-color: var(--color-background-secondary);
}

.henk-logo--secondary {
  --color-text-link: var(--color-text-secondary);
  background-color: var(--color-background-primary);
}

/* .henk-logo--secondary:hover { */
/*   --color-text-link-hover: var(--color-text-secondary); */
/* } */
