h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  margin-block: 1lh;
  line-height: 1.5;
  letter-spacing: -0.025em;
  text-wrap: balance;
}

h1.display,
.h1.display {
  --_target-lh: 48;
  font-size: var(--size-font-xxxx-large);
  line-height: calc(var(--_target-lh) / var(--size-font-xxxx-large-px, 48px));
}

h1,
.h1 {
  font-size: var(--size-font-xxx-large);
  line-height: calc(48 / var(--size-font-xxx-large-px, 48px));
}

h2,
.h2 {
  font-size: var(--size-font-xx-large);
  line-height: calc(40 / var(--size-font-xx-large-px, 40px));
}

h3,
.h3 {
  font-size: var(--size-font-x-large);
  line-height: calc(32 / var(--size-font-x-large-px, 32px));
}

h4,
.h4 {
  font-size: var(--size-font-large);
  line-height: calc(24 / var(--size-font-large-px, 24px));
}

h5,
.h5 {
  font-size: var(--size-font-medium);
  line-height: calc(24 / var(--size-font-medium-px, 24px));
}

h6,
.h6 {
  font-size: var(--size-font-medium);
  line-height: calc(24 / var(--size-font-medium-px, 24px));
}

.fs-small {
  font-size: var(--size-font-small, 13px);
  line-height: calc(24 / var(--size-font-medium-px, 24px));
}
