@layer components.link-button {
  .henk-link-button {
    --_color-background-button: var(--color-background-tertiary);
    --_color-text-button: var(--color-text-static);
    --_color-border-button: var(--color-border-static);

    background-color: var(--_color-background-button);
    color: var(--_color-text-button);
    border: 1px solid var(--_color-border-button);
    border-radius: 4px;
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
    line-height: 1.5;
    padding: 0.5625em 1em;
    text-decoration: none;
    text-underline-offset: 0;
    font-family: var(--font-body, sans-serif), sans-serif;
    font-size: 1rem;
    font-weight: var(--font-weight-semibold, 500);
    transition: all 0.3s ease;
    text-align: center;
  }

  @media screen and (max-width: 321px) {
    .henk-link-button {
      padding-inline: 16px;
    }
  }

  .henk-link-button:hover,
  a:hover span.henk-link-button {
    --_color-background-button: var(--color-background-base-invert);
    --_color-text-button: var(--color-text-base-invert);
    text-underline-offset: 0;
  }

  .henk-link-button--primary {
    /* --_color-background-button: hsl( */
    /*   from var(--color-background-primary) h s 75 */
    /* ); */
    --_color-background-button: var(--color-background-primary-light);
    --_color-text-button: var(--color-text-static);
  }

  .henk-link-button--secondary {
    --_color-background-button: var(--color-background-secondary);
  }

  .henk-link-button:has(.icon--large) {
    padding-block: 9px;
  }

  .henk-link-button:has(.icon--medium) {
    padding-block: 3px;
  }

  /* disabled state */
  .henk-link-button[disabled],
  .henk-link-button[aria-disabled="true"] {
    --_color-background-button: var(--color-background-disabled);
    --_color-text-button: var(--color-text-on-disabled);
    --_color-border-button: var(--color-border-disabled);

    cursor: not-allowed;
  }

  .henk-link-button[disabled]:hover,
  .henk-link-button[aria-disabled="true"]:hover {
    --color-text-link-hover: var(--color-text-on-disabled);
  }

  .henk-link-button--small {
    font-size: 0.8125em;
    line-height: 1.84615385em;
    padding: 3px 16px;
  }

  /*dark mode*/
  [data-theme="dark"] {
    .henk-link-button:hover,
    a:hover span.henk-link-button {
      --_color-border-button: var(--color-border-base-invert);
    }
  }

  @media (prefers-color-scheme: dark) {
    :root:not([data-theme]) {
      .henk-link-button:hover,
      a:hover span.henk-link-button {
        --_color-border-button: var(--color-border-base-invert);
      }
    }
  }
}
