*{
  box-sizing:border-box;
}

.visually-hidden{
  position:absolute !important;
  overflow:hidden;
  width:1px;
  height:1px;
  margin:-1px;
  padding:0;
  border:0;
  clip:rect(0 0 0 0);
  word-wrap:normal !important;
}

html{
  background-color:var(--color-background-body);
  color:var(--color-text-body, #000);
  font-family:var(--font-body, sans-serif), sans-serif;
  font-feature-settings:"pnum" on, "lnum" on, "pnum", "liga", "clig";
  font-variant-numeric:proportional-nums;
  font-variant-ligatures:common-ligatures;
  font-size:100%;
  height:100%;
  letter-spacing:0;
  line-height:1.5;
  scroll-behavior:smooth;
  scrollbar-gutter:stable;
  interpolate-size:allow-keywords;
  -moz-osx-font-smoothing:grayscale;
  -webkit-tap-highlight-color:rgba(0, 0, 0, 0);
  -webkit-overflow-scrolling:touch;
}

@supports (-webkit-font-smoothing: antialiased){
  html{
    -webkit-font-smoothing:antialiased;
  }
}

body{
  margin:0;
  background-color:var(--color-background-body);
  color:var(--color-text-body);
  height:100%;
  overflow-wrap:break-word;
  hyphens:auto;
}

.baseline{
  background-image:linear-gradient(
    to bottom,
    rgba(255, 0, 128, 0.4) 1px,
      transparent 1px
  );
  background-size:100% 24px;
}

.baseline-grid::before{
  content:"";
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background-image:linear-gradient(
    to bottom,
    rgba(255, 0, 128, 0.3) 1px,
    transparent 1px
  );
  background-size:100% 24px;
  pointer-events:none;
  z-index:9999;
}

img{
  background-repeat:no-repeat;
  background-size:cover;
  display:block;
  font-style:italic;
  height:auto;
  margin-bottom:24px;
  max-width:100%;
  shape-margin:1rem;
}

.amp{
  font-family:Baskerville, Georgia, serif;
  font-style:italic;
}

em{
  font-style:italic;
}

a:link{
  color:var(--color-text-link);
  text-decoration-line:underline;
  -webkit-text-decoration-skip:ink;
  text-decoration-skip-ink:auto;
  text-decoration-thickness:1px;
  text-underline-offset:0.0875em;
  transition:all 0.2s ease;
}

a:visited{
  color:var(--color-text-link-visited, lime);
}

a:focus,
a:hover{
  text-underline-offset:4px;
  color:var(--color-text-link-hover);
}

a:active{
  color:var(--color-text-link-active, red);
}

:focus-visible{
  outline:2px solid var(--color-text-link, purple);
  outline-offset:2px;
}

ul,
ol{
  padding-left:16px;
}

p,
ul,
ol{
  margin-block:var(--vertical-rhythm, 24px);
}

dl{
  margin-block:1.5rem;
}

dl dt{
    font-weight:var(--font-weight-semibold);
  }

dl dd{
    margin-inline-start:0;
  }

dl dd + dt{
    margin-block-start:1.5rem;
  }

small{
  font-size:0.8125rem;
  line-height:1.5;
  font-weight:inherit;
  display:inline;
}

h1,
h2,
h3,
h4,
h5,
h6{
  font-weight:400;
  margin-block:var(--space-4, 24px);
  line-height:1.5;
  letter-spacing:-0.025em;
  text-wrap:balance;
}

h1.fs-display,
.h1.fs-display{
  --_target-lh:48;
  font-size:var(--size-font-xxxx-large);
  line-height:72px;
}

h1,
.h1{
  font-size:var(--size-font-xxx-large);
  line-height:48px;
}

h2,
.h2{
  font-size:var(--size-font-xx-large);
  line-height:40px;
}

h3,
.h3{
  font-size:var(--size-font-x-large);
  line-height:32px;
}

h4,
.h4{
  font-size:var(--size-font-large);
  line-height:24px;
}

h5,
.h5{
  font-size:var(--size-font-medium);
  line-height:24px;
}

h6,
.h6{
  font-size:var(--size-font-medium);
  line-height:24px;
}

table{
  background-color:var(--color-background-base, #fff);
  border:1px solid var(--color-border-muted, #ccc);
  border-collapse:collapse;
  margin-bottom:1.5rem;
  width:100%;
}

table caption{
    caption-side:top;
    font-size:var(--size-font-large, 20px);
    padding:var(--space-1, 4px);
    text-align:center;
    background-color:var(--color-background-muted, #ccc);
  }

table th,table td{
    padding:var(--space-1, 4px);
    border-bottom:1px solid var(--color-border-muted, #ccc);
    border-left:1px solid var(--color-border-muted, #ccc);
  }

table th{
    font-weight:var(--font-weight-semibold, 500);
  }

table tbody{
    font-size:var(--size-font-small, 13px);
  }

table tbody th{
    font-weight:400;
  }

table tfoot th{
    font-weight:500;
  }

table th[scope="row"]{
    text-align:left;
  }

table.henk-table--no-border{
    border:none;
  }

table.henk-table--no-border th,table.henk-table--no-border td{
      border:none;
    }

/*# sourceMappingURL=data:application/json;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbIi4uLy4uL3NyYy9hc3NldHMvaGVuay1iYXNlLmNzcyJdLCJuYW1lcyI6W10sIm1hcHBpbmdzIjoiQUFBQTtFQUNFLHFCQUFzQjtBQUN4Qjs7QUFFQTtFQUNFLDRCQUE2QjtFQUM3QixlQUFnQjtFQUNoQixTQUFVO0VBQ1YsVUFBVztFQUNYLFdBQVk7RUFDWixTQUFVO0VBQ1YsUUFBUztFQUNULGtCQUFtQjtFQUNuQiwyQkFBNEI7QUFDOUI7O0FBRUE7RUFDRSw2Q0FBOEM7RUFDOUMsa0NBQW1DO0VBQ25DLG9EQUFxRDtFQUNyRCxrRUFFVztFQUNYLHNDQUF1QztFQUN2Qyx1Q0FBd0M7RUFDeEMsY0FBZTtFQUNmLFdBQVk7RUFDWixnQkFBaUI7RUFDakIsZUFBZ0I7RUFDaEIsc0JBQXVCO0VBQ3ZCLHVCQUF3QjtFQUN4QiwrQkFBZ0M7RUFDaEMsaUNBQWtDO0VBQ2xDLDRDQUE2QztFQUM3QyxnQ0FBaUM7QUFDbkM7O0FBRUE7RUFDRTtJQUNFLGtDQUFtQztFQUNyQztBQUNGOztBQUVBO0VBQ0UsUUFBUztFQUNULDZDQUE4QztFQUM5Qyw0QkFBNkI7RUFDN0IsV0FBWTtFQUNaLHdCQUF5QjtFQUN6QixZQUFhO0FBQ2Y7O0FBR0E7RUFDRTs7OztHQUlDO0VBQ0QseUJBQTBCO0FBQzVCOztBQUdBO0VBQ0UsVUFBVztFQUNYLGNBQWU7RUFDZixLQUFNO0VBQ04sTUFBTztFQUNQLFVBQVc7RUFDWCxXQUFZO0VBQ1o7Ozs7R0FJQztFQUNELHlCQUEwQjtFQUMxQixtQkFBb0I7RUFDcEIsWUFBYTtBQUNmOztBQUVBO0VBQ0UsMkJBQTRCO0VBQzVCLHFCQUFzQjtFQUN0QixhQUFjO0VBQ2QsaUJBQWtCO0VBQ2xCLFdBQVk7RUFDWixrQkFBbUI7RUFDbkIsY0FBZTtFQUNmLGlCQUFrQjtBQUNwQjs7QUFFQTtFQUNFLHVDQUF3QztFQUN4QyxpQkFBa0I7QUFDcEI7O0FBRUE7RUFDRSxpQkFBa0I7QUFDcEI7O0FBRUE7RUFDRSw0QkFBNkI7RUFDN0IsOEJBQStCO0VBQy9CLGdDQUFpQztFQUNqQyw2QkFBOEI7RUFDOUIsNkJBQThCO0VBQzlCLDhCQUErQjtFQUMvQix3QkFBeUI7QUFDM0I7O0FBRUE7RUFDRSwwQ0FBMkM7QUFDN0M7O0FBRUE7O0VBRUUseUJBQTBCO0VBQzFCLGtDQUFtQztBQUNyQzs7QUFFQTtFQUNFLHdDQUF5QztBQUMzQzs7QUFFQTtFQUNFLGdEQUFpRDtFQUNqRCxrQkFBbUI7QUFDckI7O0FBRUE7O0VBRUUsaUJBQWtCO0FBQ3BCOztBQUdBOzs7RUFHRSx5Q0FBMEM7QUFDNUM7O0FBRUE7RUFDRSxtQkFBb0I7QUFZdEI7O0FBVkU7SUFDRSx1Q0FBd0M7RUFDMUM7O0FBQ0E7SUFDRSxxQkFBc0I7RUFDeEI7O0FBRUE7SUFDRSx5QkFBMEI7RUFDNUI7O0FBR0Y7RUFDRSxtQkFBb0I7RUFDcEIsZUFBZ0I7RUFDaEIsbUJBQW9CO0VBQ3BCLGNBQWU7QUFDakI7O0FBRUE7Ozs7OztFQU1FLGVBQWdCO0VBQ2hCLGlDQUFrQztFQUNsQyxlQUFnQjtFQUNoQix1QkFBd0I7RUFDeEIsaUJBQWtCO0FBQ3BCOztBQUVBOztFQUVFLGVBQWdCO0VBQ2hCLHFDQUFzQztFQUN0QyxnQkFBaUI7QUFDbkI7O0FBRUE7O0VBRUUsb0NBQXFDO0VBQ3JDLGdCQUFpQjtBQUNuQjs7QUFFQTs7RUFFRSxtQ0FBb0M7RUFDcEMsZ0JBQWlCO0FBQ25COztBQUVBOztFQUVFLGtDQUFtQztFQUNuQyxnQkFBaUI7QUFDbkI7O0FBRUE7O0VBRUUsZ0NBQWlDO0VBQ2pDLGdCQUFpQjtBQUNuQjs7QUFFQTs7RUFFRSxpQ0FBa0M7RUFDbEMsZ0JBQWlCO0FBQ25COztBQUVBOztFQUVFLGlDQUFrQztFQUNsQyxnQkFBaUI7QUFDbkI7O0FBRUE7RUFDRSxtREFBb0Q7RUFDcEQsZ0RBQWlEO0VBQ2pELHdCQUF5QjtFQUN6QixvQkFBcUI7RUFDckIsVUFBVztBQTZDYjs7QUEzQ0U7SUFDRSxnQkFBaUI7SUFDakIsc0NBQXVDO0lBQ3ZDLDJCQUE0QjtJQUM1QixpQkFBa0I7SUFDbEIsb0RBQXFEO0VBQ3ZEOztBQUVBO0lBRUUsMkJBQTRCO0lBQzVCLHVEQUF3RDtJQUN4RCxxREFBc0Q7RUFDeEQ7O0FBRUE7SUFDRSw0Q0FBNkM7RUFDL0M7O0FBRUE7SUFDRSxzQ0FBdUM7RUFDekM7O0FBRUE7SUFDRSxlQUFnQjtFQUNsQjs7QUFFQTtJQUNFLGVBQWdCO0VBQ2xCOztBQUVBO0lBQ0UsZUFBZ0I7RUFDbEI7O0FBRUE7SUFDRSxXQUFZO0VBTWQ7O0FBSkU7TUFFRSxXQUFZO0lBQ2QiLCJmaWxlIjoiaGVuay1iYXNlLmNzcyIsInNvdXJjZXNDb250ZW50IjpbIioge1xuICBib3gtc2l6aW5nOiBib3JkZXItYm94O1xufVxuXG4udmlzdWFsbHktaGlkZGVuIHtcbiAgcG9zaXRpb246IGFic29sdXRlICFpbXBvcnRhbnQ7XG4gIG92ZXJmbG93OiBoaWRkZW47XG4gIHdpZHRoOiAxcHg7XG4gIGhlaWdodDogMXB4O1xuICBtYXJnaW46IC0xcHg7XG4gIHBhZGRpbmc6IDA7XG4gIGJvcmRlcjogMDtcbiAgY2xpcDogcmVjdCgwIDAgMCAwKTtcbiAgd29yZC13cmFwOiBub3JtYWwgIWltcG9ydGFudDtcbn1cblxuaHRtbCB7XG4gIGJhY2tncm91bmQtY29sb3I6IHZhcigtLWNvbG9yLWJhY2tncm91bmQtYm9keSk7XG4gIGNvbG9yOiB2YXIoLS1jb2xvci10ZXh0LWJvZHksICMwMDApO1xuICBmb250LWZhbWlseTogdmFyKC0tZm9udC1ib2R5LCBzYW5zLXNlcmlmKSwgc2Fucy1zZXJpZjtcbiAgZm9udC1mZWF0dXJlLXNldHRpbmdzOlxuICAgIFwicG51bVwiIG9uLFxuICAgIFwibG51bVwiIG9uO1xuICBmb250LXZhcmlhbnQtbnVtZXJpYzogcHJvcG9ydGlvbmFsLW51bXM7XG4gIGZvbnQtdmFyaWFudC1saWdhdHVyZXM6IGNvbW1vbi1saWdhdHVyZXM7XG4gIGZvbnQtc2l6ZTogMTAwJTtcbiAgaGVpZ2h0OiAxMDAlO1xuICBsZXR0ZXItc3BhY2luZzogMDtcbiAgbGluZS1oZWlnaHQ6IDEuNTtcbiAgc2Nyb2xsLWJlaGF2aW9yOiBzbW9vdGg7XG4gIHNjcm9sbGJhci1ndXR0ZXI6IHN0YWJsZTtcbiAgaW50ZXJwb2xhdGUtc2l6ZTogYWxsb3cta2V5d29yZHM7XG4gIC1tb3otb3N4LWZvbnQtc21vb3RoaW5nOiBncmF5c2NhbGU7XG4gIC13ZWJraXQtdGFwLWhpZ2hsaWdodC1jb2xvcjogcmdiYSgwLCAwLCAwLCAwKTtcbiAgLXdlYmtpdC1vdmVyZmxvdy1zY3JvbGxpbmc6IHRvdWNoO1xufVxuXG5Ac3VwcG9ydHMgKC13ZWJraXQtZm9udC1zbW9vdGhpbmc6IGFudGlhbGlhc2VkKSB7XG4gIGh0bWwge1xuICAgIC13ZWJraXQtZm9udC1zbW9vdGhpbmc6IGFudGlhbGlhc2VkO1xuICB9XG59XG5cbmJvZHkge1xuICBtYXJnaW46IDA7XG4gIGJhY2tncm91bmQtY29sb3I6IHZhcigtLWNvbG9yLWJhY2tncm91bmQtYm9keSk7XG4gIGNvbG9yOiB2YXIoLS1jb2xvci10ZXh0LWJvZHkpO1xuICBoZWlnaHQ6IDEwMCU7XG4gIG92ZXJmbG93LXdyYXA6IGJyZWFrLXdvcmQ7XG4gIGh5cGhlbnM6IGF1dG87XG59XG5cbi8qIGRlYnVnZ2luZyAqL1xuLmJhc2VsaW5lIHtcbiAgYmFja2dyb3VuZC1pbWFnZTogbGluZWFyLWdyYWRpZW50KFxuICAgIHRvIGJvdHRvbSxcbiAgICByZ2JhKDI1NSwgMCwgMTI4LCAwLjQpIDFweCxcbiAgICAvKiBtYWdlbnRhIGxpbmUgKi8gdHJhbnNwYXJlbnQgMXB4XG4gICk7XG4gIGJhY2tncm91bmQtc2l6ZTogMTAwJSAyNHB4O1xufVxuXG4vKiAuaGVuay13cmFwcGVyOjpiZWZvcmUsICovXG4uYmFzZWxpbmUtZ3JpZDo6YmVmb3JlIHtcbiAgY29udGVudDogXCJcIjtcbiAgcG9zaXRpb246IGZpeGVkO1xuICB0b3A6IDA7XG4gIGxlZnQ6IDA7XG4gIHdpZHRoOiAxMDAlO1xuICBoZWlnaHQ6IDEwMCU7XG4gIGJhY2tncm91bmQtaW1hZ2U6IGxpbmVhci1ncmFkaWVudChcbiAgICB0byBib3R0b20sXG4gICAgcmdiYSgyNTUsIDAsIDEyOCwgMC4zKSAxcHgsXG4gICAgdHJhbnNwYXJlbnQgMXB4XG4gICk7XG4gIGJhY2tncm91bmQtc2l6ZTogMTAwJSAyNHB4O1xuICBwb2ludGVyLWV2ZW50czogbm9uZTsgLyogbGV0IGNsaWNrcyBnbyB0aHJvdWdoICovXG4gIHotaW5kZXg6IDk5OTk7IC8qIGFib3ZlIGV2ZXJ5dGhpbmcgKi9cbn1cblxuaW1nIHtcbiAgYmFja2dyb3VuZC1yZXBlYXQ6IG5vLXJlcGVhdDtcbiAgYmFja2dyb3VuZC1zaXplOiBjb3ZlcjtcbiAgZGlzcGxheTogYmxvY2s7XG4gIGZvbnQtc3R5bGU6IGl0YWxpYztcbiAgaGVpZ2h0OiBhdXRvO1xuICBtYXJnaW4tYm90dG9tOiAyNHB4O1xuICBtYXgtd2lkdGg6IDEwMCU7XG4gIHNoYXBlLW1hcmdpbjogMXJlbTtcbn1cblxuLmFtcCB7XG4gIGZvbnQtZmFtaWx5OiBCYXNrZXJ2aWxsZSwgR2VvcmdpYSwgc2VyaWY7XG4gIGZvbnQtc3R5bGU6IGl0YWxpYztcbn1cblxuZW0ge1xuICBmb250LXN0eWxlOiBpdGFsaWM7XG59XG5cbmE6bGluayB7XG4gIGNvbG9yOiB2YXIoLS1jb2xvci10ZXh0LWxpbmspO1xuICB0ZXh0LWRlY29yYXRpb24tbGluZTogdW5kZXJsaW5lO1xuICAtd2Via2l0LXRleHQtZGVjb3JhdGlvbi1za2lwOiBpbms7XG4gIHRleHQtZGVjb3JhdGlvbi1za2lwLWluazogYXV0bztcbiAgdGV4dC1kZWNvcmF0aW9uLXRoaWNrbmVzczogMXB4O1xuICB0ZXh0LXVuZGVybGluZS1vZmZzZXQ6IDAuMDg3NWVtO1xuICB0cmFuc2l0aW9uOiBhbGwgMC4ycyBlYXNlO1xufVxuXG5hOnZpc2l0ZWQge1xuICBjb2xvcjogdmFyKC0tY29sb3ItdGV4dC1saW5rLXZpc2l0ZWQsIGxpbWUpO1xufVxuXG5hOmZvY3VzLFxuYTpob3ZlciB7XG4gIHRleHQtdW5kZXJsaW5lLW9mZnNldDogNHB4O1xuICBjb2xvcjogdmFyKC0tY29sb3ItdGV4dC1saW5rLWhvdmVyKTtcbn1cblxuYTphY3RpdmUge1xuICBjb2xvcjogdmFyKC0tY29sb3ItdGV4dC1saW5rLWFjdGl2ZSwgcmVkKTtcbn1cblxuOmZvY3VzLXZpc2libGUge1xuICBvdXRsaW5lOiAycHggc29saWQgdmFyKC0tY29sb3ItdGV4dC1saW5rLCBwdXJwbGUpO1xuICBvdXRsaW5lLW9mZnNldDogMnB4O1xufVxuXG51bCxcbm9sIHtcbiAgcGFkZGluZy1sZWZ0OiAxNnB4O1xufVxuXG4vKiB2ZXJ0aWNhbCByaHl0aG0gICovXG5wLFxudWwsXG5vbCB7XG4gIG1hcmdpbi1ibG9jazogdmFyKC0tdmVydGljYWwtcmh5dGhtLCAyNHB4KTtcbn1cblxuZGwge1xuICBtYXJnaW4tYmxvY2s6IDEuNXJlbTtcblxuICBkdCB7XG4gICAgZm9udC13ZWlnaHQ6IHZhcigtLWZvbnQtd2VpZ2h0LXNlbWlib2xkKTtcbiAgfVxuICBkZCB7XG4gICAgbWFyZ2luLWlubGluZS1zdGFydDogMDtcbiAgfVxuXG4gIGRkICsgZHQge1xuICAgIG1hcmdpbi1ibG9jay1zdGFydDogMS41cmVtO1xuICB9XG59XG5cbnNtYWxsIHtcbiAgZm9udC1zaXplOiAwLjgxMjVyZW07XG4gIGxpbmUtaGVpZ2h0OiAxLjU7XG4gIGZvbnQtd2VpZ2h0OiBpbmhlcml0O1xuICBkaXNwbGF5OiBpbmxpbmU7XG59XG5cbmgxLFxuaDIsXG5oMyxcbmg0LFxuaDUsXG5oNiB7XG4gIGZvbnQtd2VpZ2h0OiA0MDA7XG4gIG1hcmdpbi1ibG9jazogdmFyKC0tc3BhY2UtNCwgMjRweCk7XG4gIGxpbmUtaGVpZ2h0OiAxLjU7XG4gIGxldHRlci1zcGFjaW5nOiAtMC4wMjVlbTtcbiAgdGV4dC13cmFwOiBiYWxhbmNlO1xufVxuXG5oMS5mcy1kaXNwbGF5LFxuLmgxLmZzLWRpc3BsYXkge1xuICAtLV90YXJnZXQtbGg6IDQ4O1xuICBmb250LXNpemU6IHZhcigtLXNpemUtZm9udC14eHh4LWxhcmdlKTtcbiAgbGluZS1oZWlnaHQ6IDcycHg7XG59XG5cbmgxLFxuLmgxIHtcbiAgZm9udC1zaXplOiB2YXIoLS1zaXplLWZvbnQteHh4LWxhcmdlKTtcbiAgbGluZS1oZWlnaHQ6IDQ4cHg7XG59XG5cbmgyLFxuLmgyIHtcbiAgZm9udC1zaXplOiB2YXIoLS1zaXplLWZvbnQteHgtbGFyZ2UpO1xuICBsaW5lLWhlaWdodDogNDBweDtcbn1cblxuaDMsXG4uaDMge1xuICBmb250LXNpemU6IHZhcigtLXNpemUtZm9udC14LWxhcmdlKTtcbiAgbGluZS1oZWlnaHQ6IDMycHg7XG59XG5cbmg0LFxuLmg0IHtcbiAgZm9udC1zaXplOiB2YXIoLS1zaXplLWZvbnQtbGFyZ2UpO1xuICBsaW5lLWhlaWdodDogMjRweDtcbn1cblxuaDUsXG4uaDUge1xuICBmb250LXNpemU6IHZhcigtLXNpemUtZm9udC1tZWRpdW0pO1xuICBsaW5lLWhlaWdodDogMjRweDtcbn1cblxuaDYsXG4uaDYge1xuICBmb250LXNpemU6IHZhcigtLXNpemUtZm9udC1tZWRpdW0pO1xuICBsaW5lLWhlaWdodDogMjRweDtcbn1cblxudGFibGUge1xuICBiYWNrZ3JvdW5kLWNvbG9yOiB2YXIoLS1jb2xvci1iYWNrZ3JvdW5kLWJhc2UsICNmZmYpO1xuICBib3JkZXI6IDFweCBzb2xpZCB2YXIoLS1jb2xvci1ib3JkZXItbXV0ZWQsICNjY2MpO1xuICBib3JkZXItY29sbGFwc2U6IGNvbGxhcHNlO1xuICBtYXJnaW4tYm90dG9tOiAxLjVyZW07XG4gIHdpZHRoOiAxMDAlO1xuXG4gIGNhcHRpb24ge1xuICAgIGNhcHRpb24tc2lkZTogdG9wO1xuICAgIGZvbnQtc2l6ZTogdmFyKC0tc2l6ZS1mb250LWxhcmdlLCAyMHB4KTtcbiAgICBwYWRkaW5nOiB2YXIoLS1zcGFjZS0xLCA0cHgpO1xuICAgIHRleHQtYWxpZ246IGNlbnRlcjtcbiAgICBiYWNrZ3JvdW5kLWNvbG9yOiB2YXIoLS1jb2xvci1iYWNrZ3JvdW5kLW11dGVkLCAjY2NjKTtcbiAgfVxuXG4gIHRoLFxuICB0ZCB7XG4gICAgcGFkZGluZzogdmFyKC0tc3BhY2UtMSwgNHB4KTtcbiAgICBib3JkZXItYm90dG9tOiAxcHggc29saWQgdmFyKC0tY29sb3ItYm9yZGVyLW11dGVkLCAjY2NjKTtcbiAgICBib3JkZXItbGVmdDogMXB4IHNvbGlkIHZhcigtLWNvbG9yLWJvcmRlci1tdXRlZCwgI2NjYyk7XG4gIH1cblxuICB0aCB7XG4gICAgZm9udC13ZWlnaHQ6IHZhcigtLWZvbnQtd2VpZ2h0LXNlbWlib2xkLCA1MDApO1xuICB9XG5cbiAgdGJvZHkge1xuICAgIGZvbnQtc2l6ZTogdmFyKC0tc2l6ZS1mb250LXNtYWxsLCAxM3B4KTtcbiAgfVxuXG4gIHRib2R5IHRoIHtcbiAgICBmb250LXdlaWdodDogNDAwO1xuICB9XG5cbiAgdGZvb3QgdGgge1xuICAgIGZvbnQtd2VpZ2h0OiA1MDA7XG4gIH1cblxuICB0aFtzY29wZT1cInJvd1wiXSB7XG4gICAgdGV4dC1hbGlnbjogbGVmdDtcbiAgfVxuXG4gICYuaGVuay10YWJsZS0tbm8tYm9yZGVyIHtcbiAgICBib3JkZXI6IG5vbmU7XG5cbiAgICB0aCxcbiAgICB0ZCB7XG4gICAgICBib3JkZXI6IG5vbmU7XG4gICAgfVxuICB9XG59XG4iXX0= */