/* helpers */
.visually-hidden {
  position: absolute !important;
  overflow: hidden;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip-path: rect(0 0 0 0);
  overflow-wrap: normal !important;
}

/* typography */
.amp {
  font-family: Baskerville, Georgia, serif;
  font-style: italic;
}

em {
  font-style: italic;
}

/* lists */
ul,
ol {
  padding-left: 16px;
}

.henk-list--checkmark {
  list-style-type: "✓ ";
}

.henk-list--plus {
  list-style-type: "+ ";
}

.henk-list--min {
  list-style-type: "- ";
}

.henk-list--em-dash {
  list-style-type: "– ";
}

.henk-list--no-bullets {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* vertical rhythm  */
p,
ul,
ol {
  margin-block: var(--vertical-rhythm, 24px);
}

dl {
  margin-block: 1.5rem;

  dt {
    font-weight: var(--font-weight-semibold);
  }

  dd {
    margin-inline-start: 0;
  }

  dd + dt {
    margin-block-start: 1.5rem;
  }
}

.henk-dl {
  .henk-dl__term {
    font-weight: var(--font-weight-semibold, 500);
  }
}

/* text elements */
small {
  font-size: 0.8125rem;
  line-height: 1.5;
  font-weight: inherit;
  display: inline;
}

/*font size */
.fs-display {
  --_target-lh: 48;

  font-size: var(--size-font-xxxx-large);
  line-height: 24px;
}

.fs-xxxx-large {
  font-size: var(--size-font-xxxx-large, 49px);
  line-height: 24px;
}

.fs-xxx-large {
  font-size: var(--size-font-xxx-large, 39px);
  line-height: 24px;
}

.fs-xx-large {
  font-size: var(--size-font-xx-large, 31px);
  line-height: 24px;
}

.fs-x-large {
  font-size: var(--size-font-x-large, 25px);
  line-height: 24px;
}

.fs-large {
  font-size: var(--size-font-large, 20px);
  line-height: 24px;
}

.fs-medium {
  font-size: var(--size-font-medium, 16px);
  line-height: 24px;
}

.fs-small {
  font-size: var(--size-font-small, 13px);
  line-height: 16px;
}

.fs-x-small {
  font-size: var(--size-font-x-small, 10px);
  line-height: 16px;
}

/* headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  margin-block: var(--space-4, 24px);
  line-height: 1.5;
  letter-spacing: -0.025em;
  text-wrap: balance;
}

h1.fs-display,
.h1.fs-display {
  --_target-lh: 48;

  font-size: var(--size-font-xxxx-large);
  line-height: 72px;
}

h1,
.h1 {
  font-size: var(--size-font-xxx-large);
  line-height: 48px;
}

h2,
.h2 {
  font-size: var(--size-font-xx-large);
  line-height: 40px;
}

h3,
.h3 {
  font-size: var(--size-font-x-large);
  line-height: 32px;
}

h4,
.h4 {
  font-size: var(--size-font-large);
  line-height: 24px;
}

h5,
.h5 {
  font-size: var(--size-font-medium);
  line-height: 24px;
}

h6,
.h6 {
  font-size: var(--size-font-medium);
  line-height: 24px;
}

.fw-400,
.fw-roman {
  font-weight: var(--font-weight-regular, 400);
}

.fw-500,
.fw-medium {
  font-weight: var(--font-weight-semibold, 500);
}

.fw-700,
.fw-bold {
  font-weight: var(--font-weight-bold, 700);
}

/* tables */
table {
  background-color: var(--color-background-base, #fff);
  border: 1px solid var(--color-border-muted, #ccc);
  border-collapse: collapse;
  margin-bottom: 1.5rem;
  width: 100%;

  caption {
    caption-side: top;
    font-size: var(--size-font-large, 20px);
    padding: var(--space-1, 4px);
    text-align: center;
    background-color: var(--color-background-muted, #ccc);
  }

  th,
  td {
    padding: var(--space-1, 4px);
    border-bottom: 1px solid var(--color-border-muted, #ccc);
    border-left: 1px solid var(--color-border-muted, #ccc);
  }

  th {
    font-weight: var(--font-weight-semibold, 500);
  }

  tbody {
    font-size: var(--size-font-small, 13px);
  }

  tbody th {
    font-weight: 400;
  }

  tfoot th {
    font-weight: 500;
  }

  th[scope="row"] {
    text-align: left;
  }

  &.henk-table--no-border {
    border: none;

    th,
    td {
      border: none;
    }
  }
}

.truncate {
  display: -webkit-box !important;
  -webkit-line-clamp: var(--line-clamp);
  -webkit-box-orient: vertical;
  line-clamp: var(--line-clamp);
  overflow: hidden;
}

.text-align-right {
  text-align: right;
}

.js-enabled {
  [data-js-hide] {
    display: none;
  }
}

/* figures */
.henk-figure {
  margin: 0;

  .henk-figure__img {
    margin-bottom: 0;
  }
}

.henk-text-link {
  &:has(> .henk-icon:first-child) {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    text-decoration: none;
  }

  &.henk-text-link--small {
    font-size: 13px;
  }
}

/* form elements */
.required-indicator {
  color: var(--color-danger);
}

.error-message {
  color: var(--color-danger);
  font-size: 13px;
  line-height: 24px;
  padding-left: 1rem;
  visibility: hidden;
}

.henk-section {
  /* padding-block: var(--space-13, 96px); */
  padding-block: var(--space-7, 96px);
}

.henk-section__inner {
  width: min(var(--size-width-content), 100% - 3rem);
  margin-inline: auto;
}

.henk-wrapper {
  padding-top: var(--size-height-header, 72px);
  display: flex;
  flex-direction: column;
  height: 100%;

  .henk-main {
    flex: 1;
  }
}

sup.henk-notification-badge {
  position: absolute;
  right: -4px;
  top: -4px;
  background: var(--color-success);
  color: white;
  border-radius: 50%;
  aspect-ratio: 1 / 1;
  font-size: 10px;
  line-height: 16px;
  width: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
}

.henk-button:has(.henk-notification-badge) {
  position: relative;

  &:hover {
    sup {
      width: 20px;
    }
  }
}
