.henk-button-group {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: flex-end;
  margin: 1.5rem 0;
}

.henk-button-group:last-child {
  margin-bottom: 0;
}

.henk-button-group--left {
  justify-content: flex-start;
}

.henk-button-group--center {
  justify-content: center;
}

.henk-button-group--right {
  justify-content: flex-end;
}

.henk-button-group--space-between {
  justify-content: space-between;
}

.henk-button-group--fill > * {
  flex: 1;
}

.henk-button-group--stacked {
  flex-direction: column;
  align-items: stretch;
}

@media only screen and (max-width: 767px) {
  .henk-button-group--mobile-stacked {
    flex-direction: column-reverse;
    align-items: stretch;
  }
}

@media only screen and (max-width: 767px) {
  .henk-button-group--mobile-reverse {
    flex-direction: column-reverse;
  }
}

/* stylelint-disable-next-line selector-class-pattern */
.henk-tag--gtmLister {
  margin: 0 !important;
}
