.henk-button,
.henk-button:link {
  --btn-bg: var(--color-background-secondary);
  --btn-bg-hover: var(--color-background-secondary-dark);
  --btn-text: var(--color-text-static);
  --btn-text-hover: var(--color-text-static);
  --btn-border: var(--color-border-static);
  --btn-border-hover: var(--color-border-static);
  --btn-border-radius: var(--radius-1);
  --btn-outline-width: 0;
  --btn-outline-color: var(--color-border-static);
  --btn-outline-offset: 0;

  background-color: var(--btn-bg);
  color: var(--btn-text);
  border: 1px solid var(--btn-border);
  border-radius: var(--btn-border-radius, 4px);
  outline: var(--btn-outline-width) solid var(--btn-outline-color);
  outline-offset: var(--btn-outline-offset, 0);
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
  line-height: 1.5;
  padding: 0.5625em 1em;
  text-decoration: none;
  text-underline-offset: 0;
  font-family: var(--font-body, sans-serif), sans-serif;
  font-size: 1rem;
  font-weight: var(--font-weight-semibold, 500);
  text-align: center;
  hyphens: none;
  max-height: 44px;
  transition:
    background-color 0.3s ease,
    color 0.3s ease,
    border-color 0.3s ease;
}

@media screen and (max-width: 321px) {
  .henk-button,
  .henk-button:link {
    padding-inline: 16px;
  }
}

.henk-button:hover,
a:hover span.henk-button {
  background-color: var(--btn-bg-hover);
  color: var(--btn-text-hover);
  border-color: var(--btn-border-hover);
  text-underline-offset: 0;
}

/* Variants */
.henk-button--primary,
.henk-button--primary:link {
  --btn-bg: var(--color-background-primary);
}

.henk-button--primary:hover {
  --btn-bg-hover: hsl(from var(--color-primary) h s 70%);
}

.henk-button--secondary,
.henk-button--secondary:link {
  --btn-bg: var(--color-background-secondary);

  &:hover {
    --btn-bg-hover: var(--color-background-secondary-dark);
  }
}

.henk-button--danger,
.henk-button--danger:link {
  --btn-bg: var(--color-background-danger);
  --btn-bg-hover: var(--color-background-danger);
  --btn-text: var(--color-text-on-danger);
  --btn-border: var(--color-border-danger);
  --btn-border-hover: var(--color-border-danger);
  --btn-outline-width: 2px;
  --btn-outline-color: var(--color-border-danger);
  --btn-outline-offset: 2px;

  &:hover {
    animation: pulse-outline 1s infinite;
  }
}

.henk-button--success,
.henk-button--success:link {
  --btn-bg: var(--color-background-success);
  --btn-bg-hover: var(--color-background-success);
  --btn-text: var(--color-text-on-success);
  --btn-border: var(--color-border-success);
  --btn-border-hover: var(--color-border-success);
  --btn-outline-width: 2px;
  --btn-outline-color: var(--color-border-success);
  --btn-outline-offset: 2px;
}

/* Disabled state */
.henk-button[disabled],
.henk-button[aria-disabled="true"] {
  --btn-bg: var(--color-background-disabled);
  --btn-bg-hover: var(--color-background-disabled);
  --btn-text: var(--color-text-on-disabled);
  --btn-text-hover: var(--color-text-on-disabled);
  --btn-border: var(--color-border-disabled);
  --btn-border-hover: var(--color-border-disabled);

  cursor: not-allowed;
}

.henk-button[disabled]:hover,
.henk-button[aria-disabled="true"]:hover {
  --btn-border-hover: var(--color-border-disabled);
}

/* Size modifiers */
.henk-button--small,
.henk-button--small:link {
  font-size: 0.8125em;
  line-height: 1.84615385em;
  padding: 3px 16px;
}

/* Ghost variant (minimal styling) */
.henk-button.henk-button--ghost {
  --btn-bg: transparent;
  --btn-text: var(--color-text-base);
  --btn-border: transparent;
  --btn-bg-hover: transparent;
  --btn-text-hover: var(--color-text-primary-darker);
  --btn-border-hover: transparent;

  padding-inline: 0.25em;
  border-width: 0;

  &:has(.icon--only) {
    padding-inline: 10px;
    padding-block: 10px;
  }
}

.henk-button .henk-icon {
  font-size: 12px;
}

.henk-button .henk-icon svg {
  width: 1.5rem;
  height: 1.5rem;
}

.henk-button:has(.icon--only) {
  padding-inline: 9px;
  padding-block: 9px;
}

.henk-button.henk-button--small:has(.icon--only) {
  padding-block: 7px;
  padding-inline: 7px;
}

.henk-button .henk-icon:has(#chevron-down) {
  transform: translateY(1px);
}

/* state */
.henk-button[data-state="open"] #chevron-down {
  transform: rotate(180deg);
}

.henk-button:popover-open .henk-icon #chevron-down {
  transform: rotate(180deg);
}

/* Pulsating animation */
@keyframes pulse-outline {
  0% {
    outline-offset: 2px;
  }

  50% {
    outline-offset: 6px;
    outline-width: 4px;
  }

  100% {
    outline-offset: 2px;
  }
}
