.henk-icon {
  display: flex;
  line-height: 1;
  pointer-events: none;
}

/* 24 */
.henk-icon svg {
  width: 1.5rem;
  height: 1.5rem;
  pointer-events: none;
  transition: transform 0.3s ease;
}

/* 24 */

/* .henk-icon.icon--large svg {
} */

/* 20 */

/* .henk-icon.icon--medium svg {
} */

/* 16 */

/* .henk-icon.icon--small svg {
} */

/* icon only needs other display to align better */
.henk-icon.icon--only {
  display: flex;
  align-items: center;
}
