.org-segmented-control * + * {
  margin-top: 0;
}

/* component */
.org-segmented-control__tab {
  padding: 1rem 0;
}

/* set first tab visible on load */
/* control buttons styling */
.org-segmented-control__controls {
  list-style: none;
  margin: 0;
  display: flex;
}

.org-segmented-control__button {
  cursor: pointer;
  flex: 1 1 50%;
  border-bottom: 1px solid #ccc;
  text-align: center;
  font-size: 0.75rem;
  line-height: 28px;
  color: black;
}

.org-segmented-control__button.tab__selected {
  border-bottom: 1px solid #000;
}

/* active tab border bottom line */
/* control links styling */
/* tab content styling */
.org-segmented-control__tab ul,
.org-segmented-control__tab ol {
  margin-left: 20px;
}
