@charset "UTF-8";

.sh-org-usp {
  background-color: var(--color-accent5, #ccc);
  color: var(--color-henk-black);
  display: grid;
  grid-auto-rows: auto;
  justify-content: center;
  row-gap: 4.25rem;
  padding: 64px 0;
}

.sh-org-usp * {
  margin: 0;
}

.sh-org-usp__container {
  margin: 0 auto;
  display: grid;
  row-gap: 8px;
}

.sh-org-usp__container * {
  text-align: center;
}

@media only screen and (min-width: 768px) {
  .sh-org-usp__container {
    row-gap: 8px;
  }
}

.sh-org-usp__title {
  text-align: center;
  /* font-weight: 500; */
  /* font-size: clamp(1.125rem, 2.75vw, 1.5rem);
  line-height: clamp(32px, 2.75vw, 40px); */
}

@media only screen and (min-width: 992px) {
  .sh-org-usp {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    gap: 1rem;
  }
}

/*---
title:   USP brick V2
section: Bricks
author: Nils Hendriks for Studio HENK
date: 2023-01-26 • 18:39 - CET
---

Brick with grid with 3 columns containing editable for:
@title
@text
*/
.sh-org-usp-v2 .sh-org-usp__text {
  text-align: center;
}

.sh-org-usp-v2 .brick__grid {
  display: grid;
  grid-auto-rows: auto;
  justify-content: center;
  row-gap: 4.25rem;
}

.sh-org-usp-v2 .brick__grid .brick__grid-item {
  margin: 0 auto;
  max-width: 20em;
  text-wrap: balance;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.sh-org-usp-v2 .brick__grid-item * {
  margin: 0;
}

@media only screen and (min-width: 992px) {
  .sh-org-usp-v2 .brick__grid.component__layout-box {
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
  }
}