.link-more,
.link-back,
.link-next {
  display: inline-flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: var(--fg-default);
  margin-top: 0;
  vertical-align: middle;
  white-space: nowrap;
}
.link-more:hover, .link-more:focus,
.link-back:hover,
.link-back:focus,
.link-next:hover,
.link-next:focus {
  text-decoration: underline;
}

@keyframes movearrow {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(4px);
  }
}
.link-login:hover #arrow {
  animation-duration: 0.3s;
  animation-name: movearrow;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.sh-atom-link-more {
  display: inline-flex;
  font-size: 0.875rem;
  line-height: 25px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration: underline;
  text-underline-offset: 0.25rem;
}
