/* variables that control base settings */
/* :root,
::before,
::after,
::selection { */
:root {
  --font-body: "Haas Grot Text R Web";
  /*--font-body: "ff-scala-sans-pro";*/
  /* colors */
  --color-background-page-primary-base: var(--color-white, #fff);
  --color-background-page: var(--color-white, #fff);
  --color-text-page: var(--color-black-lacquer, #000);
  --color-text-action: var(--color-black-lacquer, #000);
  --color-text-action-dimmed: var(--color-black-55, #999);
  /* text selection */
  --color-text-selection-bg: var(--color-accent5);
  --color-text-selection-text: var(--color-henk-black);
  /* tmp, move to size tokens? */
  --size-horizontal-rhythm: 1;
  /* buttons */
  /*--color-background-button: var(--color-white);
  
  // foreground ie text
  --color-text-button: var(--color-henk-black);
  
  // border
  --color-border-button: var(--color-henk-black);*/
  /* button background-color */
  --color-background-button: var(--color-transparent);
  /* button text */
  --color-text-button: var(--color-henk-white);
  /*--color-text-button: var(--color-henk-black);*/
  /* button border */
  --color-border-button: var(--color-henk-white);
  /*--color-border-button: var(--color-henk-black);*/
  /* forms */
  --color-background-input: var(--color-white);
  --color-text-input: var(--color-black);
  --color-text-label: hsla(0, 0%, 0%, 0.3);
  --color-autofill-input: var(--color-white);
  /* nav */
  /*dropdown .sh-atom-sup highlight "NEW" color*/
  --color-text-sup-highlight-nav: var(--color-accent5);
  /* sizes from design as plugin numbers. in px */
  --size-font-body: 16;
  --size-font-lineheight-body: 24;
  --size-font-letterspacing-body: 0;

  /* h1 */
  /* --size-font-h1: var(--size-font-32);
  --size-font-h2: var(--size-font-24);
  --size-font-h3: var(--size-font-20);
  --size-font-h4: var(--size-font-16);
  --size-font-h5: var(--size-font-16);
  --size-font-h6: var(--size-font-16); */
}