.hero-block-campaign,
.campaign-block {
  margin-top: 0;
}
.hero-block-campaign * + *,
.campaign-block * + * {
  margin-top: 0;
}

.hero-block-campaign {
  position: relative;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.hero-block-campaign.--fade-in {
  opacity: 1;
}

.hero-block-campaign__text {
  position: relative;
  top: 0;
  color: #000;
  margin: 53px auto 73px;
  max-width: 505px;
}

.hero-block-campaign__title {
  font-size: 1.6875rem;
  /*font-weight: 300;*/
  line-height: 115%;
  text-align: center;
  /* letter-spacing: 0.06em; */
  margin: 0 0 16px;
}

.hero-block-campaign__slogan {
  font-size: 0.9375rem;
  /*font-weight: 300;*/
  line-height: 115%;
  text-align: center;
  /* letter-spacing: 0.13em; */
  margin: 0;
}
@media only screen and (max-width: 414px) {
  .hero-block-campaign__slogan {
    padding: 0 2.5rem;
  }
}

.hero-block-campaign__grid,
.campaign__grid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.hero-block-campaign__column,
.campaign__column {
  flex: 1 1 50%;
  position: relative;
}

.hero-block-campaign__column + .hero-block-campaign__column {
  display: none;
}

.campaign__column:first-child {
  padding: 40px 0 0 0;
}
#setting1 .campaign__column:first-child {
  padding-top: 60px;
}

.campaign__column * {
  margin: 0;
}

/* hide on mobile and tablet */
@media only screen and (max-width: 991px) {
  .campaign__column + .campaign__column {
    display: none;
  }
}
.collection__text__container {
  padding: 0 16px;
}

.collection__title {
  font-size: 1.6875rem;
  /*font-weight: 300;*/
  line-height: 115.5%;
  /* letter-spacing: 0.03em; */
  margin: 0 0 24px 0;
}

.collection__text {
  margin: 0 0 24px;
}

.collection__products {
  padding: 16px 8px;
}
@media only screen and (max-width: 428px) {
  .collection__products {
    width: 100vw;
  }
  .collection__products .collection-grid {
    display: grid;
    grid-template-columns: repeat(2, minmax(88vw, 1fr));
    gap: 8px;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    padding-bottom: 1.25rem;
  }
  .collection__products .collection-grid .collection-mobile-column {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 8px;
    scroll-snap-align: start;
  }
}

.collection__products__title {
  font-size: 0.9375rem;
  line-height: 115.5%;
  /* letter-spacing: 0.08em; */
  margin-bottom: 12px;
  text-indent: 8px;
}

.collection__product__link {
  display: block;
  text-decoration: none;
}

.collection__product__name {
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 115.5%;
  /* letter-spacing: 0.13em; */
  text-transform: uppercase;
  margin: 10px 0 0 0;
}

.collection__product__desc {
  font-size: 0.625rem;
  line-height: 155.5%;
  /* letter-spacing: 0.13em; */
  margin-top: 6px;
}

.collection__product__price {
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 115.5%;
  /* letter-spacing: 0.13em; */
  text-transform: uppercase;
  margin: 12px 0 0 0;
}

@media only screen and (min-width: 429px) {
  .collection-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
  }
  .collection-grid .collection-mobile-column {
    display: grid;
    grid-template-columns: 1fr;
    gap: 16px;
  }
}
@media only screen and (min-width: 768px) {
  .collection-grid .collection-mobile-column {
    grid-template-columns: 1fr 1fr;
  }
}
@media only screen and (min-width: 992px) {
  .hero-block-campaign__text {
    position: absolute;
    top: 42%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    z-index: 99;
    margin: 0;
  }
  .hero-block-campaign__title {
    font-size: 2.375rem;
    margin-bottom: 29px;
    color: #fff;
  }
  .hero-block-campaign__slogan {
    font-size: 0.9375rem;
    /* letter-spacing: 0.1em; */
    line-height: 115.5%;
    color: #fff;
  }
  .hero-block-campaign__grid,
  .campaign__grid {
    flex-direction: row;
  }
  .hero-block-campaign__column + .hero-block-campaign__column {
    display: block;
  }
  .hero-block-campaign__column > img,
  .campaign__column > img {
    height: 100vh;
    object-fit: cover;
    width: 50vw;
  }
  .campaign__grid {
    align-items: stretch;
  }
  .campaign__column:first-child {
    padding: 64px 32px 32px 32px;
    display: grid;
    grid-template-rows: auto 1fr;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .campaign__grid.flipped-h {
    flex-direction: row-reverse;
  }
  .campaign__image__mobile {
    display: none;
  }
  .collection__products {
    align-self: flex-end;
  }
  .collection-grid .collection-mobile-column {
    grid-template-columns: 1fr;
  }
  .collection__products__title {
    margin-bottom: 20px;
  }
  .collection__product__name {
    margin: 20px 0 0;
  }
}
@media only screen and (min-width: 1125px) {
  .collection-grid .collection-mobile-column {
    grid-template-columns: 1fr 1fr;
  }
}
