@charset "UTF-8";

.mdl-search {
  /*
  UPDATE: 2023-05-05 • 13:16 - CEST
  */
  display: flex;
  text-align: center;
  position: relative;
}

.mdl-search input[type=search] {
  width: 100%;
  margin: 0;
  /*padding: 16px 110px 16px 14px;*/
  padding: 16px 14px 16px 14px;
  font-size: 0.9375rem;
  appearance: none;
}

.mdl-search .sh-btn {
  line-height: 1;
  padding: 14px 14px 11px 14px;
  margin: 0;
  position: absolute;
  top: 0;
  right: 0;
  transition-property: auto;
}

@-moz-document url-prefix() {
  .mdl-search .sh-btn {
    padding-bottom: 14px;
  }
}

.mdl-search .sh-btn--icon:hover svg g {
  fill: #fff;
}

.search-status-bar {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 16px;
  margin-top: -4px;
}

.search-status-bar>* {
  flex: 1 1 auto;
}

.select-sorting {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.select-sorting label {
  margin-right: 0.625rem;
  line-height: 54px;
}

.sh-select {
  padding: 16px;
  vertical-align: middle;
  -webkit-appearance: menulist-button;
  font-size: 0.9375rem;
  height: 50px;
}

.mdl-results-list li+li {
  margin-top: 32px;
}

.search-result-item {
  display: grid;
  grid-template-columns: 150px 1fr;
  gap: 16px;
  padding: 1px;
  text-decoration: none;
}

.search-result-item>.column:first-child {
  overflow: hidden;
}

.search-result-item img {
  display: block;
}

.search-result-item--blogs img {
  transform: scale(1.6);
  transform-origin: top;
}

.search-result-item__text {
  padding: 8px;
}

.search-result-item__title {
  font-weight: bold;
}

.search-result-item:hover,
.search-result-item:focus {
  background-color: #fbfbfb;
  border: 1px solid #000;
  padding: 0;
}

.search-result-item:hover .search-result-item__text p,
.search-result-item:focus .search-result-item__text p {
  color: #000;
}

@media only screen and (max-width: 479px) {
  .search-result-item {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 16px;
  }
}