.henk-list--checkmark {
  list-style-type: "✓ ";
}

.henk-list--plus {
  list-style-type: "+ ";
}

.henk-list--min {
  list-style-type: "- ";
}

.henk-list--em-dash {
  list-style-type: "– ";
}

.henk-list--no-bullets {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
