.section-header {
  display: flex;
  flex-direction: column;
  row-gap: 0px;
  align-items: flex-start;
}

.section-header {
  min-width: 200px;
  max-width: 30em;
}

.section-header__section-subheading {
  margin: 0;
}

.section-header__section-heading {
  margin: 0;
}

@media screen and (min-width: 992px) {
  .section-header__container .sh-molecule-padding-box {
  }

  .section-header {
    align-items: center;
    text-align: center;
    margin: 0 auto;
  }

  .section-header__section-heading {
    text-align: center;
  }
}
