.henk-card {
  --_henk-card-radius: 0;

  display: grid;
  grid-auto-rows: 1fr auto auto;
  place-items: start center;
  position: relative;
  width: min(559px, 100%);

  /* fix for when in a grid */
  min-width: 0;
  min-height: 0;

  .henk-card__image-link {
    background-color: var(--color-background-neutral-lightest);
    border-radius: var(--_henk-card-radius, 0);
    overflow: clip;

    .henk-card__image-container {
      margin: 0;

      .henk-card__img {
        height: auto;
        object-fit: cover;
        margin: 0;
        aspect-ratio: 2/3;
        transition: transform 0.3s ease;
      }
    }

    &:hover,
    &:focus {
      .henk-card__img {
        transform: scale(1.05);
      }
    }
  }

  .henk-card__content {
    background-color: var(--color-background-body);
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1lh 1lh;
    padding: 0;
    place-items: center start;
  }

  .henk-card__title,
  .henk-card__price {
    --line-clamp: 1;

    margin: 0;
    font-size: var(--size-font-small, 13px);
    font-weight: var(--font-weight-semibold, 500);
    line-height: 24px;
    text-transform: uppercase;
    letter-spacing: 0;
    width: auto;
  }

  .henk-card__price {
    justify-self: end;
  }

  .henk-card__price-original {
    opacity: 0.6;
    color: var(--color-text-muted);
  }

  .henk-card__price--discounted {
    color: var(--color-text-success);
  }

  .henk-card__subtitle {
    --line-clamp: 1;

    margin: 0;
    grid-row: 2;
    grid-column: 1 / 3;
  }

  .henk-card__tags {
    position: absolute;
    display: flex;
    gap: 8px;
    justify-content: space-between;
    inset: 16px 16px auto;
  }
}

.henk-card--rounded {
  --_henk-card-radius: var(--size-radius-200, 8px);
}

.henk-card--shadow {
  .henk-card__image-link {
    box-shadow: 0 0 4px 0 #aaa;
    z-index: 9;
    transition: box-shadow 0.3s ease-in-out;

    &:hover {
      box-shadow: 0 0 16px 0 #aaa;
    }
  }
}

.henk-card.henk-card--store {
  .henk-card__image-link {
    border-radius: 8px;
    overflow: clip;
  }

  .henk-card__image-container {
    overflow: clip;
    border-radius: 8px;
  }

  .henk-card__content {
    .henk-card__button {
      grid-row: 1 / 3;
    }

    &.henk-card__content--vertical {
      background-color: #fff;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 9;
      overflow: clip;
      border-bottom-left-radius: 8px;
      border-bottom-right-radius: 8px;
      grid-template-columns: 1fr;
      grid-template-rows: auto;
      justify-content: center;
      justify-items: center;
      gap: 8px;
      padding: 1rem 8px;

      .henk-card__title {
        font-size: 31px;
        line-height: 40px;
        font-weight: 500;
        text-transform: none;
      }

      .henk-card__subtitle {
        font-size: 13px;
        line-height: 20px;
      }

      .henk-card__subtitle,
      .henk-card__button {
        grid-column: unset;
        grid-row: unset;
      }
    }
  }

  .henk-card__link--directions {
    display: flex;
    align-items: center;
    gap: 8px;

    .henk-icon {
      color: #000;

      svg {
        width: 24px;
        height: 24px;
      }
    }
  }
}
