footer.henk-footer {
  --_max-width: 1208px;
  /* background-color: var(--color-ui-surface-tertiary, #000); */
  background-color: var(--color-ui-surface-neutral-01, #fff);
  color: var(--color-ui-text-default, #000);

  /* --color-ui-text-action: var(--color-alias-neutral-light, #d1d1d1);
  --color-ui-text-action-hover: var(--color-alias-white, #fff); */

  --color-ui-text-action: var(--color-alias-henk-black, #000);
  --color-ui-text-action-hover: var(--color-alias-base-black, #000); 
}

footer.henk-footer a {
  text-decoration: none;
}

footer.henk-footer a:hover {
  text-decoration: underline;
}

.henk-footer__heading,
.henk-footer__heading a {
  /* color: var(--color-alias-base-white, #fff); */
}

.henk-footer__heading a:hover {
  /* color: var(--color-alias-primary-light, blue); */
}

.henk-footer__list.--no-bullets {
  margin: 0;
}

.henk-footer__container {
  max-width: calc(100% - 48px);  
  display: flex;
  flex-direction: column;
  margin: 0 auto;  
  padding: 80px 0 0;
}

.henk-footer__grid {
  padding-bottom: 80px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;  
  gap: 3.5rem;
}

.henk-footer__grid-column {
  flex: 0 1 48%;
}

.henk-footer__row--social-rating {
  padding-bottom: 40px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  gap: 40px;
}

.henk-footer__section--rating,
.henk-footer__section--social {
  /* flex: 1 1 48%; */
  flex: 1 1 47%;
}

.henk-footer__social-media {
  gap: 4px;
  margin: 0;
}

.henk-footer__social-media-link {
  display: block;
  /* color: var(--color-alias-base-white, #fff); */
}

.henk-footer__social-media-item {
  line-height: 1;
}

.henk-footer__row--payment-terms {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 2.5rem 0;
  border-top: 1px solid var(--color-ui-border-neutral-01, #000); 
  font-size: 13px;
  line-height: 16px;
}

.henk-footer__payment-logos {
  display: flex;
  gap: 1rem;
}

.henk-footer__payment-logos,
.henk-footer__small-print {
  margin: 0;
  padding: 0;
}

.henk-footer__small-print-item a,
.henk-footer__small-print-item .footer__link {
  font-size: 13px;
  line-height: 24px;
}

/* b-corp and rating */
.henk-footer__certificates-rating {
  display: flex;
  flex-wrap: wrap;
  column-gap: 40px;
  row-gap: 40px;
  justify-content: flex-start;
  align-items: flex-start;
}

.henk-footer__certificates-rating > a > svg {
  height: 68px;
  width: auto;
}

.henk-footer__rating-widget {
  display: flex;
  align-items: center;
  /* color: var(--color-alias-base-white, #fff); */
  flex: 1 1 193px;
}

.henk-footer__payment-logo-item {
  display: flex;
  align-items: center;
}

.henk-footer__payment-logo-item svg {
  width: auto;
  height: 16px;
}

@media only screen and (min-width: 463px) {
  .henk-footer__section--social {
    display: flex;
    justify-content: flex-end;
  }
}


@media only screen and (min-width: 768px) {
  .henk-footer__grid-column {
    flex: 0 1 30%;
  }
}


@media only screen and (min-width: 1024px) {
  .henk-footer__grid {
    justify-content: space-between;
  }

  .henk-footer__grid-column {
    flex: 0 1 18%;
  }

  .henk-footer__grid-column:last-child {
    max-width: fit-content;
  }
}



@media only screen and (min-width: 1208px) {

  .henk-footer__row--payment-terms {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }

  .henk-footer__small-print {
    display: flex;
    gap: 40px;
  }

}

@media only screen and (min-width: 1256px) {
  .henk-footer__container {
    padding: 160px 0 0;
    max-width: var(--_max-width, 1208px);
  }

  .henk-footer__grid {
    padding-bottom: 160px;
    gap: 1rem;
  }
}

@media (pointer: coarse) {
  .henk-footer__social-media-link .henk-icon svg {
    width: 44px;
    height: 44px;
  }
}