.SectionHeader,
.section-header {    
  padding: max(48px, 4.1667vw) 1.5rem;
  /* display: flex;
  flex-direction: column;
  place-items: center; */
}

.SectionHeader__content,
.section-header__content {
  /* display: flex;
  flex-direction: column;
  place-items: center; */
  max-width: 38em;
  margin: 0 auto;
  text-align: center;
  text-wrap: balance;
}

.SectionHeader__title,
.section-header__title {
  text-align: center;
  text-wrap: balance;
}

.SectionHeader__byline,
.section-header__byline {
  /* margin-bottom: 0; */
}

@media screen and (min-width: 768px) {
  .SectionHeader,
  .section-header {
      /* padding: 5rem 2.5rem; */
  }
}