.henk-select {
  width: 100%;
  padding: 10px 1rem;
  background-color: var(--color-background-base);
  border: 1px solid var(--color-border-base);
  border-radius: 4px;
  font-family: var(--font-body);
  font-size: 1rem;
  line-height: 1.5;
  transition: border-color 0.3s;
}

.henk-select:focus {
  border-color: var(--color-border-primary);
  outline: none;
}

.henk-select[required] {
  border-left: 3px solid #dc3545;
}

/* arrow */
.select-wrapper {
  position: relative;
  display: block;
}

.select-wrapper select.henk-select {
  appearance: none;
}

.select-wrapper::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 16px; /* Adjust the position of the arrow */
  transform: translateY(-50%) rotate(45deg);
  width: 8px;
  height: 8px;
  border-right: 2px solid #555;
  border-bottom: 2px solid #555;
}
