.henk-labeled-textarea {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5rem;
}

.henk-labeled-textarea--dir-horizontal {
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0.5rem;
}

.henk-labeled-textarea--dir-horizontal .henk-label {
  margin-bottom: 0;
}

.henk-labeled-textarea--dir-horizontal .henk-textarea {
  flex: 1;
}

.henk-labeled-textarea--floating {
  position: relative;
}

.henk-labeled-textarea--floating .henk-label {
  position: absolute;
  font-weight: 400;
  color: var(--color-ui-text-neutral);
  top: 10px;
  left: 14px;
  transition: top 0.3s ease;
}

.henk-labeled-textarea--floating .henk-textarea:focus + .henk-label,
.henk-labeled-textarea--floating
  .henk-textarea:not(:placeholder-shown)
  + .henk-label {
  top: -14px;
  font-size: 12px;
  background-color: #fff;
  color: #000;
  padding: 0 0.5rem;
}

.henk-labeled-textarea--required {
  margin-bottom: 8px;
}

henk-labeled-textarea .henk-textarea:invalid {
  border-color: red;
}

/* empty required fields on start, showing placeholder / label ! */
henk-labeled-textarea .henk-textarea:placeholder-shown:invalid {
  border-color: black;
}

/* empty required fields ! */
henk-labeled-textarea .henk-textarea:not(:placeholder-shown):invalid {
  border-color: var(--color-ui-text-danger);
}

henk-labeled-textarea
  .henk-input.henk-textarea:not(:placeholder-shown):invalid
  ~ .error-message {
  visibility: visible;
}
