.henk-header-block {
  display: flex;
  flex-direction: column;
  row-gap: var(--vertical-rhythm);

  > * {
    margin-block: 0;
  }
}

.henk-header-block--align-center {
  place-items: center;
  text-align: center;
}

.henk-header-block__caption {
  font-weight: var(--type-caption-font-weight);
}

.henk-header-block__title {
  word-break: normal;
}
