/* Major third 
  39px 
  31px 
  25px 
  20px 
  16px 
  13px 
  10px 
*/

:root {
  /* font sizes */
  --size-font-39: 39;
  --size-font-31: 31;
  --size-font-25: 25;
  --size-font-20: 20;
  --size-font-16: 16;
  --size-font-13: 13;
  --size-font-10: 10;

  /* alias keywords */
  --size-font-xxx-large: var(--size-font-39);
  --size-font-xx-large: var(--size-font-31);
  --size-font-x-large: var(--size-font-25);
  --size-font-large: var(--size-font-20);
  --size-font-medium: var(--size-font-16);
  --size-font-small: var(--size-font-13);
  --size-font-x-small: var(--size-font-10);

  /* target screen where font-size reaches the max */
  --size-screen-target: 1728;
  --size-font-body: 16;
}