.org-g-rating-avg {
  margin: 55px 0 80px;
}

@media only screen and (min-width: 768px) {
  .org-g-rating-avg {
    margin-bottom: 2rem;
  }
}

.org-g-rating-avg .stars {
  position: relative;
  height: 24px;
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 0;
  list-style: none;
}

.org-g-rating-avg .star {
  position: relative;
}

.org-g-rating-avg .star+.star {
  margin-left: 1.75rem;
}

.org-g-rating-avg .star svg {
  position: absolute;
  left: 0;
  top: 0;
}

.org-g-rating-avg .star.--masked svg+.star-mask {
  z-index: 999;
}

.org-g-rating-avg .rating {
  /* font-size: calc(var(--size-font-32) / var(--size-font-body) * 1rem); */
  font-size: calc(var(--size-font-31) / var(--size-font-body) * 1rem);
  line-height: 48px;
  /*letter-spacing: 0.07em;*/
}

.org-g-rating-avg .rating+p {
  /*font-size: 1rem; // 16px*/
  /*line-height: 25px;
  letter-spacing: 1.2px;*/
}

.org-g-rating-avg .rating+p a {
  text-decoration: none;
  color: currentcolor;
}

.org-g-rating-avg .rating+p a:hover {
  text-decoration-line: underline;
  /*text-underline-offset: 0.4em;*/
  text-decoration-thickness: 1px;
}