/*
 is in public folder
*/

/* 400: regular, roman  */
@font-face {
  font-family: "Haas Grot Text R Web";
  src:
    url("NeueHaasGrotTextRound-55Roman-Web.woff2") format("woff2"),
    url("NeueHaasGrotTextRound-55Roman-Web.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  font-display: swap;
}

/* 400: italic */
@font-face {
  font-family: "Haas Grot Text R Web";
  src:
    url("NeueHaasGrotTextRound-56Italic-Web.woff2") format("woff2"),
    url("NeueHaasGrotTextRound-56Italic-Web.woff") format("woff");
  font-weight: 400;
  font-style: italic;
  font-stretch: normal;
  font-display: swap;
}

/* 500: medium */
@font-face {
  font-family: "Haas Grot Text R Web";
  src:
    url("NeueHaasGrotTextRound-65Medium-Web.woff2") format("woff2"),
    url("NeueHaasGrotTextRound-65Medium-Web.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  font-display: swap;
}

/* 500: medium italic */
@font-face {
  font-family: "Haas Grot Text R Web";
  src:
    url("NeueHaasGrotTextRound-66MediumItalic-Web.woff2") format("woff2"),
    url("NeueHaasGrotTextRound-66MediumItalic-Web.woff") format("woff");
  font-weight: 500;
  font-style: italic;
  font-stretch: normal;
  font-display: swap;
}

/* 700: bold */
@font-face {
  font-family: "Haas Grot Text R Web";
  src:
    url("NeueHaasGrotTextRound-75Bold-Web.woff2") format("woff2"),
    url("NeueHaasGrotTextRound-75Bold-Web.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  font-display: swap;
}

/* 700: bold italic */
@font-face {
  font-family: "Haas Grot Text R Web";
  src:
    url("NeueHaasGrotTextRound-76BoldItalic-Web.woff2") format("woff2"),
    url("NeueHaasGrotTextRound-76BoldItalic-Web.woff") format("woff");
  font-weight: 700;
  font-style: italic;
  font-stretch: normal;
  font-display: swap;
}
