:root {
  --radius-0: 0; /* 4px */
  --radius-1: 0.25rem; /* 4px */
  --size-radius-100: 0.25rem;
  --radius-2: 0.5rem; /* 8px */
  --size-radius-200: 0.5rem;
  --radius-3: 1rem; /* 16px */
  --size-radius-400: 1rem;
  --size-radius-full: 100%;
  --radius-4: 1.5rem; /* 24px */
  --radius-5: 2rem; /* 32px */
  --radius-6: 2.5rem; /* 40px */
  --radius-7: 3rem; /* 48px */
  --radius-8: 3.5rem; /* 56px */
  --radius-9: 4rem; /* 64px */
  --radius-10: 4.5rem; /* 72px */
  --radius-11: 5rem; /* 80px */
  --radius-12: 5.5rem; /* 88px */
  --radius-13: 6rem; /* 96px */
  --radius-circle: 50%;
}
