@property --size-width-content {
  syntax: "<length>";
  inherits: true;
  initial-value: 1140px;
}

@property --size-width-content-num {
  syntax: "<integer>";
  inherits: true;
  initial-value: 1140;
}

@property --line-clamp {
  syntax: "<integer>";
  inherits: true;
  initial-value: 3;
}

@property --size-height-header {
  syntax: "<length>";
  inherits: true;
  initial-value: 72px;
}
