:root {
  /* --color-palette-1: var(--taupe-gray); */
  --color-palette-1: var(--khaki);
  --color-palette-2: var(--columbia-blue);
  --color-palette-3: var(--white-smoke);
  --color-palette-4: var(--dim-gray);
  --color-palette-5: var(--silver);

  /* signal */
  --color-success: var(--color-green-40);
  --color-danger: var(--color-red-50);
  --color-danger-dark: var(--color-red-40);
  --color-warning: var(--color-yellow-50);
  --color-info: var(--color-blue-50);

  /* primary */
  --color-primary: var(--color-palette-2);
  --color-secondary: var(--color-palette-3);

  /* foundation tints */
  --color-primary-light: hsl(from var(--color-primary) h s calc(l + 5));
  --color-primary-dark: hsl(from var(--color-primary) h s calc(l - 10));
  --color-primary-darker: hsl(from var(--color-primary) h s calc(l - 20));
  --color-primary-darkest: hsl(from var(--color-primary) h s calc(l - 40));
  --color-secondary-light: hsl(from var(--color-secondary) h s calc(l + 5));
  --color-secondary-dark: hsl(from var(--color-secondary) h s calc(l - 10));

  /* background */
  --color-background-base: var(--color-neutral-97);
  --color-background-base-invert: var(--color-neutral-0);
  --color-background-base-static: var(--color-neutral-97);
  --color-background-primary: var(--color-primary);
  --color-background-primary-light: var(--color-primary-light);
  --color-background-secondary: var(--color-secondary);
  --color-background-secondary-light: var(--color-secondary-light);
  --color-background-secondary-dark: var(--color-secondary-dark);
  --color-background-tertiary: var(--color-tertiary);

  /* --color-background-tertiary-light: var(--color-tertiary-light); */

  /* --color-background-tertiary-dark: var(--color-tertiary-dark); */
  --color-background-disabled: var(--color-neutral-80);
  --color-background-muted: var(--color-neutral-90);
  --color-background-neutral-darkest: var(--color-neutral-0);
  --color-background-neutral-lightest: var(--color-neutral-100);
  --color-background-neutral-light: var(--color-neutral-97);
  --color-background-danger: var(--color-danger-dark);
  --color-background-success: var(--color-success);

  /* text */
  --color-text-base: var(--color-neutral-0, #000);
  --color-text-base-invert: var(--color-neutral-100, #fff);
  --color-text-link: var(--color-blue-40, blue);
  --color-text-link-visited: var(--color-neutral-20, blue);
  --color-text-link-hover: var(--color-blue-30, blue);
  --color-text-link-active: var(--color-danger, red);
  --color-text-muted: var(--color-neutral-50);
  --color-text-on-disabled: var(--color-neutral-50);
  --color-text-on-danger: var(--color-neutral-100, #fff);
  --color-text-on-success: var(--color-neutral-100, #fff);
  --color-text-primary: var(--color-primary);
  --color-text-primary-dark: var(--color-primary-dark);
  --color-text-primary-darker: var(--color-primary-darker);
  --color-text-secondary: var(--color-secondary);
  --color-text-success: var(--color-success);
  --color-text-danger: var(--color-danger);
  --color-text-warning: var(--color-orange-50);
  --color-text-neutral-lightest: var(--color-neutral-100, #fff);
  --color-text-neutral-darkest: var(--color-neutral-0, #000);

  /* doesnt change in dark mode */
  --color-text-static: var(--color-neutral-0, #000);

  /* border */
  --color-border-base: var(--color-neutral-0);
  --color-border-base-invert: var(--color-neutral-100);
  --color-border-primary: var(--color-primary);
  --color-border-secondary: var(--color-secondary);
  --color-border-palette-1: var(--color-palette-1);
  --color-border-palette-2: var(--color-palette-2);
  --color-border-palette-3: var(--color-palette-3);
  --color-border-palette-4: var(--color-palette-4);
  --color-border-palette-5: var(--color-palette-5);
  --color-border-disabled: var(--color-neutral-80);
  --color-border-muted: var(--color-neutral-90);
  --color-border-neutral-lightest: var(--color-neutral-100, #fff);
  --color-border-neutral-darkest: var(--color-neutral-0, #000);
  --color-border-danger: var(--color-danger, #f00);
  --color-border-success: var(--color-success, green);
  --color-border-static: var(--color-neutral-0);

  /* context */
  --color-background-body: var(--color-background-neutral-light);
  --color-text-body: var(--color-neutral-0, #000);

  color-scheme: light;
}
