.org-media {
  padding: 20px;
  display: grid;
  gap: 20px;
  background-color: #eee;
}

.org-media * {
  margin: 0;
}

.org-media > .org-media__image {
  height: auto;
}

.org-media .org-media__content {
  font-size: 12px;
  line-height: 20px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.org-media .org-media__content .org-media__content-heading {
  font-size: 16px;
  line-height: 25px;
}

@media only screen and (min-width: 414px) {
  .org-media {
    grid-template-columns: 114px 1fr;
  }
  .org-media > .org-media__image {
    max-width: 114px;
  }
  .org-media .org-media__content {
    flex: 1 1 240px;
  }
}
.org-media .wf {
  background: #eee;
}

.org-media .wf > img,
.org-media .wf .org-media__content > * {
  background-color: #d9d9d9;
}
