.henk-grid-options-bar {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: var(--space-4);
  width: min(var(--size-width-content), 100% - 3rem);
  margin-inline: auto;
  margin-bottom: var(--space-4);
  position: relative;
}

@media screen and (max-width: 767px) {
  .henk-grid-options-bar {
    .henk-grid-options-bar__filters {
      width: 100%;
    }

    details#filters-widget {
      .filters-widget__active-num {
        font-size: 13px;

        + .henk-button {
          right: 8px;
        }
      }
    }

    .henk-grid-options-bar__sort {
      margin-top: 72px;
      width: 100%;
    }
  }
}

.henk-grid-options-bar__filters {
  min-width: 200px;
  z-index: 9;
  position: absolute;
  top: 0;
  left: 0;
}

.henk-grid-options-bar__sort {
  .henk-labeled-select {
    margin-bottom: 0;
    min-width: 200px;
  }
}

.filters-widget__reset-button {
  position: absolute;
  right: -96px;
  top: 0;
}

details#filters-widget {
  > summary {
    border: 1px solid black;
    border-radius: 4px;
    padding: 9px 1rem;
    position: relative;
  }

  .filters-widget__active-num {
    font-size: 13px;
  }

  .henk-details-group {
    backdrop-filter: blur(24px);
    background-color: #ffffff4d;
    border: 1px solid black;
    font-size: 13px;
    line-height: 24px;

    summary {
      padding: var(--space-2);
    }
  }

  .henk-details__content {
    padding-block: 0;

    label {
      display: flex;
      align-items: center;
      gap: var(--space-3);
      padding-left: 8px;
      position: relative;

      .swatch {
        position: absolute;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        display: inline-block;
        border: 1px solid #ccc;
        vertical-align: middle;
      }

      .swatch + input[type="checkbox"] {
        visibility: hidden;
      }

      &:has(input[type="checkbox"]:checked) {
        font-weight: 500;

        .swatch {
          border-color: black;
          border-width: 2px;
        }
      }
    }

    input[type="checkbox"] {
      margin: 0;
    }
  }

  &[open] {
    > summary {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }

    .henk-details-group {
      border-top: none;
      border-top-left-radius: 0;
      border-top-right-radius: 0;

      summary:hover {
        background-color: black;
        color: white;
      }

      .henk-details.henk-details--plusmin .henk-details__summary::before,
      .henk-details.henk-details--plusmin .henk-details__summary::after {
        top: unset;
        right: 8px;
      }

      .henk-button-group {
        margin-block-start: 0;
        padding: var(--space-2);
      }
    }
  }
}
