.info-box {
  --_color-ui-border-info-box: var(--color-ui-border-default);
  background-color: var(--color-ui-surface-neutral);
  padding: 1rem;
  border-radius: 0.5rem;
  /* border: 1px solid var(--color-ui-border-default); */
  border: 1px solid var(--_color-ui-border-info-box);
}

.info-box * {
  margin: 0;
}

.info-box a {
  /* color: var(--color-ui-text-on-success); */
  /* --color-ui-text-action: var(--color-ui-text-on-success);  */
  /* --color-ui-text-action: inherit; */
  --color-ui-text-action: currentcolor;
  --color-ui-text-action-hover: currentcolor;
}

.info-box__container {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.info-box__header {
  position: relative;
}

.info-box__header--has-icon .henk-icon {
  position: absolute;
  top: 0;
  right: 0;
}

.info-box__heading {
  font-weight: 500;
}

.info-box__header--has-icon .info-box__heading {
  max-width: calc(100% - 24px);
}

.info-box__body {
  
}

.info-box__footer {
  
}

.info-box--variant-info {
  background-color: var(--color-ui-surface-information);
  color: var(--color-ui-text-on-information);
  --_color-ui-border-info-box: var(--color-ui-border-on-information);
}

.info-box--variant-success {
  background-color: var(--color-ui-surface-success);
  color: var(--color-ui-text-on-success);
  --_color-ui-border-info-box: var(--color-ui-border-on-success);
}

.info-box--variant-warning {
  background-color: var(--color-ui-surface-warning);
  color: var(--color-ui-text-on-warning);
  --_color-ui-border-info-box: var(--color-ui-border-on-warning);
}

.info-box--variant-danger {
  background-color: var(--color-ui-surface-danger);
  color: var(--color-ui-text-on-danger);
  --_color-ui-border-info-box: var(--color-ui-border-on-danger);
}