.cl-table {
  width: 100%;
}

.cl-table caption {
  text-align: left;
}

.cl-table th {
  text-align: left;
  border-bottom: 1px solid #d3d3d3;
  white-space: nowrap;
  vertical-align: middle;
  line-height: 1;
  padding: 30px 8px 10px 0;
  font-weight: 400;
}

.cl-table tr+tr td {
  border-top: 1px solid #d3d3d3;
}

.cl-table+.cl-table {
  margin-top: 3rem;
}

th[data-alignment=align-number],
td[data-alignment=align-number],
th[data-alignment=align-right],
td[data-alignment=align-right] {
  text-align: right;
}

td[data-alignment=align-number] {
  font-family: monospace, monospace;
  white-space: nowrap;
  font-size: calc(var(--size-font-13) / 16 * 1em);
  min-width: 12ch;
  width: 12ch;
}

th[data-alignment=align-center],
td[data-alignment=align-center] {
  text-align: center;
}

th[data-alignment=align-left],
td[data-alignment=align-left] {
  text-align: left;
}

tr .v-align {
  line-height: 54px;
}

tr .v-align>* {
  vertical-align: middle;
}