.henk-input {
  background-color: var(--color-ui-surface-default);
  border: 1px solid var(--color-ui-border-default);
  color: var(--color-ui-text-default);
  font-family: var(--font-body);
  font-size: 1rem;
  line-height: 1.5;
  padding: 10px 1rem;
}

.henk-input[type="text"],
.henk-input[type="email"],
.henk-input[type="password"],
.henk-input[type="search"],
.henk-input[type="tel"] {
  border-radius: 4px;
}

.henk-input:focus-visible {
  outline-offset: 0;
}

.henk-input::placeholder {
  color: var(--color-ui-text-neutral);
}
