.henk-select {
  width: 100%;
  padding: 8px;
  border: 1px solid var(--color-ui-border-default);
  border-radius: 4px;
  font-family: var(--font-body);
  font-size: 1rem;
  line-height: 1.5;
  transition: border-color 0.3s;
}

.henk-select:focus {
  border-color: var(--color-ui-border-primary);
  outline: none;
}

.henk-select.required {
  border-left: 3px solid #dc3545;
}

/* arrow */
