.henk-labeled-input {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5rem;
}

.henk-labeled-input--dir-horizontal {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
}

/* why? */
.henk-labeled-input .henk-label {
  /* margin-bottom: 0.25rem; */
}

.henk-labeled-input--dir-horizontal .henk-label {
  margin-bottom: 0;
}

.henk-labeled-input--dir-horizontal .henk-input {
  flex: 1;
}

.henk-labeled-input--floating {
  position: relative;
}

.henk-labeled-input--floating .henk-label {
  position: absolute;
  font-weight: 400;
  color: var(--color-ui-text-neutral);
  top: 10px;
  left: 14px;
  transition: top 0.3s ease;
}

.henk-labeled-input--floating .henk-input:focus + .henk-label,
.henk-labeled-input--floating
  .henk-input:not(:placeholder-shown)
  + .henk-label {
  top: -14px;
  font-size: 12px;
  background-color: #fff;
  color: #000;
  padding: 0 0.5rem;
}

.henk-labeled-input--required {
  margin-bottom: 8px;
}

.henk-labeled-input .henk-input:invalid {
  border-color: red;
}

/* .henk-labeled-input .henk-input:placeholder-shown { */
/*   border-color: pink; */
/* } */

/* empty required fields on start, showing placeholder / label ! */
.henk-labeled-input .henk-input:placeholder-shown:invalid {
  border-color: black;
}

/* empty required fields ! */
.henk-labeled-input .henk-input.henk-input:not(:placeholder-shown):invalid {
  border-color: var(--color-ui-text-danger);
}

.henk-labeled-input
  .henk-input.henk-input:not(:placeholder-shown):invalid
  ~ .error-message {
  visibility: visible;
}
