[role=button] {
  cursor: pointer;
}

.popover-btn {
  cursor: pointer;
}

.tooltip {
  position: absolute;
  z-index: 91080;
  text-align: left;
  text-decoration: none;
  text-shadow: none;
  text-transform: none;
  white-space: normal;
  word-break: normal;
  word-spacing: normal;
  word-wrap: normal;
  font-size: 0.75rem;
  opacity: 0;
  /* filter: alpha(opacity=0); */
}

.tooltip.in {
  opacity: 0.9;
  /* filter: alpha(opacity=90); */
}

.tooltip.top {
  margin-top: -3px;
  padding: 5px 0;
}

.tooltip.right {
  margin-left: 3px;
  padding: 0 5px;
}

.tooltip.bottom {
  margin-top: 3px;
  padding: 5px 0;
}

.tooltip.left {
  margin-left: -3px;
  padding: 0 5px;
}

.tooltip-inner {
  max-width: 200px;
  padding: 4px 16px;
  color: var(--color-white);
  text-align: center;
  background-color: rgba(0, 0, 0, 0.08);
  border-radius: 4px;
}

.tooltip-arrow {
  position: absolute;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}

.tooltip.top .tooltip-arrow {
  bottom: 0;
  left: 50%;
  margin-left: -5px;
  border-width: 5px 5px 0;
  border-top-color: rgba(0, 0, 0, 0.08);
}

.tooltip.top-left .tooltip-arrow {
  bottom: 0;
  right: 5px;
  margin-bottom: -5px;
  border-width: 5px 5px 0;
  border-top-color: rgba(0, 0, 0, 0.08);
}

.tooltip.top-right .tooltip-arrow {
  bottom: 0;
  left: 5px;
  margin-bottom: -5px;
  border-width: 5px 5px 0;
  border-top-color: rgba(0, 0, 0, 0.08);
}

.tooltip.right .tooltip-arrow {
  top: 50%;
  left: 0;
  margin-top: -5px;
  border-width: 5px 5px 5px 0;
  border-right-color: rgba(0, 0, 0, 0.08);
}

.tooltip.left .tooltip-arrow {
  top: 50%;
  right: 0;
  margin-top: -5px;
  border-width: 5px 0 5px 5px;
  border-left-color: rgba(0, 0, 0, 0.08);
}

.tooltip.bottom .tooltip-arrow {
  top: 0;
  left: 50%;
  margin-left: -5px;
  border-width: 0 5px 5px;
  border-bottom-color: rgba(0, 0, 0, 0.08);
}

.tooltip.bottom-left .tooltip-arrow {
  top: 0;
  right: 5px;
  margin-top: -5px;
  border-width: 0 5px 5px;
  border-bottom-color: rgba(0, 0, 0, 0.08);
}

.tooltip.bottom-right .tooltip-arrow {
  top: 0;
  left: 5px;
  margin-top: -5px;
  border-width: 0 5px 5px;
  border-bottom-color: rgba(0, 0, 0, 0.08);
}

.popover {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 91080;
  display: none;
  padding: 1px;
  font-size: 0.875rem;
  background-color: var(--color-white);
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.08);
}

@media (max-width: 991px) {
  .popover {
    margin-top: 0 !important;
    top: 0 !important;
    left: 0 !important;
    height: 100vh;
  }
}

@media (min-width: 992px) {
  .popover {
    position: absolute;
    max-width: 950px;
    margin-right: 2rem;
  }
}

.popover__close {
  z-index: 1051;
  cursor: pointer;
  position: absolute;
  top: 0.5rem;
  right: 0.75rem;
}

@media (max-width: 991px) {
  .popover__close {
    top: 1rem;
    right: 1rem;
    padding-bottom: 1.5rem;
  }

  .popover__close:before {
    content: "ESC";
    position: absolute;
    bottom: 0;
  }
}

@media (min-width: 544px) {
  .popover__close .icon {
    width: 20px;
    height: 20px;
  }
}

.popover__text:not(:last-of-type) {
  padding-bottom: 0.75rem;
}

.popover.top {
  margin-top: -10px;
}

.popover.right {
  margin-left: 10px;
}

.popover.bottom {
  margin-top: 10px;
}

.popover.left {
  margin-left: -10px;
}

.popover-title {
  margin: 0;
  padding: 0 16px;
  margin-top: 2rem;
}

@media (min-width: 992px) {
  .popover-title {
    margin-top: 0;
  }
}

.popover-content {
  padding: 4px 16px 8px 16px;
  margin-top: 1rem;
}

@media (min-width: 992px) {
  .popover-content {
    margin-top: 0;
  }
}

.popover>.arrow,
.popover>.arrow:after {
  position: absolute;
  display: none;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}

@media (min-width: 992px) {

  .popover>.arrow,
  .popover>.arrow:after {
    display: block;
  }
}

.popover>.arrow {
  border-width: 11px;
}

.popover>.arrow:after {
  border-width: 10px;
  content: "";
}

.popover.top>.arrow {
  left: 50%;
  margin-left: -11px;
  border-bottom-width: 0;
  border-top-color: rgba(0, 0, 0, 0.08);
  bottom: -11px;
}

.popover.top>.arrow:after {
  content: " ";
  bottom: 1px;
  margin-left: -10px;
  border-bottom-width: 0;
  border-top-color: #fff;
}

.popover.right>.arrow {
  top: 50%;
  left: -11px;
  margin-top: -11px;
  border-left-width: 0;
  border-right-color: rgba(0, 0, 0, 0.08);
}

.popover.right>.arrow:after {
  content: " ";
  left: 1px;
  bottom: -10px;
  border-left-width: 0;
  border-right-color: #fff;
}

.popover.bottom>.arrow {
  left: 50%;
  margin-left: -11px;
  border-top-width: 0;
  border-bottom-color: rgba(0, 0, 0, 0.08);
  top: -11px;
}

.popover.bottom>.arrow:after {
  content: " ";
  top: 1px;
  margin-left: -10px;
  border-top-width: 0;
  border-bottom-color: #fff;
}

.popover.left>.arrow {
  top: 50%;
  right: -11px;
  margin-top: -11px;
  border-right-width: 0;
  border-left-color: rgba(0, 0, 0, 0.08);
}

.popover.left>.arrow:after {
  content: " ";
  right: 1px;
  border-right-width: 0;
  border-left-color: #fff;
  bottom: -10px;
}