.usp-bar {    
    width: 100%;   
    padding: 4px 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    display: flex;
    place-content: center;
    background-color: var(--color-ui-surface-neutral-01);
    color: var(--color-ui-text-default);
}

/* .usp-bar.usp-bar--bg-primary {
    background-color: var(--color-ui-surface-primary);
    color: var(--color-ui-text-on-primary);
} */

/* .usp-bar.usp-bar--bg-secondary {    
    background-color: var(--color-ui-surface-secondary);
    color: var(--color-ui-text-on-secondary);
} */

/* .usp-bar.usp-bar--bg-tertiary {
    background-color: var(--color-ui-surface-tertiary);
    color: var(--color-ui-text-on-tertiary);
} */

.usp-bar a {
  text-decoration: none;
  color: var(--color-ui-text-default);
}

.usp-bar__list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 48px;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.usp-bar__list-item {
    text-align: center;
    display: flex;
    align-items: center;
    gap: 8px;
}

.usp-bar__list-item .henk-icon svg {
    display: inline-flex;
    /* width: 16px;
    height: 16px; */
}

@media only screen and (max-width: 767px) {
    .usp-bar {
        display: none;
    }
}

/* themes */
/* .usp-bar--bg-primary a:hover,
.usp-bar--bg-primary a:focus {
  --color-ui-text-action: var(--color-orange-default);
} */