.usp-bar {
    /* display: none; */
    --_color-background-usp-bar: var(--color-token-surface-invert);
    --_color-text-usp-bar: var(--color-token-text-invert);
    
    background-color: var(--_color-background-usp-bar, #000);
    color: var(--_color-text-usp-bar, #fff);
    /* width: max-content; */ 
    width: 100%;   
    padding: 4px 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    display: flex;
    place-content: center;

    --color-text-action: currentcolor;
}

.usp-bar--highlight {
  --_color-background-usp-bar: var(--color-token-surface-highlight, blue);
}

.usp-bar--highlight-contrast {
  --_color-background-usp-bar: var(--color-mapped-blue-650, #000);
}

.usp-bar a:hover,
.usp-bar a:focus {
    /* --color-text-action: var(--color-henk-black); */
    color: red;
}

.usp-bar * {
    margin: 0;
    padding: 0;
}

.usp-bar__list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    width: 100%;
    justify-content: center;
    align-items: center;
    /* justify-content: space-evenly; */
}

.usp-bar__list-item {
    font-weight: 500;
    text-align: center;
}

@media only screen and (max-width: 767px) {
    .usp-bar {
        display: none;
    }
}