.usp-bar {    
    /* width: max-content; */ 
    width: 100%;   
    padding: 4px 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    display: flex;
    place-content: center;

    /* --color-ui-text-action: currentcolor; */
    /* 
    --color-ui-text-action-hover: var(--color-secondary); */
}

/* .usp-bar--highlight {
  --_color-background-usp-bar: var(--color-token-surface-highlight, blue);
}

.usp-bar--highlight-contrast {
  --_color-background-usp-bar: var(--color-mapped-blue-650, #000);
} */

.usp-bar a {
  text-decoration: none;
}

.usp-bar * {
    margin: 0;
    padding: 0;
}

.usp-bar__list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 48px;
    width: 100%;
    justify-content: center;
    align-items: center;
    /* justify-content: space-evenly; */
}

.usp-bar__list-item {
    /* font-weight: 500; */
    text-align: center;
    display: flex;
    gap: 8px;
}

.usp-bar__list-item .henk-icon svg {
    display: inline-flex;
    width: 20px;
    height: 20px;
}

@media only screen and (max-width: 767px) {
    .usp-bar {
        display: none;
    }
}

/* themes */
/* .usp-bar--bg-primary a:hover,
.usp-bar--bg-primary a:focus {
  --color-ui-text-action: var(--color-orange-default);
} */