.henk-section-header {
  display: flex;
  flex-direction: column;
  place-items: center;
  background-color: var(--color-background-base);
  padding-block: 4lh;
}

.henk-section-header--bg-primary {
  background-color: var(--color-background-palette-4);
}

.henk-section-header .henk-section-header__inner {
  width: min(var(--size-width-content, 1140px), 100% - 3rem);
  margin-inline: auto;
}

.henk-section-header__content {
  display: flex;
  flex-direction: column;
  place-items: center;
  text-align: center;
  text-wrap: balance;
  width: min(485px, 100%);
  margin-inline: auto;
}

.henk-section-header__content *:last-child {
  margin-block-end: 0;
}

.henk-section-header__title {
  text-align: center;
  text-wrap: balance;
  margin-block-start: 0;
}

.henk-section-header__title+p {
  margin-top: 0;
}

.henk-section-header__byline {
  margin: 0;
  font-weight: 500;
  color: var(--color-palette-2);
}

.henk-section-header--align-left {
  place-items: flex-start;
}

.henk-section-header--align-left .henk-section-header__content {
  align-items: flex-start;
  text-align: left;
  margin-inline: unset;
}
