@charset "utf-8";
/* @import "_normalize.css"; */
@import "_font-face.css";


html {
  font-weight: normal;
}

@supports (-webkit-font-smoothing: antialiased) {
  html {
    -webkit-font-smoothing: antialiased;
  }
}

:root {
  --total-bars-height: calc(var(--NavBarHeight-mobile, 80px) + var(--MsgBarHeight, 0px));
}

@media only screen and (min-width: 1024px) {
  :root {
    --total-bars-height: calc(var(--NavBarHeight-desktop, 80px) + var(--MsgBarHeight, 0px));
  }
}

body {
  padding: var(--total-bars-height, 80px) 0 0 0;
}

@media (prefers-color-scheme: dark) {
  html {
    color: #fff;
  }
}