.sh-org-splitscreen {
  padding: 24px;
  background-color: var(--color-henk-white, #fff);
}
.sh-org-splitscreen .sh-l-grid {
  display: grid;
  row-gap: 1.75rem;
  column-gap: 0;
  max-width: none;
}

.sh-org-splitscreen__header,
.sh-org-splitscreen__content {
  padding: 0 24px;
}

@media only screen and (min-width: 768px) {
  .sh-org-splitscreen .sh-l-grid {
    align-items: center;
  }
  .sh-org-splitscreen .sh-l-grid .sh-molecule-section-header__subtitle {
    text-align: center;
  }
}
@media only screen and (min-width: 768px) {
  .sh-org-splitscreen {
    padding: 0;
  }
  .sh-org-splitscreen[data-order="reverse"] .sh-l-grid {
    grid-auto-flow: dense;
  }
  .sh-org-splitscreen[data-order="reverse"]
    .sh-l-grid
    .sh-l-grid__item:first-child {
    grid-column: 2;
  }
}
.sh-org-splitscreen .sh-l-grid__item video {
  object-fit: cover;
  width: 100%;
}
@media only screen and (max-width: 767px) {
  .sh-org-splitscreen .sh-l-grid__item video {
    height: auto;
    aspect-ratio: 183/208;
  }
}
@media only screen and (min-width: 768px) {
  .sh-org-splitscreen .sh-l-grid__item video {
    height: 100vh;
  }
}
