/*.sh-org-grid {*/
/*    --widthatNumofColumns: 1248;*/
/*    --numOfColomns-grid-component: 3;*/
/*    !*--gap-column-grid: 28;*!*/
/*    !*--gap-row-grid: 0px;*!*/
/*    display: grid;*/
/*    --minPerc: calc(((var(--widthatNumofColumns) - ((var(--numOfColomns-grid-component) - 1) * var(--gap-column-grid, 28))) / var(--numOfColomns-grid-component)) / var(--widthatNumofColumns) * 100);*/
/*    grid-template-columns: repeat(auto-fill, minmax(max(320px, var(--minPerc) * 1%), 1fr));*/
/*    column-gap: calc(var(--gap-column-grid, 28) * 1px);*/
/*    row-gap: calc(var(--gap-row-grid, 28) * 1px);*/
/*}*/
/* base grid is 1 -> 2 columns, 320 -> 1920 */
.sh-org-grid {
  display: grid;
  /*grid-template-columns: repeat(2, 1fr);*/
  --gap-column-grid: 28;
  --gap-row-grid: 28;
  column-gap: calc(var(--gap-column-grid, 28) * 1px);
  row-gap: calc(var(--gap-row-grid, 28) * 1px);
}

.sh-org-grid[data-grid-columns="4"] {
  /*grid-template-columns: repeat(4, 1fr);*/
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  /*(((1920 - ((4 - 1 ) * 28)) / 4)) / 4 * 100*/
  /*--minPerc: 11.475;*/
  /*--widthatNumofColumns: 1248;*/
  /*--numOfColomns-grid-component: 4;*/
  /*--minPerc: calc(((var(--widthatNumofColumns) - ((var(--numOfColomns-grid-component) - 1) * var(--gap-column-grid, 28))) / var(--numOfColomns-grid-component)) / var(--widthatNumofColumns) * 100);*/
  /*grid-template-columns: repeat(auto-fit, minmax(max(320px, var(--minPerc) * 1%), 1fr));*/
}

.sh-org-grid__item {
  /*background-color: mediumaquamarine;*/
}
