/* details-component.css */
.faq-container {
  display: flex;
  flex-direction: column;
  padding: 24px;
  max-width: 1208px;
  margin: 0 auto;
  transition: all .3s ease;
}

@media screen and (min-width: 768px) {
  .faq-container {
    padding: 40px;
  }
}

.henk-details {
  margin-bottom: 1.5rem;
  color-scheme: light dark;  
}

.henk-details-group .henk-details {
  margin-bottom: 0;  
}

.henk-details__summary {
  cursor: pointer;
  font-weight: 400;
}

.henk-details__content {
  margin-top: 10px;
  max-width: 60ch;
}

.henk-details.henk-details--plusmin {
  border-bottom: 1px solid var(--color-ui-border-default);
}

.henk-details.henk-details--plusmin .henk-details__summary {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 0;
  padding: 3px 12px 3px 0;
  transition: all .3s ease;
  position: relative;
}

.henk-details.henk-details--plusmin[open] .henk-details__summary {
  color: var(--color-ui-text-primary);
  position: relative;
}

.henk-details.henk-details--plusmin .henk-details__summary::before {
  content: "+";
  display: inline-flex;
  font-size: 1.25rem;
  /* width: 24px;
  height: 24px; */
  justify-content: center;
  line-height: 24px;
  transition: all .3s ease;  
  position: absolute;
  top: 3px;
  right: 0;
  transform-origin: center center;
  z-index: 1;
  opacity: 1;
}

.henk-details.henk-details--plusmin[open] .henk-details__summary::before {
  transform: rotate(90deg);
  opacity: 0;
}

.henk-details.henk-details--plusmin .henk-details__summary::after {
  content: "−";
  position: absolute;
  top: 3px;
  right: 0;
  opacity: 0;
  transition: all .3s ease;
}

.henk-details.henk-details--plusmin[open] .henk-details__summary::after {
  opacity: 1;
}

.henk-details.henk-details--plusmin .henk-details__summary:hover {
  color: var(--color-ui-text-action-hover);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --color-ui-surface-default: var(--color-alias-base-black);
    --color-ui-text-body: var(--color-alias-base-white);
    --color-ui-text-action-hover: var(--color-alias-primary-light, blue);
  }

  .henk-details.henk-details--plusmin[open] .henk-details__summary {
    color: var(--color-alias-primary-light); 
  }
} */