.sh-l-flex-container > * + * {
  margin-top: 0;
}

@media only screen and (min-width: 992px) {
  .sh-l-flex-container {
    display: flex;
    flex-direction: row;
    gap: 24px;
  }
  .sh-l-flex-container .sh-l-flex__item {
    flex: 1 1 50%;
  }
}
