{% assign families = shop.metaobjects.material_family.values %}
{% assign current_type_name = metaobject.name.value %}

<div class="material-page">
  <!-- <h1>{{ current_type_name }}</h1> -->

  <div class="henk-grid">
    {% for family in families %}
      {% assign family_type_name = family.material_type.value.name.value %}
      {% if family_type_name == current_type_name %}
        {% render 'henk-card',
          href: family.system.url,
          image: family.image,
          image_alt: family.name.value,
          title: family.name.value,
          subtitle: '',
          rounded: false,
          shadow: false
        %}
      {% endif %}
    {% endfor %}
  </div>
</div>
