@media only screen and (max-width: 1023px) {
  @keyframes MoveLeftRight {
    from {
      transform: translateX(-100%);
    }

    to {
      transform: translateX(0);
    }
  }

  @keyframes MoveRightLeft {
    from {
      transform: translateX(100%);
    }

    to {
      transform: translateX(0);
    }
  }

  .NavBarMobile .NavBarMobile__top {
    position: fixed;
    top: var(--MsgBarHeight, 0);
    z-index: 91049;
    width: 100%;
    background-color: var(--color-white);
    padding: 24px;
    display: grid;
    align-items: center;
    gap: 8px;
    grid-template-columns: 1fr 24px 24px;
    transition: all 0.3s ease;
  }

  .NavBarMobile .NavBarMobile__top hamburger-button {
    justify-self: center;
  }

  .NavBarMobile[data-theme="dark"] .NavBarMobile__top {
    background-color: var(--color-transparent);
    color: var(--color-white);
    --color-background-button-nav-mobile: var(--color-white);
  }

  .NavBarMobile[data-theme="dark"] .NavBarMobile__top-link {
    color: var(--color-white);
  }

  .NavBarMobile__top-link {
    font-size: 0;
  }

  .NavBarMobile .NavBarMobile__header.NavBar--isOpen .NavBarMobile__top {
    background-color: var(--color-henk-white);
    color: var(--color-black);
    --color-background-button-nav-mobile: var(--color-black);
    transition: all 0.3s ease;
  }

  .NavBarMobile .NavBarMobile__header.NavBar--isScrolled .NavBarMobile__top {
    background-color: var(--color-white);
    color: var(--color-black);
    --color-background-button-nav-mobile: var(--color-black);
  }

  .NavBarMobile .NavBarMobile__header.NavBar--isOpen .NavBarMobile__top-link {
    color: var(--color-black);
  }

  .NavBarMobile
    .NavBarMobile__header.NavBar--isScrolled
    .NavBarMobile__top-link {
    color: var(--color-black);
  }

  .NavBarMobile .NavBarMobile__nav {
    opacity: 0;
    visibility: hidden;
    height: 0;
    overflow: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease, height 0.3s ease;
    background-color: var(--color-henk-white);
    position: fixed;
    top: var(--total-bars-height, 0);
    z-index: 91048;
    width: 100%;
    padding: 0 24px 24px 24px;
  }

  .NavBarMobile .NavBarMobile__nav.active {
    opacity: 1;
    visibility: visible;
    height: calc(100svh - var(--total-bars-height, 0) - 40px + 2px);
    top: calc(var(--total-bars-height, 0) - 1px);
  }

  .NavBarMobile .NavBarMobile__list {
    margin: 0;
    list-style: none;
    max-height: calc(100svh - calc(var(--total-bars-height) + 40px));
    overflow-y: scroll;
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  .NavBarMobile .NavBar--isOpen .NavBarMobile__list {
    animation: MoveRightLeft 0.6s ease-in-out both;
  }

  .NavBarMobile .NavBarMobile__list-item {
    animation: fadeIn 0.3s ease-in-out forwards,
      MoveLeftRight 0.3s ease-in-out forwards;
    font-size: 24px;
    line-height: 48px;
    width: 100%;
  }

  .NavBarMobile .NavBarMobile__list .NavBarMobile__list {
    margin: 0;
    list-style: none;
    flex: 1;
    align-self: flex-end;
  }

  .NavBarMobile .NavBarMobile__button-next-level {
    cursor: pointer;
  }

  .NavBarMobile .page-link {
    display: block;
    text-decoration: none;
  }

  .NavBarMobile .NavBarMobile__button-back {
    animation: fadeInOut 1s ease-in-out normal forwards;
  }

  .NavBarMobile .NavBarMobile__button-back.reverse {
    animation: fadeOutIn 1s ease-in-out normal forwards;
  }

  .utils-bar {
    z-index: 99999999999;
    position: fixed;
    bottom: 0;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    align-items: center;
    padding: 8px 24px;
    left: 0;
    display: none;
    background-color: var(--color-henk-white);
    justify-items: start;
  }

  .utils-bar a {
    text-decoration: none;
    font-size: 12px;
    display: flex;
    flex-direction: column;
    align-items: start;
  }

  .utils-bar a:last-child {
    /* align-self: flex-end; */
    justify-self: flex-end;
  }

  .utils-bar lang-switch {
    font-size: 12px;
  }

  .NavBarMobile__nav.active + .utils-bar {
    display: grid;
  }

  .NavBarMobile .NavBarMobile__top-link {
    position: relative;
  }

  .NavBarMobile .cart__badge {
    font-size: 8px;
    font-weight: 500;
    position: absolute;
    bottom: -2px;
    right: 0;
    background-color: var(--color-henk-black);
    width: 12px;
    height: 12px;
    line-height: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: var(--color-white);
    transition: all 0.3s ease;
  }

  .NavBarMobile[data-theme="dark"] .cart__badge {
    background-color: var(--color-white);
    color: var(--color-henk-black);
  }

  .NavBarMobile[data-theme="dark"] .NavBar--isHovered .cart__badge,
  .NavBarMobile[data-theme="dark"] .NavBar--isScrolled .cart__badge,
  .NavBarMobile[data-theme="dark"] .NavBar--isOpen .cart__badge {
    background-color: var(--color-black);
    color: var(--color-white);
  }

  .NavBarMobile .cart__badge span {
    font-size: 6px;
  }

  .NavBarMobile__list-item {
    display: flex;
  }

  sup.highlight {
    color: var(--color-henk-danger);
    top: -1em;
    line-height: 40px;
    left: -2em;
    font-size: 14px;
  }

  .page-link + sup.highlight {
    left: 0;
    top: -1em;
  }
}

@media only screen and (min-width: 1024px) {
  #NavBarMobile {
    display: none;
  }
}