.henk-card {
  background-color: var(--color-background-muted);
  border-radius: 8px;
  padding-bottom: 24px;
  display: grid;
  justify-items: center;
}

.henk-card .henk-card__content {
  padding: 24px;
  display: grid;
  justify-content: center;
  row-gap: 8px;
}

.henk-card__title {
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin-bottom: 0.5rem; */
  margin-bottom: 0;
}

.henk-card__link--directions {
  font-size: 13px;
  text-decoration: none;
  /* align-items: flex-start; */
  display: flex;
  align-items: center;
  gap: 8px;
}

.henk-card__link--directions.raw-address {
  align-items: flex-start;
}

.henk-card__link--directions:hover {
  text-decoration: underline;
}

@media only screen and (max-width: 374px) {
  .henk-card__link--directions:has(.henk-icon) {
    display: inline;
  }

  .henk-card__link--directions .henk-icon {
    position: relative;
    top: 5px;
  }
}

/* .henk-card__button { */
/*   margin-left: 24px; */
/* } */

picture.henk-card__picture {
  aspect-ratio: 460 / 382;
}

.henk-card__img {
  height: auto;
  border-radius: 8px 8px 0 0;
  aspect-ratio: 460 / 382;
  object-fit: cover;
}

.henk-card__store-status {
  margin-bottom: 0;
}

.henk-card__store-status--open {
  color: var(--color-ui-text-success);
}

.henk-card__store-status--closed {
  color: var(--color-ui-text-danger);
}

@media only screen and (min-width: 879px) {
  .henk-card .henk-card__content {
    padding: 48px;
  }

  /* .henk-card__button { */
  /*   margin-left: 48px; */
  /* } */

  .henk-card {
    padding-bottom: 48px;
  }
}
