@layer components.button {
  .henk-button {
    --_color-background-button: var(--color-background-tertiary);
    --_color-text-button: var(--color-text-static);
    --_color-border-button: var(--color-border-static);

    --_color-background-button-hover: var(--color-background-neutral-darkest);

    background-color: var(--_color-background-button);
    color: var(--_color-text-button);
    border: 1px solid var(--_color-border-button);
    border-radius: 4px;
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
    line-height: 1.5;
    padding: 0.5625em 1em;
    text-decoration: none;
    text-underline-offset: 0;
    font-family: var(--font-body, sans-serif), sans-serif;
    font-size: 1rem;
    font-weight: var(--font-weight-semibold, 500);
    transition: all 0.3s ease;
    text-align: center;
  }

  @media screen and (max-width: 321px) {
    .henk-button {
      padding-inline: 16px;
    }
  }

  .henk-button:hover,
  a:hover span.henk-button {
    --_color-background-button: var(--_color-background-button-hover);
    --_color-text-button: var(--color-text-base-invert);
    text-underline-offset: 0;
  }

  /* Variants */
  .henk-button--primary {
    --_color-background-button: var(--color-background-primary-light);
  }

  .henk-button--secondary {
    --_color-background-button: var(--color-background-secondary);
  }

  /* Icon size adjustments */
  /* .henk-button:has(.icon--large) { */
  /*   padding-block: 9px; */
  /* } */
  /**/
  /* .henk-button:has(.icon--medium) { */
  /*   padding-block: 3px; */
  /* } */

  /* Disabled state */
  .henk-button[disabled],
  .henk-button[aria-disabled="true"] {
    --_color-background-button: var(--color-background-disabled);
    --_color-text-button: var(--color-text-on-disabled);
    --_color-border-button: var(--color-border-disabled);
    cursor: not-allowed;
  }

  /* Size modifiers */
  .henk-button--small {
    font-size: 0.8125em;
    line-height: 1.84615385em;
    padding: 3px 16px;
  }

  /* Ghost variant (minimal styling) */
  .henk-button--ghost {
    --_color-background-button: transparent;
    --_color-border-button: transparent;
    padding-inline: 0.25em; /* optional — makes it more text-like */
    /* padding-block: 10px; */
    background-color: transparent;
    border: 1px solid transparent;
    color: var(--color-text-base); /* or a link color */
  }

  .henk-button--ghost:hover {
    --_color-background-button: transparent;
    color: var(--color-text-primary);
  }

  .henk-button .henk-icon {
    font-size: 12px;
  }

  .henk-button .henk-icon svg {
    width: 1em;
    height: 1em;
  }

  .henk-button.henk-button--small .henk-icon {
    font-size: 10px;
  }

  .henk-button .henk-icon.icon--only {
    font-size: 24px;
  }

  .henk-button.henk-button--small .henk-icon.icon--only {
    font-size: 16px;
  }

  .henk-button:has(.icon--only) {
    padding-inline: 9px;
  }

  .henk-button.henk-button--small:has(.icon--only) {
    padding-block: 7px;
    padding-inline: 7px;
  }

  .henk-button .henk-icon:has(#chevron-down) {
    transform: translateY(1px);
  }

  /* state */
  .henk-button[data-state="open"] #chevron-down {
    transform: rotate(180deg);
  }

  .henk-button:popover-open .henk-icon #chevron-down {
    transform: rotate(180deg);
  }
}
