@layer components.header {
  .henk-header {
    --color-text-header: var(--color-text-base);
    --color-background-header: var(--color-background-base);
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    background-color: var(--color-background-header);
    position: relative;

    ul,
    ol {
      list-style: none;
      margin: 0;
      padding: 0;
    }

    .henk-header__inner {
      width: min(var(--size-width-content, 1140px), 100% - 3rem);
      margin-inline: auto;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      justify-items: start;
      align-items: center;
    }

    a:not(.henk-logo) {
      text-decoration: none;
      color: currentcolor;
      transition: all 0.3s ease;
      display: inline-flex;
      align-items: center;

      &:hover,
      &:focus-visible {
        color: var(--color-text-primary-dark);
      }
    }

    .henk-logo--default {
      padding-left: 0;
    }

    .henk-logo svg {
      display: block;
    }

    .henk-header__menu {
      list-style: none;
      display: flex;
      justify-items: start;
      justify-self: start;
      gap: 1.5rem;
      padding: 0;
      margin: 0;
    }

    .henk-header__menu-link {
      display: flex;
      align-items: center;
      gap: 4px;
    }

    /* .henk-header__menu-link:hover .henk-icon svg, */
    /* .henk-header__menu-link:focus-visible .henk-icon { */
    /*   transform: rotate(180deg); */
    /* } */

    .henk-header__menu-link.open .henk-icon svg {
      transform: rotate(180deg);
    }

    .henk-header__utils {
      display: flex;
      justify-content: right;
      gap: 0;
      justify-self: flex-end;
      align-items: center;
    }
  }

  .henk-wrapper > .henk-header {
    position: fixed;
  }

  .henk-header .dropdown-container {
    opacity: 0;
    height: 0;
    position: absolute;
    /* background-color: rgba(243, 243, 242, 0.6); */
    background-color: rgba(255, 255, 255, 0.6);
    width: 100%;
    height: calc(100svh - var(--size-height-header, 72px));
    left: 0;
    margin: 0 auto;
    top: var(--size-height-header, 72px);
    display: none;
    backdrop-filter: blur(24px);
    transition: opacity 1s ease;
  }

  .dropdown-container__inner {
    width: min(var(--size-width-content), 100% - 3rem);
    margin-inline: auto;
    padding-top: 48px;
    position: relative;
  }

  .henk-header .dropdown-container button.close-menu {
    position: absolute;
    top: 0;
    right: 0;
  }

  .henk-header .dropdown-container .dropdown {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }

  .henk-header .opening + .dropdown-container {
    display: grid;
  }

  .henk-header .open + .dropdown-container {
    opacity: 1;
    display: grid;
  }

  .henk-header .closing + .dropdown-container {
    opacity: 0;
  }

  .henk-header .sub-level:has(.column) {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5rem;
    padding-block-start: 9px;
  }

  .henk-header .left-col {
    padding-right: 1.5rem;
  }

  .henk-header .left-col a {
    font-size: 24px;
    line-height: 40px;
    font-weight: 500;
  }

  .henk-header .column__heading {
    display: inline-block;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 22px;
  }

  .column ul {
    font-size: 13px;
    line-height: 20px;
  }

  .header__utils-link.header__utils-link--cart {
    position: relative;
  }

  /* [data-theme="dark"] { */
  /*   .henk-header { */
  /*     --color-text-header: var(--color-neutral-100, #fff); */
  /*     --color-background-header: var(--color-neutral-0, #000); */
  /*   } */
  /* } */
  /**/
  /* @media (prefers-color-scheme: dark) { */
  /*   :root:not([data-theme]) { */
  /*     .henk-header { */
  /*       --color-text-header: var(--color-neutral-100, #fff); */
  /*       --color-background-header: var(--color-neutral-0, #000); */
  /*     } */
  /*   } */
  /* } */
}