.henk-breadcrumbs {
  font-size: var(--size-font-small);
  width: min(var(--size-width-content), 100% - 3rem);
  margin-inline: auto;
  /* background: aqua; */
}

.henk-breadcrumbs__list {
  list-style: none;
  margin: 0 auto;
  padding: 0;
  /* width: min(1208px, 100% - 3rem); */
}

.henk-breadcrumbs__item {
  display: inline-block;
  margin-right: 8px;
}

.henk-breadcrumbs__name {
  text-transform: capitalize;
}

/* Add the ">" separator between breadcrumb items */
.henk-breadcrumbs__item:not(:last-child)::after {
  content: "\003E"; /* Unicode for the > symbol */
  margin-left: 8px;
  color: var(--color-text-muted);
}

.henk-breadcrumbs__item:last-child .henk-breadcrumbs__name {
  font-weight: 500;
}

@media (max-width: 767px) {
  .henk-breadcrumbs__item:nth-child(2) {
    display: block; /* Ensure it's still present in the DOM */
    visibility: hidden; /* Hides the content visually */
    position: absolute; /* Removes it from the layout flow */
    width: 0; /* Optional: remove any space it might take */
    height: 0;
  }
}
