@layer colors.primitives {
  :root {
    /* primitive colors */

    /* blue */
    --color-blue: #006fde;
    --color-blue-10: hsl(210 100% 10%);
    --color-blue-20: hsl(210 100% 20%);
    --color-blue-30: hsl(210 100% 30%);
    --color-blue-40: hsl(210 100% 40%);
    --color-blue-44: hsl(210 100% 44%);
    --color-blue-50: hsl(210 100% 50%);
    --color-blue-60: hsl(210 100% 60%);
    --color-blue-70: hsl(210 100% 70%);
    --color-blue-80: hsl(210 100% 80%);
    --color-blue-90: hsl(210 100% 90%);

    /* neutral */
    --color-neutral: #000000;
    --color-neutral-0: hsl(0 0% 0%);
    --color-neutral-10: hsl(0 0% 10%);
    --color-neutral-20: hsl(0 0% 20%);
    --color-neutral-30: hsl(0 0% 30%);
    --color-neutral-40: hsl(0 0% 40%);
    --color-neutral-50: hsl(0 0% 50%);
    --color-neutral-60: hsl(0 0% 60%);
    --color-neutral-70: hsl(0 0% 70%);
    --color-neutral-80: hsl(0 0% 80%);
    --color-neutral-90: hsl(0 0% 90%);
    --color-neutral-95: hsl(0 0% 95%);
    --color-neutral-100: hsl(0 0% 100%);

    /* green */
    --color-green: #008000;
    --color-green-10: hsl(120, 80%, 10%);
    --color-green-20: hsl(120, 80%, 20%);
    --color-green-25: hsl(120, 80%, 25%);
    --color-green-30: hsl(120, 80%, 30%);
    --color-green-40: hsl(120, 80%, 40%);
    --color-green-50: hsl(120, 80%, 50%);
    --color-green-60: hsl(120, 80%, 60%);
    --color-green-70: hsl(120, 80%, 70%);
    --color-green-80: hsl(120, 80%, 80%);
    --color-green-90: hsl(120, 80%, 90%);

    /* red */
    --color-red: #ff0000;
    --color-red-30: hsl(0 100% 30%);
    --color-red-40: hsl(0 100% 40%);
    --color-red-50: hsl(0 100% 50%);
    --color-red-60: hsl(0 100% 60%);
    --color-red-70: hsl(0 100% 70%);
    --color-red-80: hsl(0 100% 80%);
    --color-red-90: hsl(0 100% 90%);

    /* yellow */
    --color-yellow: #f5d63d;
    --color-yellow-30: hsl(48 100% 30%);
    --color-yellow-40: hsl(48 100% 40%);
    --color-yellow-50: hsl(48 100% 50%);
    --color-yellow-60: hsl(48 100% 60%);
    --color-yellow-70: hsl(48 100% 70%);
    --color-yellow-80: hsl(48 100% 80%);
    --color-yellow-90: hsl(48 100% 90%);
  }
}
