@layer colors.semantic {
  :root {
    /* --color-palette-1: var(--taupe-gray); */
    --color-palette-1: var(--khaki);
    --color-palette-2: var(--columbia-blue);
    --color-palette-3: var(--white-smoke);
    --color-palette-4: var(--dim-gray);
    --color-palette-5: var(--silver);

    /* signal */
    --color-success: var(--color-green-40);
    --color-danger: var(--color-red-50);
    --color-warning: var(--color-yellow-50);
    --color-info: var(--color-blue-50);

    /* primary */

    /* --color-primary: var(--color-palette-2); */
    --color-primary: var(--color-palette-1);
    --color-secondary: var(--color-palette-2);
    --color-tertiary: var(--color-palette-3);

    /* foundation tints */
    --color-primary-light: var(--khaki-light);
    --color-primary-dark: var(--khaki-dark);

    --color-secondary-light: var(--columbia-blue-light);
    --color-secondary-dark: var(--columbia-blue-dark);

    --color-tertiary-light: var(--white-smoke-light);
    --color-tertiary-dark: var(--white-smoke-dark);

    /* background */
    --color-background-body: var(--color-neutral-100);
    --color-background-base: var(--color-neutral-100);
    --color-background-base-invert: var(--color-neutral-0);
    --color-background-base-static: var(--color-neutral-100);
    --color-background-primary: var(--color-primary);
    --color-background-primary-light: var(--color-primary-light);
    --color-background-secondary: var(--color-secondary);
    --color-background-secondary-light: var(--color-secondary-light);
    --color-background-secondary-dark: var(--color-secondary-dark);
    --color-background-tertiary: var(--color-tertiary);
    --color-background-tertiary-light: var(--color-tertiary-light);
    --color-background-tertiary-dark: var(--color-tertiary-dark);
    --color-background-disabled: var(--color-neutral-80);
    --color-background-muted: var(--color-neutral-90);
    --color-background-neutral-darkest: var(--color-neutral-0);
    --color-background-neutral-lightest: var(--color-neutral-100);
    --color-background-neutral-light: var(--color-neutral-95);

    /* text */
    --color-text-body: var(--color-neutral-0, #000);
    --color-text-base: var(--color-neutral-0, #000);
    --color-text-base-invert: var(--color-neutral-100, #fff);
    --color-text-link: var(--color-blue-40, blue);
    --color-text-link-hover: var(--color-blue-30, blue);
    --color-text-muted: var(--color-neutral-50);
    --color-text-on-disabled: var(--color-neutral-50);
    --color-text-primary: var(--color-primary);
    --color-text-primary-dark: var(--color-primary-dark);
    --color-text-secondary: var(--color-secondary);
    --color-text-warning: var(--color-orange-50);
    --color-text-neutral-lightest: var(--color-neutral-100, #fff);
    --color-text-neutral-darkest: var(--color-neutral-0, #000);

    /*doesnt change in dark mode*/
    --color-text-static: var(--color-neutral-0, #000);

    /* border */
    --color-border-base: var(--color-neutral-0);
    --color-border-base-invert: var(--color-neutral-100);
    --color-border-primary: var(--color-primary);
    --color-border-secondary: var(--color-secondary);
    --color-border-palette-1: var(--color-palette-1);
    --color-border-palette-2: var(--color-palette-2);
    --color-border-palette-3: var(--color-palette-3);
    --color-border-palette-4: var(--color-palette-4);
    --color-border-palette-5: var(--color-palette-5);
    --color-border-disabled: var(--color-neutral-80);
    --color-border-muted: var(--color-neutral-90);
    --color-border-neutral-lightest: var(--color-neutral-100, #fff);
    --color-border-neutral-darkest: var(--color-neutral-0, #000);

    --color-border-static: var(--color-neutral-0);
    color-scheme: light;
  }
}
