@layer type.scales {
  :root {
    /* Default scale: Major Third */
    --size-font-xxxx-large: 3.0625rem; /* 49px */
    --size-font-xxx-large: 2.4375rem; /* 39px */
    --size-font-xx-large: 1.9375rem; /* 31px */
    --size-font-x-large: 1.5625rem; /* 25px */
    --size-font-large: 1.25rem; /* 20px */
    --size-font-medium: 1rem; /* 16px */
    --size-font-small: 0.8125rem; /* 13px */
    --size-font-x-small: 0.625rem; /* 10px */

    /* Alternate scale (custom) */
    &[data-font-scale="custom"] {
      --size-font-xxxx-large: 4rem; /* 64px */
      --size-font-xxx-large: 3rem; /* 48px */
      --size-font-xx-large: 2rem; /* 32px */
      --size-font-x-large: 1.5rem; /* 24px */
      --size-font-large: 1.25rem; /* 20px */
      --size-font-medium: 1rem; /* 16px */
      --size-font-small: 0.875rem; /* 14px */
      --size-font-x-small: 0.75rem; /* 12px */
    }
  }
}
