@layer base {
  * {
    box-sizing: border-box;
  }

  .visually-hidden {
    position: absolute !important;
    overflow: hidden;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    word-wrap: normal !important;
  }

  html {
    background-color: var(--color-background-body);
    color: var(--color-text-body, #000);
    font-family: var(--font-body, sans-serif), sans-serif;
    font-feature-settings:
      "pnum" on,
      "lnum" on;
    font-variant-numeric: proportional-nums;
    font-variant-ligatures: common-ligatures;
    font-size: 100%;
    height: 100%;
    letter-spacing: 0;
    line-height: 1.5;
    scroll-behavior: smooth;
    scrollbar-gutter: stable;
    interpolate-size: allow-keywords;
    -moz-osx-font-smoothing: grayscale;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-overflow-scrolling: touch;
  }

  @supports (-webkit-font-smoothing: antialiased) {
    html {
      -webkit-font-smoothing: antialiased;
    }
  }

  body {
    margin: 0;
    background-color: var(--color-background-body);
    color: var(--color-text-body);
  }

  /* debugging */
  .baseline {
    background-image: linear-gradient(
      to bottom,
      rgba(255, 0, 128, 0.4) 1px,
      /* magenta line */ transparent 1px
    );
    background-size: 100% 24px;
  }

  /* .henk-wrapper::before, */
  .baseline-grid::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(
      to bottom,
      rgba(255, 0, 128, 0.3) 1px,
      transparent 1px
    );
    background-size: 100% 24px;
    pointer-events: none; /* let clicks go through */
    z-index: 9999; /* above everything */
  }

  img {
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    font-style: italic;
    height: auto;
    margin-bottom: 24px;
    max-width: 100%;
    shape-margin: 1rem;
  }

  .amp {
    font-family: Baskerville, Georgia, serif;
    font-style: italic;
  }

  em {
    font-style: italic;
  }

  a {
    color: var(--color-text-link);
    text-decoration-line: underline;
    -webkit-text-decoration-skip: ink;
    text-decoration-skip-ink: auto;
    text-decoration-thickness: 1px;
    text-underline-offset: 0.0875em;
    transition: all 0.2s ease;
  }

  a:focus,
  a:hover {
    text-underline-offset: 4px;
    color: var(--color-text-link-hover);
  }

  ul,
  ol {
    padding-left: 16px;
  }

  /* vertical rhythm  */
  p,
  ul,
  ol {
    margin-block: var(--vertical-rhythm, 24px);
  }

  dl {
    margin-block: 1.5rem;

    dt {
      font-weight: var(--font-weight-semibold);
    }
    dd {
      margin-inline-start: 0;
    }
  }
}

.henk-wrapper > .henk-main {
  padding-top: var(--size-height-header, 72px);
}
