.henk-section--stores {
}

.henk-section__grid--stores {
  display: grid;
  justify-content: center;
  align-items: start;
  gap: 48px;
  grid-template-columns: repeat(auto-fit, minmax(270px, clamp(270px, 100%, 455px)));
}

