section > div[class*="--bg-primary"]:first-of-type {
  background-color: var(--color-background-primary-light);
  color: var(--color-text-static);
}

section > div[class*="--bg-secondary"]:first-of-type {
  background-color: var(--color-background-secondary-light);
  color: var(--color-text-static);
}

section > div[class*="--bg-tertiary"]:first-of-type {
  background-color: var(--color-background-tertiary);
  color: var(--color-text-static);
}

section > div[class*="--bg-"]:first-of-type {
  .henk-link-button:hover {
    --_color-border-button: var(--_color-background-button-hover);
  }
}
