.henk-card {
  background-color: var(--color-background-neutral-light);
  border-radius: 8px;
  display: grid;
  justify-items: center;
  align-items: start;
}

.henk-card .henk-card__content {
  padding: 24px;
  display: grid;
  justify-content: center;
  justify-items: center;
  row-gap: 8px;
}

.henk-card__title {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-block: 0;
}

.henk-card__link--directions {
  font-size: 13px;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 8px;
}

.henk-card__link--directions.raw-address {
  align-items: flex-start;
}

.henk-card__link--directions:hover {
  text-decoration: underline;
}

.henk-card__button {
  margin-top: 24px;
}

picture.henk-card__picture {
  /* aspect-ratio: 460 / 382; */
  aspect-ratio: 2 / 3;
  max-height: 50%;
}

.henk-card__img {
  height: auto;
  border-radius: 8px 8px 0 0;
  object-fit: cover;
  margin: 0;
}

.henk-card__store-status {
  margin-bottom: 0;
}

.henk-card__store-status--open {
  color: var(--color-ui-text-success);
}

.henk-card__store-status--closed {
  color: var(--color-ui-text-danger);
}
