@layer components.logo {
  .henk-logo {
    --color-text-logo: var(--color-neutral-0, #000);
    --color-background-logo: var(--color-neutral-100, #fff);
    color: var(--color-text-logo);
    background-color: var(--color-background-logo);
    display: inline-flex;
    margin-block: 0;
    margin-inline: 0;
    padding-block: var(--space-4, 24px);
    padding-inline: 18px;
  }

  .henk-logo svg {
    display: block;
  }

  .henk-logo--default-inverted {
    --color-text-logo: var(--color-neutral-100);
    --color-background-logo: var(--color-neutral-0);
  }

  .henk-logo--primary {
    --color-text-logo: var(--color-text-secondary);
    --color-background-logo: var(--color-background-primary);
  }

  .henk-logo--secondary {
    --color-text-logo: var(--color-text-primary);
    --color-background-logo: var(--color-background-secondary);
  }

  .henk-logo--transparent {
    --color-background-logo: transparent;
  }
}
