@layer components.logo {
  /*dark mode*/
  [data-theme="dark"] {
    .henk-logo:not(.henk-logo--primary):not(.henk-logo--secondary):not(
        .henk-logo--default-inverted
      ),
    .henk-logo--default {
      --color-text-logo: var(--color-neutral-100, #fff);
      --color-background-logo: var(--color-neutral-0, #000);
    }

    .henk-logo--default-inverted {
      --color-text-logo: var(--color-neutral-0);
      --color-background-logo: var(--color-neutral-100);
    }
  }

  @media (prefers-color-scheme: dark) {
    :root:not([data-theme]) {
      .henk-logo:not(.henk-logo--primary):not(.henk-logo--secondary):not(
          .henk-logo--default-inverted
        ),
      .henk-logo--default {
        --color-text-logo: var(--color-neutral-100, #fff);
        --color-background-logo: var(--color-neutral-0, #000);
      }

      .henk-logo--default-inverted {
        --color-text-logo: var(--color-neutral-0);
        --color-background-logo: var(--color-neutral-100);
      }
    }
  }
}
