.cart__badge {
  font-size: 13px;
  font-weight: 500;
  position: absolute;
  bottom: 4px;
  left: 16px;
  background-color: var(--color-background-base-invert, #000);
  color: var(--color-text-base-invert, #fff);
  width: 24px;
  height: 24px;
  line-height: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition: all 0.3s ease;
}
