* {
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute !important;
  overflow: hidden;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  word-wrap: normal !important;
}

html {
  background-color: var(--color-background-body);
  color: var(--color-text-body, #000);
  font-family: var(--font-body, sans-serif), sans-serif;
  font-feature-settings:
    "pnum" on,
    "lnum" on;
  font-variant-numeric: proportional-nums;
  font-variant-ligatures: common-ligatures;
  font-size: 100%;
  height: 100%;
  letter-spacing: 0;
  line-height: 1.5;
  scroll-behavior: smooth;
  scrollbar-gutter: stable;
  interpolate-size: allow-keywords;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-overflow-scrolling: touch;
}

@supports (-webkit-font-smoothing: antialiased) {
  html {
    -webkit-font-smoothing: antialiased;
  }
}

body {
  margin: 0;
  background-color: var(--color-background-body);
  color: var(--color-text-body);
}

/* debugging */
.baseline {
  background-image: linear-gradient(
    to bottom,
    rgba(255, 0, 128, 0.4) 1px,
    /* magenta line */ transparent 1px
  );
  background-size: 100% 24px;
}

/* .henk-wrapper::before, */
.baseline-grid::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
    to bottom,
    rgba(255, 0, 128, 0.3) 1px,
    transparent 1px
  );
  background-size: 100% 24px;
  pointer-events: none; /* let clicks go through */
  z-index: 9999; /* above everything */
}

img {
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  font-style: italic;
  height: auto;
  margin-bottom: 24px;
  max-width: 100%;
  shape-margin: 1rem;
}

.amp {
  font-family: Baskerville, Georgia, serif;
  font-style: italic;
}

em {
  font-style: italic;
}

a:link {
  color: var(--color-text-link);
  text-decoration-line: underline;
  -webkit-text-decoration-skip: ink;
  text-decoration-skip-ink: auto;
  text-decoration-thickness: 1px;
  text-underline-offset: 0.0875em;
  transition: all 0.2s ease;
}

a:visited {
  color: var(--color-text-link-visited, lime);
}

a:focus,
a:hover {
  text-underline-offset: 4px;
  color: var(--color-text-link-hover);
}

a:active {
  color: var(--color-text-link-active, red);
}

:focus-visible {
  outline: 2px solid var(--color-text-link, purple);
  outline-offset: 2px;
}

ul,
ol {
  padding-left: 16px;
}

/* vertical rhythm  */
p,
ul,
ol {
  margin-block: var(--vertical-rhythm, 24px);
}

dl {
  margin-block: 1.5rem;

  dt {
    font-weight: var(--font-weight-semibold);
  }
  dd {
    margin-inline-start: 0;
  }

  dd + dt {
    margin-block-start: 1.5rem;
  }
}

small {
  font-size: 0.8125rem;
  line-height: 1.5;
  font-weight: inherit;
  display: inline;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  margin-block: var(--space-4, 24px);
  line-height: 1.5;
  letter-spacing: -0.025em;
  text-wrap: balance;
}

h1.fs-display,
.h1.fs-display {
  --_target-lh: 48;
  font-size: var(--size-font-xxxx-large);
  line-height: 72px;
}

h1,
.h1 {
  font-size: var(--size-font-xxx-large);
  line-height: 48px;
}

h2,
.h2 {
  font-size: var(--size-font-xx-large);
  line-height: 40px;
}

h3,
.h3 {
  font-size: var(--size-font-x-large);
  line-height: 32px;
}

h4,
.h4 {
  font-size: var(--size-font-large);
  line-height: 24px;
}

h5,
.h5 {
  font-size: var(--size-font-medium);
  line-height: 24px;
}

h6,
.h6 {
  font-size: var(--size-font-medium);
  line-height: 24px;
}

table {
  background-color: var(--color-background-base, #fff);
  border: 1px solid var(--color-border-muted, #ccc);
  border-collapse: collapse;
  margin-bottom: 1.5rem;
  width: 100%;

  caption {
    caption-side: top;
    font-size: var(--size-font-large, 20px);
    padding: var(--space-1, 4px);
    text-align: center;
    background-color: var(--color-background-muted, #ccc);
  }

  th,
  td {
    padding: var(--space-1, 4px);
    border-bottom: 1px solid var(--color-border-muted, #ccc);
    border-left: 1px solid var(--color-border-muted, #ccc);
  }

  th {
    font-weight: var(--font-weight-semibold, 500);
  }

  tbody {
    font-size: var(--size-font-small, 13px);
  }

  tbody th {
    font-weight: 400;
  }

  tfoot th {
    font-weight: 500;
  }

  th[scope="row"] {
    text-align: left;
  }

  &.henk-table--no-border {
    border: none;

    th,
    td {
      border: none;
    }
  }
}
