.henk-button {  
  --_color-button-background: var(--color-ui-surface-default);
  --_color-button-text: var(--color-alias-primary);
  --_color-button-border: var(--color-alias-primary);
  background-color: var(--_color-button-background);
  color: var(--_color-button-text);
  border: 1px solid var(--_color-button-border);
  border-radius: 3em;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
  line-height: 1.5;
  padding: 0.5625em 24px;
  text-decoration: none;
  font-family: var(--font-body, sans-serif), sans-serif;
  font-size: 1rem;
  transition: all 0.3s ease;
}

.henk-button:hover,
:hover span.henk-button {
  --_color-button-background: var(--color-ui-surface-quaternary);
  --_color-button-text: var(--color-alias-primary-dark);
  --_color-button-border: var(--color-alias-primary-dark);
}

.henk-button--primary {
  --_color-button-background: var(--color-ui-surface-primary);
  /* --_color-button-text: var(--color-alias-base-white); */
  --_color-button-text: var(--color-ui-text-on-primary);
  --_color-button-border: var(--color-ui-border-primary);
}

.henk-button--primary:hover {
  --_color-button-background: var(--color-alias-primary-dark);
  --_color-button-text: var(--color-ui-text-on-primary);
  --_color-button-border: var(--color-alias-primary-dark);
}

.henk-button--secondary {
 --_color-button-background: var(--color-ui-surface-secondary);
 --_color-button-text: var(--color-ui-text-on-secondary);
 --_color-button-border: var(--color-ui-border-secondary); 
}

.henk-button--secondary:hover {
  --_color-button-background: var(--color-alias-secondary-dark);
  --_color-button-text: var(--color-ui-text-on-secondary);
  --_color-button-border: var(--color-alias-secondary-dark);
}

.henk-button--tertiary {
  --_color-button-background: var(--color-ui-surface-tertiary);
  --_color-button-text: var(--color-ui-text-on-tertiary);
  --_color-button-border: var(--color-ui-border-tertiary);
}

.henk-button--tertiary:hover {
  --_color-button-background: var(--color-alias-tertiary-dark);
  --_color-button-text: var(--color-ui-text-on-tertiary);
  --_color-button-border: var(--color-alias-tertiary-dark);
}

/* same colour on top of same color */
[class*="--BG-primary"] .henk-button--primary,
[class*="--bg-primary"] .henk-button--primary {
  --_color-button-border: var(--color-ui-border-on-primary); 
}

[class*="--BG-secondary"] .henk-button--secondary,
[class*="--bg-secondary"] .henk-button--secondary {
  --_color-button-border: var(--color-ui-border-on-secondary); 
}

[class*="--BG-tertiary"] .henk-button--tertiary,
[class*="--bg-tertiary"] .henk-button--tertiary {
  --_color-button-border: var(--color-ui-border-on-tertiary); 
}