/* button-group.css */
.henk-button-group {
  display: flex;
  gap: 1rem;
  justify-content: flex-end;
  margin: 1.5rem 0;
}

.henk-button-group:last-child {
  margin-bottom: 0;
}

.henk-button-group--left {
  justify-content: flex-start;
}

.henk-button-group--center {
  justify-content: center;
}

.henk-button-group--right {
  justify-content: flex-end;
}

.henk-button-group--space-between {
  justify-content: space-between;
}

.henk-button-group--stacked {
  flex-direction: column;
  align-items: stretch;
}

.henk-button-group--fill {

}

.henk-button-group--fill .henk-button {
  flex: 1;
}

@media only screen and (max-width: 600px) {

.henk-button-group--mobile-stacked {
  flex-direction: column;
  align-items: stretch;
}
}
