.henk-button,
::part(henk-button) {    
  --_color-button-background: var(--color-ui-surface-henk-black);
  --_color-button-text: var(--color-ui-text-on-henk-black);
  --_color-button-border: var(--color-ui-border-henk-black);
  
  background-color: var(--_color-button-background);
  color: var(--_color-button-text);
  border: 1px solid var(--_color-button-border);
  border-radius: 3em;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
  line-height: 1.5;
  padding: 0.5625em 1.5em;
  text-decoration: none;
  font-family: var(--font-body, sans-serif), sans-serif;
  font-size: 1rem;
  transition: all 0.3s ease;
  /* min-height: 44px;
  min-width: 44px; */
}

.henk-button:hover,
a:hover span.henk-button {
  /* --_color-button-background: var(--color-ui-surface-black, #666);     */
  --_color-button-background: var(--color-ui-surface-sustainability-dark, #000);
}

.henk-button--default-inverted {  
  --_color-button-background: var(--color-ui-surface-transparent);
  --_color-button-text: var(--color-ui-text-default, #000);
}

.henk-button--default-inverted:hover {
  --_color-button-background: var(--color-ui-surface-henk-black, #000);
  --_color-button-text: var(--color-ui-text-on-henk-black, #fff);
}  

.henk-button--secondary {
 --_color-button-background: transparent;
 --_color-button-text: var(--color-ui-text-default);
 --_color-button-border: var(--color-ui-border-henk-black); 
}

.henk-button--secondary:hover {
  --_color-button-background: var(--color-ui-surface-primary);
  --_color-button-text: var(--color-ui-text-on-henk-black);
  --_color-button-border: var(--color-ui-border-henk-black);
}

/* outline-light */
.henk-button--outline-light {
 --_color-button-background: transparent;
 --_color-button-text: var(--color-ui-text-secondary);
 --_color-button-border: var(--color-ui-border-secondary);
}

.henk-button--outline-light:hover {
  --_color-button-background: var(--color-ui-surface-secondary);
  --_color-button-text: var(--color-ui-text-primary);
  --_color-button-border: var(--color-ui-border-primary);
}

/* icon-only button */
.henk-button--icon-only {
  padding-inline: 9px;
}

.henk-button:has(.icon--large) {
  padding-block: 9px;
}

/* disabled state */
.henk-button[disabled],
.henk-button[aria-disabled="true"] {
  --_color-button-background: var(--color-ui-surface-disabled);
  --_color-button-text: var(--color-ui-text-disabled);
  --_color-button-border: var(--color-ui-border-default);
  
  cursor: not-allowed;
}

/* loading state */
.henk-button[data-state="loading"] {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: relative;
  --color-spinner-loader: var(--_color-button-text);
  color: transparent;
  overflow: hidden;
}

.henk-button[data-state="loading"]:before, .henk-button[data-state="loading"]:after {
  border-radius: 50%;
  width: 1.5em;
  height: 1.5em;
  aspect-ratio: 1 / 1;
}

.henk-button[data-state="loading"]:before {
  position: absolute;
  display: block;
  content: "loading...";
  margin: 0 auto;
  font-size: 1em;
  text-indent: -9999em;
  border-top: 0.25em solid rgba(255, 255, 255, 0.2);
  border-right: 0.25em solid rgba(255, 255, 255, 0.2);
  border-bottom: 0.25em solid rgba(255, 255, 255, 0.2);
  /* spinning part */
  border-left: 0.25em solid var(--color-spinner-loader, #fff);
  transform: translateZ(0);
  animation: load8 1.1s infinite linear;
}

@keyframes load8 {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}

.henk-button[data-state="loading"][data-accent="transparent"]:not([data-text-color]) {
  --_color-button-text: var(--color-text-page);
  --color-border-button: var(--color-text-page);
}

.henk-button[data-state="loading"][data-accent="transparent"][data-text-color] {
  --color-border-button: var(--_color-button-text);
}

.henk-button--small {
  font-size: 0.8125em;
  line-height: 1.84615385em;
  padding: 3px 16px;
}

.henk-button--small.henk-button--icon-only {
  padding-inline: 3px;
}



.henk-button--link {
  background: none;
  border: none;
  color: var(--color-ui-text-action);
  text-decoration: underline;
  padding: 0;
  cursor: pointer;
}

.henk-button--link:hover {
  color: var(--color-ui-text-action-hover);
}

.henk-button--link[aria-disabled="true"] {
  opacity: 0.5;
  pointer-events: none;
}

/* .henk-button--link:disabled {
  color: gray;
  text-decoration: none;
  cursor: default;
} */