.henk-button {  
  --_color-button-background: var(--color-ui-surface-default);
  --_color-button-text: var(--color-ui-text-on-default);
  --_color-button-border: var(--color-ui-border-default);
  background-color: var(--_color-button-background);
  color: var(--_color-button-text);
  border: 1px solid var(--_color-button-border);
  border-radius: 3em;
  cursor: pointer;
  display: inline-block;
  line-height: 1;
  padding: 14px 32px;
}

.henk-button:hover {
  --_color-button-background: var(--color-ui-surface-default-hover);
  --_color-button-text: var(--color-ui-text-on-default);
  --_color-button-border: var(--color-ui-border-default-hover);
}

.henk-button--primary {
  --_color-button-background: var(--color-ui-surface-primary);
  --_color-button-text: var(--color-ui-text-on-primary);
  --_color-button-border: var(--color-ui-border-primary);
}

.henk-button--primary:hover {
  --_color-button-background: var(--color-ui-surface-primary-hover);
  --_color-button-text: var(--color-ui-text-on-primary);
  --_color-button-border: var(--color-ui-border-primary-hover);
}

.henk-button--secondary {
 --_color-button-background: var(--color-ui-surface-secondary);
 --_color-button-text: var(--color-ui-text-on-secondary);
 --_color-button-border: var(--color-ui-border-secondary); 
}

.henk-button--secondary:hover {
  --_color-button-background: var(--color-ui-surface-secondary-hover);
  --_color-button-text: var(--color-ui-text-on-secondary);
  --_color-button-border: var(--color-ui-border-secondary-hover);
}

.henk-button--tertiary {
  --_color-button-background: var(--color-ui-surface-tertiary);
  --_color-button-text: var(--color-ui-text-on-tertiary);
  --_color-button-border: var(--color-ui-border-tertiary);
}

.henk-button--tertiary:hover {
  --_color-button-background: var(--color-ui-surface-tertiary-hover);
  --_color-button-text: var(--color-ui-text-on-tertiary);
  --_color-button-border: var(--color-ui-border-tertiary-hover);
}

/* .henk-button--small {
  font-size: 12px;
  padding: 10px 16px;
}
.henk-button--medium {
  font-size: 14px;
  padding: 11px 20px;
}
.henk-button--large {
  font-size: 16px;
  padding: 12px 24px;
} */
