.henk-tag {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.3125rem 0.75rem;
  border-radius: 8px;
  font-size: 0.8125rem;
  line-height: 1.53846154;
  background-color: var(--color-ui-surface-henk-white, #fff);
  color: var(--color-ui-text-default, #000);
  border: 1px solid var(--color-ui-border-transparent);
}

.henk-tag--highlight {
  background-color: var(--color-ui-surface-highlight);
  color: var(--color-ui-text-on-highlight);  
}

/* .henk-tag--highlight .henk-icon {
  margin-right: 0.25rem;
} */

.henk-tag--sustainability {
  background-color: var(--color-ui-surface-sustainability);
  color: var(--color-ui-text-on-sustainability);  
}

.henk-tag--outlined {
  border: 1px solid var(--color-ui-border-primary);
}

.henk-tag:has(.icon--large) {
  padding-block: 3px;
}