.brick__shop-product-row {
}

.brick__shop-product-row .sh-l-grid {
  grid-template-columns: repeat(2, 1fr);
}

@media only screen and (max-width: 767px) {
  .brick__shop-product-row .mdl-shop-product[data-variant="ar-portrait"] .mdl-shop-product__content {
    grid-template-columns: 1fr;
  }

  .brick__shop-product-row .mdl-shop-product[data-variant="ar-portrait"] .mdl-shop-product__content .mdl-shop-product__price {
    grid-column: unset;
    text-align: unset;
    grid-row: unset;
  }
}

@media only screen and (min-width: 992px) {
  .brick__shop-product-row .sh-l-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}
