.filter .filter__btn + .filter__content {
  transform: translateX(-120%);
  transition: 0.3s ease all;
  background: #fff;
  z-index: 9999;
  width: 100%;
  position: absolute;
  padding-left: 0.75rem;
}
@media (min-width: 544px) {
  .filter .filter__btn + .filter__content {
    padding: 0 3rem 1rem 1rem;
  }
}
@media (min-width: 768px) {
  .filter .filter__btn + .filter__content {
    position: relative;
    z-index: 0;
    transform: translateX(0);
  }
}
.filter__btn {
  cursor: pointer;
  display: block;
}
@media (min-width: 768px) {
  .filter__btn {
    margin-bottom: 0.75rem;
  }
}
.filter__btn--close {
  float: right;
  opacity: 0;
}
.filter__title {
  display: block;
  margin: 0 0 1rem 0;
}
.filter__checklist {
  margin-left: 0;
  list-style: none;
  display: block;
}
.filter__checklist--item {
  display: block;
  margin-bottom: 0.5rem;
}
.filter__checklist--item label.checkbox::before, .filter__checklist--item label.checkbox::after {
  top: 50%;
  transform: translateY(-50%);
}
.filter__checklist--item.disabled {
  opacity: 0.24;
}
.filter__checklist--amount {
  padding-left: 0.5rem;
}
.filter__checklist--amount {
  padding-left: 0.5rem;
}
.filter__collapse-btn {
  display: block;
  cursor: pointer;
}

.filter__btn.filter-open + .filter__content {
  transition: 0.3s ease transform;
  transform: translateX(0);
  display: block;
}

@media (max-width: 767px) {
  .filter__btn.filter-open > .filter__btn--close {
    opacity: 1;
    transition: 0.3s ease opacity;
  }
}
