.mapContainer * + * {
  margin-top: 0;
}

.map {
  height: calc(100vh - 176px);
  margin-top: 1rem;
  position: relative;
  width: 100%;
  overflow: hidden;
}

.mapsPopup ul {
  font-size: 0.75rem;
  margin-top: 0.5rem;
}
.mapsPopup ul li:first-child {
  margin-bottom: 0;
}
.mapsPopup a:not(:first-of-type) {
  font-size: 1rem;
  margin-top: 0.5rem;
  position: relative;
  display: inline-block;
}

.mdl-stores-block {
  display: flex;
  flex-wrap: wrap;
  margin-top: 0.625rem;
}

.mdl-stores-block .col-sm-6 {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  margin-bottom: 0.625rem;
}

@media only screen and (min-width: 544px) {
  .mdl-stores-block .contact-details-content {
    flex: 1 1 auto;
    min-height: 40px;
  }
}
