.modal-open {
  overflow: hidden;
}

.modal {
  display: none;
  overflow: hidden;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin-top: 0;
  height: 100vh;
  background-color: #fff;
  z-index: 91080;
  -webkit-overflow-scrolling: touch;
  outline: 0;
}

.modal__close {
  z-index: 91081;
  cursor: pointer;
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  padding-bottom: 1.5rem;
}

.modal__close:before {
  content: "ESC";
  position: absolute;
  bottom: 0;
}

.modal.fade .modal-dialog {
  opacity: 0;
  -webkit-transition: opacity 0.3s linear, top 0.3s ease-out;
  -moz-transition: opacity 0.3s linear, top 0.3s ease-out;
  -ms-transition: opacity 0.3s linear, top 0.3s ease-out;
  -o-transition: opacity 0.3s linear, top 0.3s ease-out;
  transition: opacity 0.3s linear, top 0.3s ease-out;
}

.modal.in .modal-dialog {
  opacity: 1;
}

.modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto;
}

.modal-dialog {
  position: relative;
  width: 100%;
  padding: 2rem;
  margin-top: 4.5rem;
}

.modal-content {
  position: relative;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  outline: 0;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 91049;
  background-color: #fff;
}

.modal-backdrop.fade {
  opacity: 0;
  /* filter: alpha(opacity=0); */
}

.modal-backdrop.in {
  opacity: 0.99;
  /* filter: alpha(opacity=99); */
}

.modal-header {
  padding: 0;
}

.modal-header__title {
  display: block;
  margin-bottom: 0 !important;
}

.modal-header__subtitle {
  display: block;
  margin: 0;
  padding-bottom: 0.5rem;
}

.modal-title {
  margin: 0;
  line-height: 1.42857143;
}

.modal-body {
  position: relative;
  display: block;
  width: auto;
  height: auto;
  overflow: hidden;
}

.modal-body>img {
  display: block;
  width: 100%;
  height: auto;
}

.modal-body__form {
  margin-top: 3rem;
}

.modal-body .product-slider__prev-btn,
.modal-body .product-slider__next-btn {
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: 56789;
}

.touchevents .modal-body .product-slider__prev-btn,
.touchevents .modal-body .product-slider__next-btn {
  display: none !important;
}

.modal-scrollbar-measure {
  position: absolute;
  top: -9999px;
  width: 50px;
  height: 50px;
  overflow: scroll;
}

@media (min-width: 544px) {
  .modal-dialog {
    margin: 0 auto;
  }
}

@media (min-width: 768px) {
  .modal-dialog {
    margin: 1rem auto;
    padding: 1rem 1.5rem 1.5rem 1.5rem;
  }
}

@media (min-width: 992px) {
  .modal-dialog {
    width: 980px;
  }

  .modal-dialog.fabric {
    width: 100%;
  }
}

@media (min-width: 1366px) {
  .modal-dialog {
    width: 1240px;
  }
}

@media (min-width: 1920px) {
  .modal-dialog {
    width: 1500px;
  }
}

@media only screen and (max-width: 768px) {
  .modal.in>.modal-dialog {
    padding: 0;
  }

  .modal.in>.modal-dialog>.container {
    padding: 0;
  }
}