/* stylelint-disable selector-class-pattern */
@media only screen and (max-width: 767px) {
  .swiper {
    padding-bottom: 1rem !important;
  }
}

@media only screen and (min-width: 768px) {
  .swiper {
    padding-top: 24px !important;
  }
}

@media only screen and (min-width: 1440px) {
  .swiper {
    padding-left: 24px !important;
    padding-right: 24px !important;
  }
}

.sh-org-block+.swiper {
  margin-top: -16px;
  padding-bottom: 24px;
}

@media only screen and (max-width: 767px) {
  .sh-org-block+.swiper {
    margin-top: 0;
  }
}

@media only screen and (min-width: 768px) {
  .sh-org-block+.swiper {
    padding-top: 54px !important;
    margin-top: -75px;
  }
}

.swiper-scrollbar {
  display: none;
}

.swiper-wrapper {
  padding-left: 24px !important;
}

@media only screen and (min-width: 768px) {
  .swiper-wrapper {
    padding-top: 40px !important;
  }
}

@media only screen and (min-width: 1440px) {
  .swiper-wrapper {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}

.swiper-slide a {
  text-decoration: none;
}

.swiper-slide,
.swiper-slide img {
  border-radius: 5px;
}

.swiper-slide img {
  height: auto;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  content: "";
  display: none;
}

/* turn off prev and next arrows on mobile and tablet */
.swiper-button-prev,
.swiper-button-next {
  top: 24px !important;
}

.swiper-button-prev {
  left: auto !important;
  right: 115px !important;
}

@media only screen and (max-width: 767px) {

  .swiper-button-prev,
  .sh-custom-swiper-button-prev {
    display: none !important;
  }
}

.swiper-button-next {
  left: auto !important;
  right: 50px !important;
}

@media only screen and (max-width: 767px) {

  .swiper-button-next,
  .sh-custom-swiper-button-next {
    display: none !important;
  }
}

.swiper-button-prev svg,
.swiper-button-next svg {
  color: var(--color-henk-black, #f00);
}

.swiper-button-prev.--hidden svg {
  display: none;
}

.swiper-slide .item__content {
  margin: 1rem 0;
}

.swiper-slide .item__title {
  margin: 0;
  font-size: 1rem;
  line-height: 24px;
  text-transform: none;
  /* letter-spacing: 0.04em; */
  padding-left: 0;
}

.swiper-slide .item__caption {
  font-size: 0.75rem;
  line-height: 20px;
  /* letter-spacing: 1.2px; */
  margin: 0;
}

@media only screen and (min-width: 992px) {
  .swiper-slide .item__caption {
    font-size: 0.875rem;
    /* line-height: 28px;
    letter-spacing: 1.2px; */
  }
}

@media only screen and (min-width: 768px) {

  .swiper-button-prev,
  .swiper-button-next {
    display: flex;
  }

  .swiper-scrollbar {
    display: none;
  }
}

.swiper-pagination {
  bottom: 0 !important;
}

@media only screen and (min-width: 768px) {
  .swiper-pagination {
    display: none;
  }
}

.swiper-pagination.swiper-pagination-hero,
.swiper-pagination.swiper-pagination-sample-packs-fullwidth {
  display: block;
  bottom: 16px !important;
  right: 42px;
  z-index: 9;
  left: unset !important;
  width: auto !important;
  --swiper-pagination-bullet-inactive-color: rgba(255, 255, 255, 0.39);
}

.swiper-pagination.swiper-pagination-hero .swiper-pagination-bullet-active,
.swiper-pagination.swiper-pagination-sample-packs-fullwidth .swiper-pagination-bullet-active {
  --swiper-pagination-color: var(--color-white, #fff);
}

.swiper-pagination-bullet-active {
  --swiper-pagination-color: var(--color-accent16, #000);
}

.swiper[data-fullscreen="true"] {
  padding: 0 !important;
}

.swiper[data-fullscreen="true"] .swiper__header {
  display: none;
}

.swiper[data-fullscreen="true"] .swiper-wrapper {
  padding-left: 0 !important;
  padding-top: 0 !important;
}

.swiper[data-fullscreen="true"] .swiper-slide {
  position: relative;
}

.swiper[data-fullscreen="true"] .swiper-slide picture img {
  border-radius: 0;
}

.swiper[data-fullscreen="true"] .swiper-slide .item__content {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 99;
  color: white;
  padding: clamp(24px, 5.5vw, 64px);
  margin: 0;
  gap: 28px;
}

.swiper[data-fullscreen="true"] .swiper-slide .item__content .item__title {
  font-size: 1.5rem;
  line-height: 38px;
  /* letter-spacing: 1.2px;
  text-transform: none; */
  /*font-weight: 300;*/
}

@media only screen and (min-width: 768px) {
  .swiper[data-fullscreen="true"] .swiper-slide .item__content .item__title {
    font-size: 2.0625rem;
    line-height: 50px;
    /* letter-spacing: 0.07em; */
  }
}

.swiper[data-fullscreen="true"] .swiper-slide .item__content .item__title+* {
  margin-top: 14px;
}

.swiper[data-fullscreen="true"] .swiper-slide .item__content .sh-atom-button {
  margin-top: 24px;
}

.swiper[data-fullscreen="true"] .swiper-slide .item__content .samples__pack__samples {
  list-style: none;
  margin-bottom: 0;
  margin-left: 0;
  display: flex;
  column-gap: 12px;
}

.sh-org-block+.swiper .swiper-button-prev,
.sh-org-block+.swiper .swiper-button-next {
  background-color: transparent;
  width: 54px;
  height: 54px;
  border-radius: 50px;
  margin: 0;
  top: 0 !important;
  transition: background-color 0.3s ease;
}

.sh-org-block+.swiper .swiper-button-prev:hover,
.sh-org-block+.swiper .swiper-button-next:hover {
  background-color: var(--color-accent14, #f00);
}

.sh-org-block+.swiper .swiper-button-prev.--hidden:hover {
  background-color: transparent;
}