/* stylelint-disable
selector-class-pattern,
custom-property-pattern,
scss/dollar-variable-pattern
*/
.sh-molecule-section-header *+* {
  margin-top: 0;
}

.sh-molecule-section-header {
  display: flex;
  flex-direction: column;
  width: auto;
  align-items: center;
  max-width: 30em;
  margin-inline: auto;
  text-wrap: balance;
  gap: 24px;
}

.sh-molecule-section-header .sh-molecule-section-header__subtitle {
  color: currentcolor;
  margin: 0;
  font-size: 1rem;
  line-height: 1.5;
  text-align: center;
}

.sh-molecule-section-header .sh-molecule-section-header__title {
  color: currentcolor;
  margin: 0;
  text-align: center;
}

.sh-molecule-section-header.--reverse-order {
  flex-direction: column-reverse;
}

.sh-molecule-section-header+.sh-section__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-inline: auto;
  text-wrap: balance;
  max-width: 30em;
  text-align: center;
}

.sh-molecule-section-header+.sh-section__content .sh-section__intro {
  /* max-width: 30em; */
}

/* .sh-molecule-section-header + .sh-section__content .sh-atom-button {
  align-self: center;
} */

@media only screen and (min-width: 768px) {
  /* .sh-l-grid__item .sh-molecule-section-header + .sh-section__content {
    padding: 0 24px;
  } */
}

/* @media only screen and (min-width: 768px) {
  .sh-l-grid__item .sh-molecule-section-header {
    padding: 0 24px;
  }
}
@media only screen and (min-width: 768px) {
  .sh-org-block > .sh-molecule-section-header {
    padding-top: 24px;
  }
} */