.checkout {
  margin-top: 6rem;
}

.checkoutform-section {
  margin-top: 3rem;
}
.checkoutform-section__title {
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.5555555556;
  margin: 8px 0;
}
.checkoutform-section__radio {
  margin-bottom: 1rem;
}
.checkoutform-section__radio * + * {
  margin-top: 0;
}
.checkoutform-section__radio--label {
  margin-bottom: 0.25rem;
}
.checkoutform-section__radio label {
  padding-right: 1rem;
  margin-bottom: 0.5rem;
  display: inline-block;
}
.checkoutform-section__radio-list {
  margin-bottom: 1rem;
}
.checkoutform-section__aditionalinfo {
  padding: 1rem;
  background: rgba(0, 0, 0, 0.02);
  margin-bottom: 1rem;
  margin-top: 8px;
}
.checkoutform-section__aditionalinfo--title {
  font-weight: 400;
  margin: 8px 0;
}
.checkoutform-section__list {
  list-style: none;
  margin-top: 0;
  margin-left: 0;
}
.checkoutform-section__list--item {
  padding: 0.5rem 0;
}
.checkoutform-section__list--item * + * {
  margin-top: 0;
}
.checkoutform-section__list--item label {
  display: inline-block;
  padding-right: 1rem;
}
.checkoutform-section__list--item a {
  font-weight: 400;
}
.checkoutform-section__list--item-select {
  padding: 0.75rem 0 1.25rem 2rem;
}
.checkoutform-section__list--item-icon {
  display: inline-block;
}
.checkoutform-section__list--item-icon > img {
  height: 32px;
  margin: 0 auto;
}
.checkoutform-section__list .size-menu {
  margin: 0;
  list-style: none;
}
.checkoutform-section__btn {
  margin-top: 2rem;
}
.checkoutform-section .basic-input__label {
  white-space: nowrap;
}
.checkoutform-section .basic-input__label + .additionalinfo {
  margin-top: 0;
}
.checkoutform-section .row.button-group {
  display: flex;
  margin-left: 0;
  margin-right: 0;
}
.checkoutform-section .row.button-group * + * {
  margin-top: 0;
}

.checkout-summary {
  margin-top: 3rem;
}
.checkout-summary__list {
  list-style: none;
  margin-bottom: 1rem;
}
.checkout-summary__list--item > span {
  float: right;
}

/* New Design changes - */
.checkout-outer h2,
.checkout-outer h3 {
  text-align: left;
}

.checkout-outer table {
  margin: 40px 0;
}

.checkout-outer th {
  border-collapse: collapse;
  font-size: 1.0625rem;
}

.checkout-outer th {
  border-top: solid 0px #000 !important;
  font-size: 1.25rem;
  font-weight: normal;
}

.checkout-outer th:first-child {
  text-align: left;
}

.checkout-outer .media-body .media-heading {
  font-size: 24px !important;
}

.checkout-outer .media-body .media-heading a {
  color: #000;
}

.checkout-outer .media-body p {
  font-size: 15px !important;
}

.checkout-outer .media-left.pull-left {
  width: 150px;
  padding-right: 20px;
}

.checkout-outer tbody tr:first-child td {
  padding-top: 20px;
}

.checkout-outer input[type=number] {
  margin: 0;
  width: 120px;
  border: solid 1px #ccc;
  padding: 8px !important;
  height: auto;
}

.checkout-outer .table {
  border-bottom: solid 1px #ccc;
  margin-bottom: 0;
  position: relative;
}

.checkout-outer .amount-detals {
  float: right;
  margin-top: 0;
  width: 50%;
  border-bottom: solid 1px #ccc;
}

.checkout-outer .amount-detals h5 {
  margin: 0;
  font-size: 1.125rem;
}

.checkout-outer .amount-detals td {
  text-align: right;
  width: 60%;
  padding: 5px 50px;
}

.checkout-outer .amount-detals tr:last-child td {
  width: 40%;
}

.block-row-ckeckout {
  width: 100%;
  clear: both;
  text-align: right;
}

.block-row-ckeckout a {
  text-transform: uppercase;
  font-size: 1.125rem;
}

.mobile-right-qnt {
  text-align: center;
}

@media (max-width: 980px) {
  .checkout-outer .table,
  .checkout-outer .table tbody,
  .checkout-outer .table tr,
  .checkout-outer .table td {
    display: block;
  }
  .checkout-outer .table tr {
    display: block;
    border-top: 0;
  }
  .checkout-outer .table th {
    display: none;
  }
  .checkout-outer .table .col-sm-8.col-md-6 {
    width: 100%;
  }
  .checkout-outer .media-body .media-heading {
    max-width: 82%;
  }
  .checkout-outer .table .col-sm-8.col-md-6 .media > div {
    width: 50%;
  }
  .checkout-outer .table .col-sm-1.col-md-1 {
    width: 33.33%;
    float: left;
    height: 100px;
    border-top: 0px;
    text-align: left !important;
    border-bottom: solid 1px #ccc;
    position: static;
  }
  .checkout-outer .table .col-sm-1.col-md-1:not(.delete):before {
    content: "Price";
    display: block;
    font-size: 1.25rem;
  }
  .checkout-outer .table .col-sm-1.col-md-1 + .col-sm-1.col-md-1:before {
    content: "Quantity";
  }
  .checkout-outer .table .col-sm-1.col-md-1 + .col-sm-1.col-md-1 + .col-sm-1.col-md-1:before {
    content: "Total";
  }
  .checkout-outer .table .col-sm-1.col-md-1.delete:before {
    display: none;
  }
  .checkout-outer .table .col-sm-1.col-md-1.delete {
    padding: 0;
    height: 0;
    border: 0;
  }
  .checkout-outer .table .col-sm-1.col-md-1.delete a {
    position: absolute;
    top: 20px;
    right: 0;
  }
  .checkout-outer .table tr:after {
    clear: both;
    display: block;
    content: "";
    width: 100%;
  }
}
@media (max-width: 767px) {
  .checkout-outer .media-body .media-heading {
    max-width: 100%;
  }
  .checkout-outer .table .col-sm-8.col-md-6 .media > div {
    width: 100%;
  }
  .checkout-outer .media-left.pull-left {
    padding-right: 0px;
    margin-bottom: 30px;
  }
  .checkout-outer .table .col-sm-1.col-md-1 {
    width: 32%;
  }
  .checkout-outer .table .col-sm-1.col-md-1.delete {
    width: 4%;
    border-bottom: solid 1px #ccc !important;
    height: 100px;
    padding: 35px 0;
  }
  .checkout-outer .table .col-sm-1.col-md-1.delete span {
    display: none;
  }
  .checkout-outer .table .col-sm-1.col-md-1.delete a {
    position: static;
  }
  .checkout-outer .amount-detals {
    width: 100%;
  }
  .checkout-outer .amount-detals tr td:first-child {
    text-align: left;
  }
  .checkout-outer .amount-detals tr td {
    padding: 5px 0;
  }
  .block-row-ckeckout a {
    display: block;
    text-align: center;
  }
  .checkout-outer .table .col-sm-1.col-md-1.mobile-right-qnt {
    text-align: right !important;
  }
}
@media (max-width: 480px) {
  .checkout-outer .table .col-sm-1.col-md-1 {
    width: 50%;
  }
  .checkout-outer .table .col-sm-1.col-md-1 + .col-sm-1.col-md-1.text-center {
    width: 90%;
  }
  .checkout-outer .table .col-sm-1.col-md-1.delete {
    width: 10%;
  }
}
section.checkout-steps {
  padding-top: 12px;
}
/*********************************************
					CHECKOUT
*********************************************/
.bs-wizard {
  margin-top: 40px;
}

.bs-wizard {
  border-bottom: solid 1px #e0e0e0;
  padding: 0 0 10px 0;
}

.bs-wizard > .bs-wizard-step {
  padding: 0;
  position: relative;
}

.bs-wizard > .bs-wizard-step .bs-wizard-stepnum {
  color: #595959;
  font-size: 1rem;
  margin-bottom: 5px;
}

.bs-wizard > .bs-wizard-step .bs-wizard-info {
  color: #999;
  font-size: 0.875rem;
}

.bs-wizard > .bs-wizard-step > .bs-wizard-dot {
  position: absolute;
  width: 30px;
  height: 30px;
  display: block;
  background: #fbe8aa;
  top: 50px;
  left: 50%;
  margin-top: -15px;
  margin-left: -15px;
  border-radius: 50%;
}

.bs-wizard > .bs-wizard-step > .bs-wizard-dot:after {
  content: " ";
  width: 14px;
  height: 14px;
  background: #fbbd19;
  border-radius: 50px;
  position: absolute;
  top: 8px;
  left: 8px;
}

.bs-wizard > .bs-wizard-step > .progress {
  position: relative;
  border-radius: 0px;
  height: 8px;
  box-shadow: none;
  margin: 20px 0;
}

.bs-wizard > .bs-wizard-step > .progress > .progress-bar {
  width: 0px;
  box-shadow: none;
  background: #fbe8aa;
}

.bs-wizard > .bs-wizard-step.complete > .progress > .progress-bar {
  width: 100%;
}

.bs-wizard > .bs-wizard-step.active > .progress > .progress-bar {
  width: 50%;
}

.bs-wizard > .bs-wizard-step:first-child.active > .progress > .progress-bar {
  width: 0%;
}

.bs-wizard > .bs-wizard-step:last-child.active > .progress > .progress-bar {
  width: 100%;
}

.bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot {
  background-color: #f5f5f5;
}

.bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot:after {
  opacity: 0;
}

.bs-wizard > .bs-wizard-step:first-child > .progress {
  left: 50%;
  width: 50%;
}

.bs-wizard > .bs-wizard-step:last-child > .progress {
  width: 50%;
}

.bs-wizard > .bs-wizard-step.disabled a.bs-wizard-dot {
  pointer-events: none;
}

.bs-wizard * {
  /* border: 1px solid green !important; */
}

.bs-wizard > .bs-wizard-step > .progress {
  background-color: #f5f5f5;
}

.checkoutform-section {
  margin-top: 0 !important;
}

.progress-bar {
  float: left;
  width: 0;
  height: 100%;
  font-size: 0.75rem;
  line-height: 20px;
  color: #fff;
  text-align: center;
  background-color: #337ab7;
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
  transition: width 0.6s ease;
  /*border: 1px solid red !important;*/
}
