.contact {
  margin-top: 3rem;
}
.contact-details ul {
  margin-top: 0.25rem;
  margin-left: 0;
  margin-bottom: 0;
  padding-bottom: 1.5rem;
  list-style: none;
}
.contact-details__title {
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 21px;
  /* letter-spacing: 0.15em; */
  /* text-transform: uppercase; */
}
.contact-details__list {
  margin-top: 0.25rem;
  padding-bottom: 1.5rem;
  list-style: none;
}
.contact-intro {
  margin-bottom: 4.5rem;
}
.contact-intro__title {
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.5555555556;
  margin: 8px 0;
}
.contact .contact-information {
  margin-top: 1.5rem;
}
@media (min-width: 768px) {
  .contact .contact-information {
    margin-top: 0;
  }
}

.contact-details-content address {
  margin-top: 0;
}
