.cart-list {
  /*.cart-list__list-item * {
    margin: 0;
  }*/
  /* mobile only- sheet link */
  /* desktop only */
  /* .cart-list__list-item-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  } */
}

.cart-list .cart-list__header {
  /* fix stupid setting from base file */
  width: unset;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 12px;
  padding: 36px 16px 24px;
}

.cart-list .cart-list__header-title {
  margin: 0;
  font-size: 24px;
  line-height: 38px;
  /* letter-spacing: 1.2px; */
}

.cart-list .cart-list__header-badge {
  background: var(--color-henk-white);
  border-radius: 100%;
  display: inline-flex;
  width: 21px;
  height: 21px;
  line-height: 1;
  justify-content: center;
  align-items: center;
}

.cart-list .cart-list__list {
  margin: 0;
  padding: 0 16px;
  list-style: none;
}

.cart-list .cart-list__list-item {
  display: grid;
  grid-template-columns: 140px 1fr;
  grid-template-rows: 35px auto auto 35px auto;
  gap: 0px 20px;
  justify-items: flex-start;
  align-items: flex-start;
  padding-bottom: 0;
}

@media only screen and (min-width: 375px) {
  .cart-list .cart-list__list-item {
    grid-template-columns: 180px 1fr;
  }
}

.cart-list .cart-list__list-item-image {
  grid-row: 1 / span 4;
  height: auto;
  background-color: var(--color-accent5, #fff);
}

.cart-list .cart-list__list-item-content-title {
  grid-column: 2;
  grid-row: 1;
  line-height: 1;
  margin-top: 0;
}

@media only screen and (max-width: 767px) {
  .cart-list .cart-list__list-item-content-title {
    position: relative;
  }

  .cart-list .cart-list__list-item-content-title .sh-atom-tag {
    position: absolute;
    left: 16px;
    top: -28px;
    white-space: nowrap;
  }
}

.cart-list .cart-list__list-item .wc-stepper-quantity {
  margin: 0;
}

.cart-list .cart-list__list-item-content-grid {
  grid-column: 2;
  grid-row: 4;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin: auto auto 0 auto;
  gap: 8px;
  width: 100%;
}

.cart-list .sh-atom-button[data-variant="circle"] {
  border-width: 0.5px;
  background-color: transparent;
}

.cart-list .sh-atom-button[data-variant="circle"] svg {
  width: auto;
  height: auto;
}

.cart-list .cart-list__list-item-content-price {
  line-height: 1;
  margin: auto 0 auto auto;
}

.cart-list .cart-list__list-item-info {
  line-height: 28px;
  grid-column-start: 1;
  grid-column-end: 3;
  font-size: 12px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 0;
}

.cart-list .cart-list__list-item-info * {
  margin: 0;
}

.cart-list .cart-list__list-item+.cart-list__list-item {
  border-top: 1px solid #ccc;
  padding-top: 16px;
}

@media only screen and (min-width: 992px) {
  .cart-list .cart-list__list {
    background-color: var(--color-henk-white);
    /*padding: 24px 40px 24px 60px;*/
    padding: 28px 40px 28px 60px;
    display: grid;
    row-gap: 48px;
  }

  .cart-list .cart-list__list .cart-list__list-item {
    /* padding-bottom: 24px; */
    /*grid-template-columns: 128px 1fr 1fr;*/
    /*grid-template-columns: 128px 1fr 156px;*/
    grid-template-columns: 256px auto 50px 1fr;
    /*grid-template-rows: 28px auto 43px auto;*/
    /*grid-template-rows: repeat(4, 32px);*/
    /*grid-template-rows: repeat(4, auto);*/
    grid-template-rows: 28px 30% auto 1fr;
    align-items: flex-start;
  }

  .cart-list .cart-list__list .wc-stepper-quantity {
    grid-column: 2;
  }

  .cart-list .cart-list__list .side-modal {
    grid-column: 2;
    grid-row: 2;
  }

  .cart-list .cart-list__list .cart-list__list-item-content-grid {
    /*grid-column: 3;
    grid-row: 1 / span 4;
    margin: 0;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    top: 48px;*/
    grid-column: 4 / span 2;
    /*grid-row: 1/span 4;*/
    grid-row: 3;
    margin: 0;
    /*height: 100%;*/
    align-items: center;
    width: 150px;
    justify-self: flex-end;
  }

  .cart-list .cart-list__list .cart-list .cart-list__list-item-content-price {
    margin: 0;
  }

  .cart-list .cart-list__list .cart-list__list-item-info {
    grid-column: 2;
    /*line-height: inherit;*/
    align-self: flex-end;
    margin: 0;
  }

  .cart-list .cart-list__list .cart-list__list-item+.cart-list__list-item {
    border: 0;
    padding: 0;
  }
}

.prod-specs {
  font-size: 12px;
  line-height: 20px;
  padding: 0 20px 20px 20px;
}

.prod-specs ul {
  line-height: 26px;
}

.prod-specs abbr {
  text-decoration: none;
}

.side-modal .prod-specs {
  margin-top: 16px;
}