/* medium / base font size / 16px */
.fs-base,
.fs-md {
  font-size: 1rem;
  line-height: 1.5;
}

/* TODO: check line heights */
/* 13px */
.fs-sm {
  /* font-size: calc(var(--size-font-small) / var(--size-font-body) * 1rem); */
  font-size: calc(13 / 16 * 1rem);
  line-height: calc(20/13);
}

/* 10px */
.fs-xs {
  font-size: calc(10 / 16 * 1rem);
  line-height: calc(16/10);
}

